<%
if (typeof data != 'undefined' && data.length > 0) {
  for (var i = data.length - 1; i >= 0; i--) {
%>
<div class="row center-align">
  <div class="col s12">
    <div class="image-perfil" style="background-image: url(/assetsward/imagem_perfil/<%= data[i].imagem %>);margin: 15px auto;"></div>
  </div>
  <div class="col s12" style="line-height: 2.7;">
    <span><b><%= data[i].nome %></b></span><br>
    <small class="grey-text text-darken-3"><%= data[i].email %> </small>
    <span class="edit-button modal-mount" data-href="#modalinfo" data-link="/usuarios/editar/perfil/<%= data[i].id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
  </div>
</div>
<%
  }
}
%>
