<div class="cream tab-archive">Notificações</div>

<div class="card cream archive">
	
<!-- 	<div class="row center">
		<button class="btn bordo">Marcar Todos Como Visto</button>
	</div> -->

	<%- include('tabela_interna_index'); %>

</div>
  	