<section class="container" style="position: relative; top: 100px; padding: 20px">
  <div class="row">
    <form class="contato col s12">
      <div class="row white-text">
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Nome</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="col s12 m6">
          <label>Estado</label>
          <select class="browser-default">
            <option value="" disabled selected>Escolha seu Estado</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="col s12 m6">
          <label>Cidade</label>
          <select class="browser-default validate">
            <option value="" disabled selected>Escolha sua Cidade</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Celular</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Telefone</label>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Mensagem</label>
        </div>
      </div>
    </form>
  </div>
</section>