  </body>
  <footer class="page-footer black" style="bottom: 0 !important; left: 0 !important; right: 0 !important; width: 100% !important; margin-top: 0 !important; padding-top: 0;">
     <!-- position: absolute !important; -->
    <div class="container mapas">
      <div class="row to-align">
        <!-- <div id="logo-footer" class="col s10 offset-s1 m5 offset-m1 l3 center">
          <a class="ajax-load" href="/">
            <img src="/assets/imgs/logoW.png" style="width: 100%;">
          </a>
        </div>
        <div class="col s12 m6 l3 center" style="padding: 20px 0 20px 0 !important">
          <h5 class="def-h5">CONTATO:</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/Young-Dias-Lauxen-Lima-Advogados-109269385838608/">FACEBOOK.COM/YOUNG</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="http://twitter.com/youngadvogados">TWITTER.COM/YOUNG</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="mailto:duvidas@young.adv.br">DUVIDAS@YOUNG.ADV.BR</a></li>
            <li><a class="grey-text text-lighten-3" href="tel:+555135902079">(51) 3590.2079</a></li>
            <li><a class="grey-text text-lighten-3" href="tel:+555135895507">(51) 3589.5507</a></li>
          </ul>
        </div> -->
        <div class="col s12 m6">
          <h5 class="def-h5 center" style="margin: .82rem 0 0 0;">Porto Alegre</h5>
          <p class="center" style="margin-top: 0; margin-bottom: 10px; min-height: 3em">Av. Getúlio Vargas, 774 - Menino Deus</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.4869750411817!2d-51.223889884307326!3d-30.051572781879813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951978f631d5dbd3%3A0x7a009b83f7abae65!2sAv.+Get%C3%BAlio+Vargas%2C+774+-+301+-+Menino+Deus%2C+Porto+Alegre+-+RS%2C+90150-002!5e0!3m2!1spt-BR!2sbr!4v1521747341840" width="100%" height="200" frameborder="0" style="border:0; border-radius: 5px;" allowfullscreen></iframe>
        </div>
        <div class="col s12 m6">
          <h5 class="def-h5 center" style="margin: .82rem 0 0 0;">São Leopoldo</h5>
          <p class="center" style="margin-top: 0; margin-bottom: 10px; min-height: 3em">R. Primeiro de Março, 113 - conj. 101 e 401 - Centro</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3463.507258032323!2d-51.14994898431249!3d-29.762970581985485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95196848ac089a9b%3A0x2324673c092ecfcc!2sR.+Primeiro+de+Mar%C3%A7o%2C+113+-+conj.+101+e+401+-+Centro%2C+S%C3%A3o+Leopoldo+-+RS!5e0!3m2!1spt-BR!2sbr!4v1521747152282" width="100%" height="200" frameborder="0" style="border:0; border-radius: 5px;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div id="mapa-do-site" class="container">
      <div class="row mapa-wrapper">  
        <h5 class="mapa-title">Mapa do Site</h5>
        <div class="grad-line"></div>
        <div class="col s6 l4">
          <a href=""><h5 class="mapa-menu">Home</h5></a>
          <a href=""><h5 class="mapa-menu">Equipe</h5></a>
          <a href=""><h5 class="mapa-menu">Escritório</h5></a>
          <a href=""><h5 class="mapa-menu">Contato</h5></a>
        </div>
        <div class="col s6 l8 mapa-areas-wrapper">
          <a href="/areasdeatuacao"><h5 class="mapa-menu">Areas de Atuação</h5></a>
          <div class="col s12 m6">
            <a href="/areasdeatuacao#direito-civil"><p class="white-text">Direito Civil</p></a>
            <a href="/areasdeatuacao#direito-servidores-publicos"><p class="white-text">Direito dos Servidores Públicos</p></a>
            <a href="/areasdeatuacao#direito-previdencia"><p class="white-text">Previdência e INSS</p></a>
            <a href="/areasdeatuacao#direito-civil-indenizacoes"><p class="white-text">Direito do Consumidor</p></a>
            <a href="/areasdeatuacao#direito-mediacao-e-conciliacao"><p class="white-text">Mediação e Conciliação</p></a>
          </div>
          <div class="col s12 m6">
            <a href="/areasdeatuacao#direito-planejamento-patrimonial"><p class="white-text">Planejamento Patrimonial</p></a>
            <a href="/areasdeatuacao#direito-de-seguros"><p class="white-text">Direito de Seguros</p></a>
            <a href="/areasdeatuacao#direito-trabalhista"><p class="white-text">Direito Trabalhista</p></a>
            <a href="/areasdeatuacao#direito-sindical"><p class="white-text">Assessoria Sindical</p></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------- footer copyright --------------- -->
    <div class="footer-copyright">
      <div class="row">
        <div class="col s12 m6 l4 center logo-low">
         <a class="ajax-load" href="/" style="">
               <img src="/assets/imgs/logoW.png" style="width: 80%;">
            </a>
        </div>
        <div class="col s12 m6 l4 center contato-footer" style="float: right;">
          <h5 class="def-h5">CONTATO:</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="http://twitter.com/youngadvogados">TWITTER.COM/YOUNG</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.facebook.com/Young-Dias-Lauxen-Lima-Advogados-109269385838608/">FACEBOOK.COM/YOUNG</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="mailto:duvidas@young.adv.br">DUVIDAS@YOUNG.ADV.BR</a></li>
            <!-- <li><a class="grey-text text-lighten-3" target="_blank" href="mailto:i2juqbspdhuwaic2@ethereal.email">DUVIDAS@YOUNG.ADV.BR</a></li> -->
            <li><a class="grey-text text-lighten-3" href="tel:+555135902079">Porto Alegre: (51) 3590.2079</a></li>
            <li><a class="grey-text text-lighten-3" href="tel:+555135895507">São Leopoldo: (51) 3589.5507</a></li>
          </ul>
        </div>
        <div class="col s12 l4 copyright" style="height: 200px; position: relative;">
          <div class="container center" style="position: absolute; width: 100%; bottom: 0;">
            <p>
              © 2018 Copyright | Feito por <a class="grey-text text-lighten-4" href="http://mvizio.com.br">Menso Vizio</a>
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="container center">
        © 2018 Copyright | Feito por <a class="grey-text text-lighten-4" href="http://mvizio.com.br">Menso Vizio</a>
      </div> -->
    </div>
  </footer>
  <div class=""></div>
</html>

<style type="text/css">
  .page-footer .footer-copyright {
    background-color: #131313;
  }
</style>