<!DOCTYPE html>
<html>
  <head>
    <title>Young, Dias, Lauxen & Lima Advogados</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pt-br.js"></script>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.mask.js"></script>
		<script src="/assets/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery-1.9.1.min.js"></script><!-- testimonial novo -->
		<script type="text/javascript" src="/assets/js/alpha.min.js"></script><!-- testimonial novo -->
		<!-- <script src="/assets/js/testimonial.js"></script> -->
		<script type="text/javascript" src="https://embed.modernapp.co/chat?code=0c1cc0f7577081d7468e0c2c43bb52f1"></script>
		<script src="//cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script> <!-- blog -->
		<script src="/assets/js/adapters/jquery.js"></script> <!-- pra converter em jquery -->
		<script src="/assets/js/main.js"></script>
    <link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/assets/css/materialize.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css' />
    <link href="/assets/css/alpha.css" rel="stylesheet" type="text/css"/><!-- testimonial novo -->
    <!-- <link rel='stylesheet' href='/assets/css/testimonial.min.css' /> -->
    <link rel='stylesheet' href='/assets/css/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="A Young, Dias, Lauxen & Lima Advogados Associados, é um escritório de advocacia que tem como política de atuação, atender os clientes com o comprometimento necessário para solucionar demandas e satisfazer expectativas." />
		<meta name="keywords" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="abstract" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="author" content="Rafael Kunz" />
  </head>
  <body class="brown-bg">
  	<header>
<!--   	 style="position: absolute !important; padding-bottom: 23rem !important; min-height: 100% !important" -->
			<div id="top-mob" class="container-full" style="background-color: #2d2d2d !important;">
				<div class="row">
					<div class="col s6 m4 offset-m2 center top-num"><a class="valign-wrapper" href="tel:+5551999254616"><i class="fa fa-phone-square left"></i>[51] 3590.2079</a></div>
					<div class="col s6 m4 center top-num"><a class="valign-wrapper" href="tel:+5551982032398"><i class="fa fa-phone-square left"></i>[51] 3589.5507</a></div>
				</div>
			</div>
			<nav class="fit-trans-bg new-nav">
	  		<div class="container" style="max-width: 1920px !important; width: 100% !important;">
			    <div class="nav-wrapper">
			      <div class="row">
			      	<a href="/#" class="img-logo col s5 offset-s1 m4 offset-m1 ajax-load"><img src="/assets/imgs/logo.png" style="max-width: 100%; /*max-height: 85px;*/"></a>
				      <ul class="right hide-on-med-and-down large-info col s6">
				        <li class="col s12 m6 center"><a class="valign-wrapper" href="tel:+5551999254616"><i class="fa fa-phone-square left"></i>[51] 3590.2079</a></li>
				        <li class="col s12 m6 center"><a class="valign-wrapper" href="tel:+5551982032398"><i class="fa fa-phone-square left"></i>[51] 3589.5507</a></li>
				      </ul>
			      </div>
			    </div>
		  	</div>
		  </nav>

	    <ul id="slide-header" class="side-nav">
		    <li id="side-nav-nome">
		    	<div class="user-view">
			      <div class="background">
			        <img src="/assets/imgs/scale-bg.png">
			      </div>
			      <a href="/#" class="ajax-load"><img class="ajax-load" src="/assets/imgs/parallax-logo.png" style="max-width: 50%; margin: 0 25%;"></a>
			      <a href="/contato"><span class="white-text center name ajax-load">Young, Dias, Lauxen & Lima</span></a>
			      <a href=""><span class="white-text center email ajax-load">duvidas@young</span></a>
			      <a href=""><span class="white-text center email ajax-load">(51) 3590.2079</span></a>
			      <a href=""><span class="white-text center email ajax-load">(51) 3589.5507</span></a>
			    </div>
			  </li>
		    <li><div class="divider"></div></li>
		    <li><a href="/#" class="waves-effect ajax-load"></i>Home</a></li>
		    <li><a href="/areasdeatuacao" class="waves-effect ajax-load">Areas de Atuação</a></li>
		    <li><a href="#!" class="waves-effect ajax-load">Escritório</a></li>
		    <li><a href="/equipe" class="waves-effect ajax-load">Equipe</a></li>
		    <li><a href="/post" class="waves-effect ajax-load">Blog</a></li>
		    <li><a href="/contato" class="waves-effect ajax-load">Contato</a></li>
		  </ul>
		  <a href="#" data-activates="slide-header" class="button-collapse hide-on-large-only" style="font-size: 2.5em !important; right: 25px !important; top: 60px !important; color: #fff !important; position: absolute !important;"><i class="fa fa-bars" aria-hidden="true"></i></a>

			<div class="section no-pad-bot no-margin" id="index-banner">
		    <div class="container container-full bg-image">
		      <br><br><br><br>
		      <div class="row">
		      	<h1 id="text-lutamos" class="header right white-text" style="font-size: 4.5rem; padding-right: 0.5em; text-align: right;">NÓS LUTAMOS<br>POR VOCÊ.</h1>
		      </div>
		      <div class="row center facebot">
		        <a href="#!" id="fale-conosco" class="btn-large waves-effect waves-light black">FALE CONOSCO ONLINE</a>
		      </div>
		      <br><br>
		    </div>
		  </div>
		  <div class="container menus hide-on-small-only">
			  <nav class="trans-bg main-nav nav-center" role="navigation">
			    <div class="nav-wrapper">
			      <ul id="nav-mobile" style=" position: absolute; top: 0; bottom: 0; margin: auto; left: 0; right: 0;">
			        <li><a href="/#" class="ajax-load"><h5 class="def-h5">HOME</h5></a></li>
			        <li><a href="/areasdeatuacao" class="ajax-load"><h5 class="def-h5">ÁREAS DE ATUAÇÃO</h5></a></li>
			        <li><a href="#!" class="ajax-load"><h5 class="def-h5">ESCRITÓRIO</h5></a></li>
			        <li><a href="/equipe" class="ajax-load"><h5 class="def-h5">EQUIPE</h5></a></li>
			        <li><a href="/post" class="ajax-load"><h5 class="def-h5">BLOG</h5></a></li>
			        <li><a href="/contato" class="ajax-load"><h5 class="def-h5">CONTATO</h5></a></li>
			      </ul>
			    </div>
			  </nav>
			  <div class="grad-line"></div>
			</div>
		</header>
