<!DOCTYPE html>
<html>
  <head>
    <title>Young, Dias, Lauxen & Lima Advogados</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pt-br.js"></script>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.mask.js"></script>
		<script src="/assets/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>
		<script src="/assets/js/testimonial.js"></script>
		<script type="text/javascript" src="https://embed.modernapp.co/chat?code=0c1cc0f7577081d7468e0c2c43bb52f1"></script>
		<script src="/assets/js/main.js"></script>
    <link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/assets/css/materialize.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css' />    
    <link rel='stylesheet' href='/assets/css/testimonial.min.css' />
    <link rel='stylesheet' href='/assets/css/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="A Young, Dias, Lauxen & Lima Advogados Associados, é um escritório de advocacia que tem como política de atuação, atender os clientes com o comprometimento necessário para solucionar demandas e satisfazer expectativas." />
		<meta name="keywords" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="abstract" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="author" content="Rafael Kunz" />
  </head>
  <body class="brown-bg">
<!--   	 style="position: absolute !important; padding-bottom: 23rem !important; min-height: 100% !important" -->
		<nav class="fit-trans-bg new-nav">
  		<div class="container" style="max-width: 1280px !important; width: 100% !important;">
		    <div class="nav-wrapper">
		      <div class="row">
		      	<a href="/" class="img-logo col s4 offset-s1"><img src="/assets/imgs/logo.png" style="max-width: 100%; max-height: 85px;"></a>
			      <ul class="right hide-on-small-only large-info col s6">
			        <li><a class="valign-wrapper" href="tel:+5551999254616"><i class="fa fa-phone-square left"></i>[51] 99999.9999</a></li>
			        <li><a href="tel:+5551982032398">[51] 99999.9999</a></li>
			      </ul>
		      </div>
		    </div>
	  	</div>
	  </nav>

		<div class="section no-pad-bot no-margin" id="index-banner">
	    <div class="container container-full bg-image">
	      <br><br><br><br>
	      <div class="row">
	      	<h1 class="header right white-text" style="font-size: 4.5rem; padding-right: 0.5em; text-align: right;">NÓS LUTAMOS<br>POR VOCÊ.</h1>
	      </div>
	      <div class="row center facebot">
	        <a href="http://materializecss.com/getting-started.html" id="fale-conosco" class="btn-large waves-effect waves-light black">FALE CONOSCO ONLINE</a>
	      </div>
	      <br><br>
	    </div>
	  </div>
	  <div class="container">
		  <nav class="trans-bg main-nav nav-center" role="navigation">
		    <div class="nav-wrapper">
		      <ul id="nav-mobile" class="hide-on-small-only">
		        <li><a href="/"><h5 class="def-h5">HOME</h5></a></li>
		        <li><a href="#!"><h5 class="def-h5">QUEM SOMOS</h5></a></li>
		        <li><a href="#!"><h5 class="def-h5">ÁREAS DE ATUAÇÃO</h5></a></li>
		        <li><a href="#!"><h5 class="def-h5">ESCRITÓRIO</h5></a></li>
		        <li><a href="/equipe"><h5 class="def-h5">EQUIPE</h5></a></li>
		        <li><a href="#!"><h5 class="def-h5">BLOG</h5></a></li>
		        <li><a href="/contato"><h5 class="def-h5">CONTATO</h5></a></li>
		      </ul>
		    </div>
		  </nav>
		  <div class="grad-line"></div>
		</div>
