<!DOCTYPE html>
<html>
  <head>
    <title>Young, Dias, Lauxen & Lima Advogados</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pt-br.js"></script>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.mask.js"></script>
		<script src="/assets/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>
		<script src="/assets/js/main.js"></script>
    <link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/assets/css/materialize.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css' />
    <link rel='stylesheet' href='/assets/css/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="A Young, Dias, Lauxen & Lima Advogados Associados, é um escritório de advocacia que tem como política de atuação, atender os clientes com o comprometimento necessário para solucionar demandas e satisfazer expectativas." />
		<meta name="keywords" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="abstract" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="author" content="Rafael Kunz" />
  </head>
  <body class="black">
		<nav class="fit-trans-bg new-nav">
  		<div class="container" style="max-width: 1280px !important; width: 100%;">
		    <div class="nav-wrapper">
		      <a href="#!" class="img-logo col s6"><img src="/assets/imgs/logo.png" style="max-width: 100%; max-height: 85px;"></a>
		      <ul class="right hide-on-med-and-down large-info col s6">
		        <li><a class="valign-wrapper" href="tel:+5551999254616"><i class="fa fa-phone-square left"></i>[51] 99999.9999</a><li>
		        <li><a href="tel:+5551982032398">[51] 99999.9999</a></li>
		      </ul>
		    </div>
	  	</div>
	  </nav>

