<!DOCTYPE html>
<html>
  <head>
    <title>Young, Dias, Lauxen & Lima Advogados</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pt-br.js"></script>
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.mask.js"></script>
		<script src="/assets/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.js"></script>
		<script type="text/javascript" src="/assets/js/alpha.js"></script><!-- testimonial novo -->
		<!-- <script src="/assets/js/testimonial.js"></script> -->
		<script src="jquery.typewriter.js"></script>
		<script type="text/javascript" src="https://embed.modernapp.co/chat?code=0c1cc0f7577081d7468e0c2c43bb52f1"></script>
		<script src="//cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script> <!-- blog -->
		<script src="/assets/js/adapters/jquery.js"></script> <!-- pra converter em jquery -->
		<script src="/assets/js/main.js"></script>
    <link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/assets/css/materialize.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.1/fullcalendar.print.css' />
    <link href="/assets/css/alpha.css" rel="stylesheet" type="text/css"/><!-- testimonial novo -->
    <!-- <link rel='stylesheet' href='/assets/css/testimonial.min.css' /> -->
    <link rel='stylesheet' href='/assets/css/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="description" content="A Young, Dias, Lauxen & Lima Advogados Associados, é um escritório de advocacia que tem como política de atuação, atender os clientes com o comprometimento necessário para solucionar demandas e satisfazer expectativas." />
		<meta name="keywords" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="abstract" content="Direito, Advocacia, Escritório de Direito, Escritório de Advocacia, Trabalhista, Assesoria Sindical, Previdenciário, Cível, Família e Sucessões" />
		<meta name="author" content="Rafael Kunz" />
  </head>
  <body class="brown-bg">
  	<header>
<!--   	 style="position: absolute !important; padding-bottom: 23rem !important; min-height: 100% !important" -->
			<div id="top-mob" class="container-full" style="background-color: #13100f !important;">
<!-- 				<div class="row">
					<div class="col s10 offset-s1 m4 offset-m4">
						<img src="/assets/imgs/logo.png">
					</div>
				</div> -->
				<div class="row info" style="position: relative;">
					<div class="menu-bars col s2">
						<a href="#" data-activates="slide-header" class="button-collapse hide-on-large-only white-text"><i class="fa fa-bars" aria-hidden="true"></i></a>
					</div>
					<div class="col s12 l4 logo center">
						<a href="/#"><img src="/assets/imgs/logo.png" style="margin: 5px 0 5px 20px; max-height: 80px;"></a>
					</div>
					<!-- <div class="col s12 m6">
						<div class="col s6 center top-num">
							<div class="col s12">
								<h5 class="def-h5 white-text">Porto Alegre</h5>
							</div>
							<div class="col s12">
							<a class="valign-wrapper" href="tel:+5551999254616"><i class="fa fa-phone-square left"></i>[51] 3590.2079</a>
							</div>
						</div>
						<div class="col s6 center top-num">
							<div class="col s12">
								<h5 class="def-h5 white-text">São Leopoldo</h5>
							</div>
							<div class="col s12">
								<a class="valign-wrapper" href="tel:+5551982032398"><i class="fa fa-phone-square left"></i>[51] 3589.5507</a>
							</div>
						</div>
						<div class="col s12">
							<a href="mailto:"><i class="fa fa-mail left"></i></a>
						</div>
					</div> -->
					<div class="col s12 l8 hide-on-med-and-down">
						<div class="col s6 l6 offset-l5 center top-num hide-on-med-and-down">
							<div class="col s12">
								<h5 class="def-h5 white-text">Porto Alegre: <a href="tel:+555135902079"> [51] 3590.2079</a></h5>
							</div>
							<div class="col s12">
								<h5 class="def-h5 white-text">São Leopoldo: <a href="tel:+555135895507">[51] 3589.5507</a></h5>
							</div>
						</div>
						<div class="col s6 l6 l8 center top-num-mob hide-on-large-only">
							<div class="col s12">
								<h5class="def-h5 white-text"><i class="fa fa-phone-square"></i><a href="tel:+555135902079">[51] 3590.2079</a></h5>
							</div>
							<div class="col s12 hide-on-large-only">
								<h5 class="def-h5 white-text"><i class="fa fa-phone-square"></i><a href="tel:+555135895507">[51] 3589.5507</a></h5>
							</div>
						</div>
<!-- 						<div class="col s6 l4 center top-num">
							<div class="col s12 icones-sociais">
								<a title="facebook.com/young" href="https://www.facebook.com/Young-Dias-Lauxen-Lima-Advogados-109269385838608/">
									<i class="fa fa-facebook-square"></i>
								</a>
								<a title="twitter.com/young" href="http://twitter.com/youngadvogados">
									<i class="fa fa-twitter-square"></i>
								</a>
								<a title="duvidas@young.adv.br" href="mailto:i2juqbspdhuwaic2@ethereal.email">
									<i class="fa fa-envelope"></i>
								</a>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			<!-- <nav class="fit-trans-bg new-nav">
	  		<div class="container" style="max-width: 1920px !important; width: 100% !important;">
			    <div class="nav-wrapper">
			      <div class="row">
			      	<a href="/#" class="img-logo col s5 offset-s1 m4 offset-m1 ajax-load"><img src="/assets/imgs/logo.png" style="max-width: 100%; /*max-height: 85px;*/"></a>
				      <ul class="right hide-on-med-and-down large-info col s6">
				        <li class="col s12 m6 center"><a class="valign-wrapper" href="tel:+5551999254616"><i class="fa fa-phone-square left"></i>[51] 3590.2079</a></li>
				        <li class="col s12 m6 center"><a class="valign-wrapper" href="tel:+5551982032398"><i class="fa fa-phone-square left"></i>[51] 3589.5507</a></li>
				      </ul>
			      </div>
			    </div>
		  	</div>
		  </nav> -->

	    <ul id="slide-header" class="side-nav">
		    <li id="side-nav-nome">
		    	<div class="user-view">
			      <div class="background">
			        <img src="/assets/imgs/scale-bg.png">
			      </div>
			      <a href="/#" class="ajax-load"><img class="ajax-load" src="/assets/imgs/parallax-logo.png" style="max-width: 50%; margin: 0 25%;"></a>
			      <a href="/contato"><span class="white-text center name ajax-load">Young, Dias, Lauxen & Lima</span></a>
			      <a href=""><span class="white-text center email ajax-load"><i class="fa fa-envelope"></i> duvidas@young</span></a>
			      <a href=""><span class="white-text center email ajax-load"><i class="fa fa-phone"></i> (51) 3590.2079</span></a>
			      <a href=""><span class="white-text center email ajax-load"><i class="fa fa-phone"></i> (51) 3589.5507</span></a>
			    </div>
			  </li>
		    <li><div class="divider"></div></li>
		    <li><a href="/#" class="waves-effect ajax-load">Home</a></li>
		    <li><a href="/areasdeatuacao" class="waves-effect ajax-load">Areas de Atuação</a></li>
		    <li><a href="escitorio" class="waves-effect ajax-load">Escritório</a></li>
		    <li><a href="/equipe" class="waves-effect ajax-load">Equipe</a></li>
		    <li><a href="/post" class="waves-effect ajax-load">Blog</a></li>
		    <li><a href="/contato" class="waves-effect ajax-load">Contato</a></li>
		  </ul>
		  <!-- <a href="#" data-activates="slide-header" class="button-collapse hide-on-large-only" style="font-size: 2.5em !important; right: 25px !important; top: 60px !important; color: #fff !important; position: absolute !important;"><i class="fa fa-bars" aria-hidden="true"></i></a>
 -->
			<div class="section no-pad-bot" id="index-banner">
		    <div class="card horizontal hide-on-large-only" style="position: absolute; right: 10px; bottom: 40px; z-index: 10; border: 1px solid rgba(255, 220, 116, 0.61)">
		      <div class="card-stacked" style="padding: 0 10px 10px 10px">
		        <div class="card-content white-text center" style="padding: 12px; font-size: 18px;">
		          <p>Baixe nosso ebook "Conheça Seus Direitos"</p>
		        </div>
		        <div class="card-action center" style="margin: 0 auto; width: 80%; padding: 0; border-radius: 2px; border: 1px solid rgba(255,255,255,0.5); background: rgb(255,214,94); background: -moz-linear-gradient(45deg, rgba(255,214,94,1) 0%, rgba(255,232,170,1) 51%, rgba(255,214,94,1) 100%); background: -webkit-linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%); background: linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#ffd65e',GradientType=1 );">
		          <a href="#" style="color: #000; margin-right: 0">
		          	<h5 id="typewriter" class="def-h5" style="margin: 0; padding: 0.82rem 0 0.656rem 0;">
		          		<span class="typewriter-prefix"><i class="fa fa-book"></i> </span>
		          		<span class="typewriter-text">Baixar agora</span>
		          		<span class="typewriter-suffix"></span>
		          	</h5>
		          	<script type="text/javascript">
								  var _gaq = _gaq || [];
								  _gaq.push(['_setAccount', 'UA-36251023-1']);
								  _gaq.push(['_setDomainName', 'jqueryscript.net']);
								  _gaq.push(['_trackPageview']);
								  (function() {
								    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
								    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
								    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
								  })();
								</script>
		          </a>
		        </div>
		      </div>
		    </div>
<!-- 		<div class="container container-full bg-image">
					<div class="hide-on-large-only" style="position: absolute; bottom: 10px; right: 0; background: #000; height: 50px; display: flex; border-radius: 5px 0 0 5px;">
						<h5 class="def-h5 white-text" style="line-height: 50px;margin: 0 5px;">Conheça o Ebook "Conheça seus Direitos"</h5>
						<a id="btn-gerenciar" href="/login/index" class="btn right waves-effect waves-light black-text" style="height: auto;line-height: 40px;font-size: 20px !important;font-family: &quot;Bebas Neue&quot;, sans-serif !important;margin: 5px;">
		    			<i class="fa fa-download left" style="border-right: 1px solid #000000; padding-right: 15px;"></i>
							Baixe Agora
				    </a>
				  </div>
		    </div> -->
		    <input type="hidden" id="ajax-carousel" value="0">
	      <div class="carousel carousel-slider center bg-carousel" data-indicators="true">
			    <div class="carousel-item img1"></div>
			    <div class="carousel-item img2"></div>
			    <div class="carousel-item img3"></div>
			  </div>
			  <style type="text/css">
			  	.bg-carousel {
				    height: 500px;
				    width: 75%;
				    display: inline-block;
			  	}
			  	.bg-carousel .carousel-item {
			  		height: 500px;
			  	}
			  	.bg-carousel .carousel-item.img1 {
			  		background: url(/assets/imgs/new_home2.png) no-repeat center;
			  		background-size: cover;
			  	}
			  	.bg-carousel .carousel-item.img2 {
			  		background: url(/assets/imgs/new_home_2.jpg) no-repeat center;
			  		background-size: cover;
			  	}
			  	.bg-carousel .carousel-item.img3 {
			  		background: url(/assets/imgs/new_home_3.jpg) no-repeat center;
			  		background-size: cover;
			  	}
			  	.bg-carousel .carousel-item.img4 {
			  		background: url(/assets/imgs/new_home_4.jpg) no-repeat center;
			  		background-size: cover;
			  	}
			  	.bg-carousel .indicators .indicator-item {
			  		background-color: rgba(50, 50, 50, 0.5);
			  		z-index: 3;
			  	}
			  	.bg-carousel .indicators .indicator-item.active {
			  		background-color: rgba(0, 0, 0, 0.5);
			  		z-index: 3;
			  	}
			  </style>
		    <div id="ebook-index" class="hide-on-med-and-down">
		    	<h5 class="def-h5 center" style="position: absolute; top: 30px; color: #fff; width: 100%; padding: 0 10px;">Baixe um guia prático sobre seus direitos</h5>
		    	<img src="/assets/imgs/pseudo-book.jpg" style="width: 150px; position: absolute; bottom: 190px; left: 50%; /* margin-left: -25%; */ transform: translate(-50%);">
		    	<a id="btn-gerenciar" href="/login/index" class="btn right waves-effect waves-light black-text" style="position: absolute; bottom: 125px; left: 50%; /* margin-left: -25%; */ transform: translate(-50%);">
			    	Download
			    </a>
			    <div class="row center fale-conosco-wrapper" style="position: absolute; bottom: 20px;">
		        <a href="/contato/#contato-section" id="fale-conosco" class="btn-large waves-effect waves-light black"><h5 class="def-h5" style="margin: 0; line-height: 1.5em; font-size: 1em">FALE CONOSCO ONLINE</h5></a>
		      </div>
		    </div>
		  </div>
      <style type="text/css">
	      #ebook-index {
	  	    box-shadow: inset 0px 0px 20px 2px #000000;
	  	    -webkit-box-shadow: inset 0px 0px 20px 2px #000000;
	  	    -moz-box-shadow: inset 0px 0px 20px 2px #000000;
	  	    -ms-box-shadow: inset 0px 0px 20px 2px #000000;
	  	    -o-box-shadow: inset 0px 0px 20px 2px #000000;
	  	    background-color: #1d1917;
	  	    width: 25%;
	  	    height: 500px;
	  	    float: right;
	  	    position: relative;
	      }
				#ebook-index .fale-conosco-wrapper,
				.bg-image .fale-conosco-wrapper {
				  overflow: hidden !important;
				  margin-left: auto !important;
				  margin-right: auto !important;
				  width: 100% !important;
				}
				#ebook-index #fale-conosco {
				  float: right !important;
				  border: 2px dashed #fbd257 !important;
				  /*border-radius: 10px !important;*/
				  background-color: rgba(0, 0, 0, 0.5) !important;
				  font-size: 1.5em !important;
				  line-height: 1.5em !important;
				  height: 1.6em !important;
				  /*right: -0.4em !important;*/
				  border-left: 0 !important;
				  border-right: none !important;
				  width: 100%;
				}
				#index-banner .bg-image #fale-conosco {
					float: right !important;
				  border: 2px dashed #fbd257 !important;
				  border-radius: 10px !important;
				  background-color: rgba(0, 0, 0, 0.5) !important;
				  font-size: 1.5em !important;
				  line-height: 1.5em !important;
				  height: 1.6em !important;
				  right: -0.4em !important;
				}
				#ebook-index #fale-conosco:hover,
				#index-banner .bg-image #fale-conosco:hover {
				  background-color: rgba(0, 0, 0, 0.9) !important;
				}
				#index-banner > .bg-image {
					width: 75%;
					float: left;
				}
      </style>

      <div id="social-sidebar">
			  <a href="https://www.facebook.com/Young-Dias-Lauxen-Lima-Advogados-109269385838608/" class="facebook"><i class="fa fa-facebook"></i><div class="branco"></div></a>
			  <a href="http://twitter.com/youngadvogados" class="twitter"><i class="fa fa-twitter"></i><div class="branco"></div></a>
			  <a rel="" target="_blank" data-action="getURL" href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=555199254616&amp;text=Olá" data-url="http://api.whatsapp.com/send?1=pt_BR&amp;phone=555199254616&amp;text=Olá" class="whatsapp"><i class="fa fa-whatsapp"></i><div class="branco"></div></a>
			  <a href="mailto:i2juqbspdhuwaic2@ethereal.email" class="email"><i class="fa fa-envelope"></i><div class="branco"></div></a>
			  <a href="#!" id="seta"><i class="fa fa-arrow-left"><div class="circle-bg"></div></i></a>
<!-- 			  <a href="#" class="google"><i class="fa fa-google"></i><div class="branco"></div></a> 
			  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i><div class="branco"></div></a>
			  <a href="#" class="youtube"><i class="fa fa-youtube"></i><div class="branco"></div></a> -->
			</div>
			<style type="text/css">
				#social-sidebar {
				  position: fixed;
				  top: 50%;
				  left: 0;
				  -webkit-transform: translateY(-50%);
				  -ms-transform: translateY(-50%);
				  transform: translateY(-50%);
				  z-index: 11000;
				  transition: all 0.5s ease;
				}
				#social-sidebar.hidden {
					left: -42px;
					padding-bottom: 46px;
				}
				#social-sidebar.show {
					left: 0px;
				}
				#social-sidebar.hidden #seta {
					position: absolute !important;
			    left: 42px !important;
			    top: 50% !important;
			    transform: translateY(-50%) !important;
				}
				#social-sidebar a {
					position: relative;
				  display: block;
				  text-align: center;
				  padding: 8px;
					color: #fff;
				  font-size: 20px;
				  width: 40px;
				}
				#social-sidebar a:hover {
				  width: 50px;
				}
				#social-sidebar a .branco {
					background-color: transparent;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
				#social-sidebar a:hover .branco {
				  background-color: rgba(255,255,255,0.1);
				}
				#social-sidebar .circle-bg {
					background: rgba(0,0,0,0.6);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-17px, -17px);
					width: 34px;
					height: 34px;
					border-radius: 50%;
					z-index: -1;
				}
				#social-sidebar #seta {
				  background: transparent;
				}
				#social-sidebar .facebook {
				  background: #3B5998;
				}
				#social-sidebar .twitter {
				  background: #55ACEE;
				}
				#social-sidebar .whatsapp {
				  background: #5ace61;
				}
				#social-sidebar .google,
				#social-sidebar .email {
				  background: #dd4b39;
				}
				#social-sidebar .linkedin {
				  background: #007bb5;
				}
				#social-sidebar .youtube {
				  background: #bb0000;
				}
			</style>

		  <div class="container menus hide-on-small-only">
			  <nav class="trans-bg main-nav nav-center" role="navigation">
			    <div class="nav-wrapper">
			      <ul id="nav-mobile" style=" position: absolute; top: 0; bottom: 0; margin: auto; left: 0; right: 0;">
			        <li><a href="/#" class="ajax-load"><h5 class="def-h5">HOME</h5></a></li>
			        <li><a href="/areasdeatuacao" class="ajax-load"><h5 class="def-h5">ÁREAS DE ATUAÇÃO</h5></a></li>
			        <li><a href="escritorio" class="ajax-load"><h5 class="def-h5">ESCRITÓRIO</h5></a></li>
			        <li><a href="/equipe" class="ajax-load"><h5 class="def-h5">EQUIPE</h5></a></li>
			        <li><a href="/post" class="ajax-load"><h5 class="def-h5">BLOG</h5></a></li>
			        <li><a href="/contato" class="ajax-load"><h5 class="def-h5">CONTATO</h5></a></li>
			      </ul>
			    </div>
			  </nav>
			  <div class="grad-line"></div>
			</div>
		</header>
