
<!--   <li class="infos-usuario" style="border-bottom: 1px solid #bfbfbfb8;">
  </li> -->
  <li>
    <a class="ajax-load" href="/sistema/"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/processos"><i class="fa fa-archive" aria-hidden="true"></i> Processos</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/compromissos"><i class="fa fa-calendar" aria-hidden="true"></i> Compromissos</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/contatos"><i class="fa fa-users" aria-hidden="true"></i> Contatos</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/clientes"><i class="fa fa-tasks" aria-hidden="true"></i> Clientes</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/adversos"><i class="fa fa-empire" aria-hidden="true"></i> Adversos</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/tarefas"><i class="fa fa-bell" aria-hidden="true"></i> Tarefas</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/notificacoes"><i class="fa fa-bell" aria-hidden="true"></i> Notificações</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/documentos"><i class="fa fa-file" aria-hidden="true"></i> Documentos</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/usuarios"><i class="fa fa-users" aria-hidden="true"></i> Usuários</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/setores"><i class="fa fa-object-group" aria-hidden="true"></i> Setores</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/relatorios"><i class="fa fa-line-chart" aria-hidden="true"></i> Relatórios</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/ferramentas"><i class="fa fa-gavel" aria-hidden="true"></i> Ferramentas</a>
  </li>
  <li>
    <a class="ajax-load" href="/sistema/configuracoes"><i class="fa fa-cogs" aria-hidden="true"></i> Configurações</a>
  </li>
  <li>
    <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a>
  </li>
