<div class="row">
  <div class="input-field col s10">
    <input required="true" class="cep" type="text" name="cep" placeholder="Preencha o CEP aqui">
    <label for="cep">CEP</label>
  </div>
  <div class="input-field col s2 center-align">
    <button class="btn blue darken-2" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
  <div class="input-field col s12">
    <input required="true" class="rua" type="text" name="rua" readonly="true">
    <label for="rua">Rua</label>
  </div>
  <div class="input-field col s12 m4">
    <input required="true" class="bairro" type="text" name="bairro" readonly="true">
    <label for="bairro">Bairro</label>
  </div>
  <div class="input-field col s12 m4">
    <input required="true" class="cidade" type="text" name="cidade" readonly="true">
    <label for="cidade">Cidade</label>
  </div>
  <div class="input-field col s12 m4">
    <input required="true" class="uf" type="text" name="estado" readonly="true">
    <label for="estado">Estado</label>
  </div>
</div>