  	<div class="card-panel white">
  		<h4>Ferramentas</h4>
      <ul class="collapsible" id="documento" data-collapsible="expandable">
        <li>
          <div class="collapsible-header relative ajax-load-to" data-href="/sistema/ferramentas/gerenciador/senhas" data-to="senhas">
            <i class="fa fa-key" aria-hidden="true"></i>Gerenciador de Senha<i class="fa fa-caret-down ar" aria-hidden="true"></i>
          </div>
          <div class="collapsible-body senhas">
          </div>
        </li>
        <li>
          <div class="collapsible-header relative ajax-load-to" data-href="/sistema/ferramentas/pesquisar/cep" data-to="pesquisa_cep">
            <i class="fa fa-key" aria-hidden="true"></i>Pesquisar por CEP<i class="fa fa-caret-down ar" aria-hidden="true"></i>
          </div>
          <div class="collapsible-body pesquisa_cep">
          </div>
        </li>
      </ul>
  	</div>
  	