
<div class="card-panel" style="background-color: transparent !important;">
  <br>
  <h4>Editar Categoria</h4>
  <form method="POST" action="" enctype="multipart/form-data">
    <%
    if (typeof data != 'undefined' && data.length > 0) {
      for (var i = data.length - 1; i >= 0; i--) {
    %>
    <div class="right-align">
      <a href="/categoria/" class="btn-floating btn-large waves-effect waves-light blue darken-1 left ajax-load"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
      <button data-href="/categoria/atualizar/<%= data[i].id %>" data-action="/categoria/" class="btn-floating btn-large waves-effect waves-light green darken-1 ajax-submit">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
    </div>
    <div class="row">
      <h5>Informações</h5>
      <input required="true" type="hidden" name="id" value="<%= data[i].id %>">
      <div class="input-field col s12">
        <input required="true" class="validate" type="text" name="nome" value="<%= data[i].nome %>">
        <label for="nome">Nome</label>
      </div>
    <div class="right-align">
      <button data-href="/categoria/atualizar/<%= data[i].id %>" data-action="/categoria/" class="btn waves-effect waves-light green darken-1 ajax-submit">
        Salvar <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
    </div>
    <%
      }
    }
    %>
  </form>
</div>