<div class="col s12 pai">
  <div class="input-field col s10">
    <label>Contato</label>
    <input type="text" name="lista[contato][]" required="true">
  </div>
  <div class="col s2 center-align">
    <a class="btn-floating btn-large waves-effect waves-light red remove"><i class="fa fa-times" aria-hidden="true"></i></a>
  </div>
</div>