<form method="POST" action="" data-link="/sistema/contatos/pesquisar/">
  <div class="row caixa_pesquisa">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          Pesquisa Avançada
        </div>
        <div class="collapsible-body row">
          <div class="col s12 m4 input-field input-group-control">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="pesquisa" data-container="#tabela_interna_contato">
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>