html,body,main{min-height: 100%;height: 100%;}
body > div.row .col {
  padding: 0;
}
body {
  background:url('/assetsward/imgs/textura-bordo2.jpg');
  background-size: cover;
}

textarea{
  max-width: 100%;
}

body.row{
  margin-bottom:0;
}

.cocoa{
  background-color:#4a3214;
}


/* ----- criadas ----- */
.bordo {
  background: rgb(66,25,31);
  background: -moz-linear-gradient(top, rgba(66,25,31,1) 0%, rgba(105,48,57,1) 50%, rgba(105,48,57,1) 50%, rgba(66,25,31,1) 100%);
  background: -webkit-linear-gradient(top, rgba(66,25,31,1) 0%,rgba(105,48,57,1) 50%,rgba(105,48,57,1) 50%,rgba(66,25,31,1) 100%);
  background: linear-gradient(to bottom, rgba(66,25,31,1) 0%,rgba(105,48,57,1) 50%,rgba(105,48,57,1) 50%,rgba(66,25,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42191f', endColorstr='#42191f',GradientType=0 );
}
.bordo.lighten-1 {
  background: rgb(111,42,52);
  background: -moz-linear-gradient(top, rgba(111,42,52,1) 0%, rgba(140,64,76,1) 50%, rgba(140,64,76,1) 50%, rgba(111,42,52,1) 100%);
  background: -webkit-linear-gradient(top, rgba(111,42,52,1) 0%,rgba(140,64,76,1) 50%,rgba(140,64,76,1) 50%,rgba(111,42,52,1) 100%);
  background: linear-gradient(to bottom, rgba(111,42,52,1) 0%,rgba(140,64,76,1) 50%,rgba(140,64,76,1) 50%,rgba(111,42,52,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42191f', endColorstr='#42191f',GradientType=0 );
}
.bordo.darken-1{
  background: rgb(45,17,20); 
  background: -moz-linear-gradient(top, rgba(45,17,20,1) 0%, rgba(91,42,51,1) 50%, rgba(105,48,57,1) 50%, rgba(45,17,20,1) 100%);
  background: -webkit-linear-gradient(top, rgba(45,17,20,1) 0%,rgba(91,42,51,1) 50%,rgba(105,48,57,1) 50%,rgba(45,17,20,1) 100%);
  background: linear-gradient(to bottom, rgba(45,17,20,1) 0%,rgba(91,42,51,1) 50%,rgba(105,48,57,1) 50%,rgba(45,17,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d1114', endColorstr='#2d1114',GradientType=0 );
}




.bordo-text {
  color: rgb(79, 33, 40);
}


.brass{
  background:#fbfbba;
  border: 1px solid #52222a;
  color: #52222a;
}

.brass:hover, .brass:focus{
  color: #fff;
  background:#a05460;
}


.golden {
  background: rgb(252,234,187);
  background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(249,239,212,1) 50%, rgba(252,234,187,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(249,239,212,1)), color-stop(100%,rgba(252,234,187,1)));
  background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(249,239,212,1) 50%,rgba(252,234,187,1) 100%);
  background: -o-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(249,239,212,1) 50%,rgba(252,234,187,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(249,239,212,1) 50%,rgba(252,234,187,1) 100%);
  background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(249,239,212,1) 50%,rgba(252,234,187,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fceabb',GradientType=0 );
}
.golden-text {
  color: rgb(252,234,187);
}
.btn.bordo:hover:not(.disabled), .btn.bordo:focus:not(.disabled){
  color: rgb(66,25,31);
  background: #fff;
  border: 2px inset rgb(66,25,31);
}

.btn.bordo.disabled{
  background: #a2937e;
  color:#fff;  
}

.ruby.darken-2{
  background-color:#562a31;
}

.cocoa-text{
  color:#4a3214 !important;
}

.cream{
  background-color:#fdf5ea;
}

.cream.darken-1{
  background-color:#e1c6a6;
}

.cream.darken-2{
  background-color:#d2ab7c;
}

.cream.darken-3{
  background-color:#e0cbb2;
}

.btn.ruby:hover:not(.disabled), .btn.ruby:focus:not(.disabled){
  color:#562a31;
  background-color:#fff;
  border:2px inset #562a31;
}

.btn.cocoa:hover:not(.disabled), .btn.cocoa:focus:not(.disabled){
  color:#4a3214;
  background-color: #fff;
  border: 2px inset #4a3214;
}

.btn.cocoa.disabled{
  background-color:#a2937e;
  color:#fff;  
}

.margin-l-5{
  margin-left:5px;
}

.margin-t-5{
  margin-top:5px;
}

.margin-r-5{
  margin-right: 5px
}

.margin-b-5{
  margin-bottom:5px;
}

.margin-b-1rem{
  margin-bottom: 1rem;
}

.margin-l-1rem{
  margin-left: 1rem;
}

.margin-r-1rem{
  margin-right: 1rem;
}

.margin-t-1rem{
  margin-top: 1rem;
}


.padding-l-10{
  padding-left:10px;
}
.padding-r-10{
  padding-right:10px;
}
.padding-t-10{
  padding-top:10px!important;
}

.padding-b-10{
  padding-bottom:10px!important;
}

.padding-a-15{
  padding:15px;
}


input,textarea,select{
  text-transform: uppercase;
}


/*Materialize OverCss*/

.tabs .indicator {
  background-color:rgb(134, 57, 68);
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: rgb(134, 57, 68);
}

.tabs .tab a {
  color:rgba(173,79,93,1);
}

.modal-remover-mount{
  cursor: pointer;
}


/*cor dos radio checkado*/
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
  border: 2px solid #5b272f;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
  background-color: #5b272f;
}

/*cor dos checkbox checkado*/

[type="checkbox"]:checked+span:not(.lever):before{
  border-right-color: #5b272f;
  border-bottom-color: #5b272f;
}





/*--------------------- Ínicio Data Tables Tabelas Filtradas -----------------------*/

.dataTables_wrapper .dataTables_filter input{
  width: inherit;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
  padding: 0 10px;
}


/*------------------------ Fim Data Tables Tabelas Filtradas -----------------------*/


/* ----------------------- Início Estilos Cabeçalho e Menu ----------------------- */
nav {
  box-shadow: 0 0 black;
  height: 100%;
  background-color: transparent;
}
header {
  z-index: 999;
  /*height: 92px;*/
  height: 50px;
  line-height: 50px;
  background: rgb(66,25,31);
  background: -moz-linear-gradient(top, rgba(66,25,31,1) 0%, rgba(105,48,57,1) 50%, rgba(105,48,57,1) 50%, rgba(66,25,31,1) 100%);
  background: -webkit-linear-gradient(top, rgba(66,25,31,1) 0%,rgba(105,48,57,1) 50%,rgba(105,48,57,1) 50%,rgba(66,25,31,1) 100%);
  background: linear-gradient(to bottom, rgba(66,25,31,1) 0%,rgba(105,48,57,1) 50%,rgba(105,48,57,1) 50%,rgba(66,25,31,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42191f', endColorstr='#42191f',GradientType=0 );
  /*  overflow: hidden;*/
  width: 100% !important;
  padding: 0 15px;
  position: fixed;
}

.search-wrapper{
  width: 250px;
}

.search-wrapper input{
  background:#fff;
  padding:0 10px;
  height:32px!important;
  font-size:1rem!important;
  color: #565656;
  padding: 0 10px!important;
  display: inline-block!important;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-wrapper i{
  position: absolute;
  right: 5px;
  top:-7px;
  color: #565656;

}

.logo-wrapper {
  padding: 5px 0 !important; 
  width: 300px; 
  height: 50px; 
  margin: 0 0 0 -15px; 
  text-align: center; 
  background: rgb(66,25,31); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(66,25,31,1) 0%, rgba(105,48,57,1) 50%, rgba(105,48,57,1) 50%, rgba(66,25,31,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(66,25,31,1) 0%,rgba(105,48,57,1) 50%,rgba(105,48,57,1) 50%,rgba(66,25,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(66,25,31,1) 0%,rgba(105,48,57,1) 50%,rgba(105,48,57,1) 50%,rgba(66,25,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42191f', endColorstr='#42191f',GradientType=0 ); /* IE6-9 */
}

/*ÍNICIO Notificações header*/

#notificacoes .notificacoes-numero{
  background: #f90000;
  position: absolute;
  top: 0;
  border-radius: 50%;
  color: #fff;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #75030396;
}

.notificacao-content{
  position: absolute;
  top: 55px;
  right: 35px;
  float: left;
  z-index: 9999;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  width: 450px;
  max-width: 450px;
}

.notificacao-content ul{
 display: block;
}

.notificacao-content .notificacoes{
  max-height: 330px;
  overflow-y: auto;
}

.notificacao-content .notificacao-item{
  display: block;
  padding: 9.6px 12px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #eeeeee;
  background-color: #fff;
  color: #333333;
  text-decoration: none;
  width: 100%;
  line-height: 50px;
  cursor: pointer;
}

.notificacao-content  .notificacao-item:hover {
  background-color: #f9f9f9;
  border-color: #eeeeee;
}

.notificacao-content .notificao-footer{
  padding: 9.6px 12px;
  /*  padding: 5px 20px;*/
  border-top: 1px solid #ccc;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 4px 4px;
  color: #333333;
  background: #eeeeee;
  line-height: 50px;
  cursor: pointer;
}

.notificacao-content  .notificao-footer:hover{
  background:#d2d2d2;
  border-color: #9c9c9c;
}


/*FIM Notificações header*/

.user-dropdown-content{
  position: absolute;
  top: 55px;
  right: 25px;
  float: left;
  z-index: 9999;
  list-style: none;
  background: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  width: 250px;
  max-width: 250px;
}



.user-dropdown-content ul{
  margin: 0;
}


.user-dropdown-content li a{
  color:#333333;
  width: 100%;
  padding:10px;
  background:#fff;
  display: block;
}

.user-dropdown-content li a:hover{
  background:#d2d2d2;
}

.user-dropdown-content i{
  margin-right: 10px
}






.close_container_load{
  position: absolute;
  right: 0;
  margin-top: -35px;
}


.container {
  max-width: none;
}
footer {
  margin-left: 300px;
}
main {
  padding: 150px 10px 10px;
}

/*Fazer a tabela interna(as do processo) ter umn overflow e uma altura máxima pelo javascript*/
.pane{
  overflow-y: scroll;
}

.tabela_outros_envolvidos input[type="checkbox"]{
  opacity: 1;
  pointer-events: all;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  margin-left: -10px;
}


/*main.bordo-bg {
 background:url('/assetsward/imgs/textura-bordo.jpg');
 background-size: cover;
 }*/

 @media only screen and (max-width : 992px) {
  main, footer {
    margin-left: 0;
  }
}
.side-nav {
  top: auto;
}
#slide-header {
  background-color: #473013;
  margin-top: 50px;
}
#slide-header a, #slide-header a i {
  color: #fff;
}
.logo-header {
  width: 300px;
}
.logo-header > img {
  max-width: 100%;
  max-height: 40px;
  margin: 5px auto;
}


.login-background main,
.login-background footer {
  margin-left: 0;
  padding: 0;
}


/* ----------------------- Fim Estilos Cabeçalho e Menu ----------------------- */


.input-field.input-group-control-with-search label,.input-field.input-group-control label{
  position: relative;
  transform: none;
  display: block;
  color:#434343;
}

.input-field.input-group-control-with-search input{
  border:1px solid #4a3214!important;
  background:#fff;
  width:calc(100% - 100px);
  border-radius: 5px;
  padding:0 50px 0 10px;
}

.input-field.input-group-control-with-search input + .btn{
  width: 50px;
  height: 47px;
  vertical-align: top;
  padding: 0;
  border:1px solid #000;
  border-radius:0 5px 5px 0;
  margin-left: -50px;
  box-shadow:none;
}

.input-field.input-group-control-with-search input + .btn i{
  font-size: 20pt;
  margin-top: 3px;
}

.select-field.input-group-control label{
  color:#434343;
}

.input-field.input-group-control label:not(.label-icon).active,
.input-field.input-group-control-with-search label:not(.label-icon).active{
  transform: none;
}

.input-field.input-group-control input, .select-field.input-group-control select{
  border:1px solid #3e191f!important;
  background:#fff;
  width:calc(100% - 60px);
  border-radius: 5px;
  padding:0 10px 0 10px;
  box-sizing: content-box;
  margin-bottom:20px;
}

.input-field.input-group-control.full-width input, .select-field.input-group-control.full-width select{
  width:calc(100% - 22px);
}

.input-field.input-group-control textarea{
  background: #fff;
  border-radius: 5px;
  border: 1px solid #3e191f!important;
  padding: 10px;
  min-height: 70px;
  width: calc(100% - 40px);
}

.input-field.input-group-control textarea:focus{
  outline:none;
}





.link-underline{
  text-decoration: underline;
}

.btn-large-w{
  width:200px 
}

.btn-radius{
  border-radius: 10px;
}

.btn{
  text-transform: none;
}

.divisor_card_left,.divisor_card_bottom{
  position: relative;
}

.divisor_card_left:after{
  position: absolute;
  content: '';
  width: 5px;
  height: 87%;
  top: 0%;
  right: 0;
  box-shadow: 3px 0px 1px 0 rgba(0,0,0,0.14);
}


.divisor_card_bottom:after{
  position: absolute;
  content: '';
  width: 87%;
  height: 5px;
  bottom: -12%;
  right: 0;
  left: 7%;
  box-shadow: 0px -3px 1px 0 rgba(0,0,0,0.14);
}

.card-subtitulo{
  font-size: 1.3rem;
}
/*Ínicio Login*/

.login-background{
  background: url('/assetsward/imgs/textura-bordo.jpg');
/*  background: rgba(81,45,2,1);
  background: -moz-linear-gradient(-45deg, rgba(81,45,2,1) 0%, rgba(143,98,42,1) 50%, rgba(81,45,2,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(81,45,2,1)), color-stop(50%, rgba(143,98,42,1)), color-stop(100%, rgba(81,45,2,1)));
  background: -webkit-linear-gradient(-45deg, rgba(81,45,2,1) 0%, rgba(143,98,42,1) 50%, rgba(81,45,2,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(81,45,2,1) 0%, rgba(143,98,42,1) 50%, rgba(81,45,2,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(81,45,2,1) 0%, rgba(143,98,42,1) 50%, rgba(81,45,2,1) 100%);
  background: linear-gradient(135deg, rgba(81,45,2,1) 0%, rgba(143,98,42,1) 50%, rgba(81,45,2,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#512d02', endColorstr='#512d02', GradientType=1 );*/
}

.login{
  padding-top:90px;
}

.login-card.row{
  max-width: 90%;
  margin: 0 auto;
}

.login-card .card{
  float: none;
  margin: 0 auto;
  max-width: 430px;
  border-radius: 15px;
  /*  height: 67vh;*/
  box-shadow:3px 2px 20px 0px #333131;
  background: rgba(250,242,227,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,242,227,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,237,196,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
  background: radial-gradient(ellipse at center, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2e3', endColorstr='#ffedc4', GradientType=1 );
}


.login .login-logo{
  padding: 15px 0;
}

.login .login-logo img{
  width: 50%;
  max-width: 200px;
  margin-top: 20px;
}

.login-input-container{
  margin-top:50px;
}

.login-input-container input:not([type]), 
.login-input-container input[type=text]:not(.browser-default), 
.login-input-container input[type=password]:not(.browser-default), 
.login-input-container input[type=email]:not(.browser-default), 
.login-input-container input[type=url]:not(.browser-default), 
.login-input-container input[type=time]:not(.browser-default), 
.login-input-container input[type=date]:not(.browser-default), 
.login-input-container input[type=datetime]:not(.browser-default), 
.login-input-container input[type=datetime-local]:not(.browser-default), 
.login-input-container input[type=tel]:not(.browser-default), 
.login-input-container input[type=number]:not(.browser-default), 
.login-input-container input[type=search]:not(.browser-default), 
.login-input-container textarea.materialize-textarea{
  border-bottom:2px solid rgb(189, 189, 189);
  color: rgba(173,79,93,1);
  box-shadow: 0 1px 0 0 rgb(189, 189, 189);
/*  border-bottom:2px solid #fff;
  color:#fff;
  padding-left:10px;*/
}


.login-input-container input:not([type]).validate+label, 
.login-input-container input[type=text]:not(.browser-default).validate+label, 
.login-input-container input[type=password]:not(.browser-default).validate+label, 
.login-input-container input[type=email]:not(.browser-default).validate+label, 
.login-input-container input[type=url]:not(.browser-default).validate+label, 
.login-input-container input[type=time]:not(.browser-default).validate+label, 
.login-input-container input[type=date]:not(.browser-default).validate+label, 
.login-input-container input[type=datetime]:not(.browser-default).validate+label, 
.login-input-container input[type=datetime-local]:not(.browser-default).validate+label, 
.login-input-container input[type=tel]:not(.browser-default).validate+label, 
.login-input-container input[type=number]:not(.browser-default).validate+label, 
.login-input-container input[type=search]:not(.browser-default).validate+label, 
.login-input-container textarea.materialize-textarea.validate+label{
  color: rgba(66,25,31,1);
  /*  color:#fff;*/
}


.login-input-container input:not([type]):focus:not([readonly]), 
.login-input-container input[type=text]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=password]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=email]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=url]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=time]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=date]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=datetime]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=tel]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=number]:not(.browser-default):focus:not([readonly]), 
.login-input-container input[type=search]:not(.browser-default):focus:not([readonly]), 
.login-input-container textarea.materialize-textarea:focus:not([readonly]){
  border-bottom:2px solid rgb(189, 189, 189);
  box-shadow: 0 1px 0 0 rgb(189, 189, 189);
/*  border-bottom:2px solid #fff;
box-shadow: 0 1px 0 0 #fff;*/
}

.btn-login{
  font-weight:bold;
}




.login-helpers{
  margin-top:30px;
}


/*Fim Login*/


/*Processo*/


.status-timeline-processo{
  position: relative;
}

.status-timeline-processo label{
  margin-left: 50px;
}


.status-timeline-processo [type="radio"]:not(:checked)+span, 
.status-timeline-processo [type="radio"]:checked+span{
  padding-left: 0;
}

.status-timeline-processo [type="radio"]:not(:checked)+span:before, 
.status-timeline-processo [type="radio"]:not(:checked)+span:after{
  border: 2px solid #5b272f;
  background: #fff;
}

.status-timeline-processo [type="radio"]+span:before,
.status-timeline-processo [type="radio"]:checked+span:after{
  left: 50%;
  margin-left: -10px;
  height: 20px;
  width: 20px;
  z-index: 6;
  transition:.28s cubic-bezier(0, 0, 0, 1.11);
}
/*parte do texto*/
.status-timeline-processo span span{
  display: block;
  margin-top: 30px;
  color:#5b272f;
}


.status-timeline-processo .status-timeline-processo-line{
  width: 100%;
  position: absolute;
  height: 2px;
  background:#5b272f;
  margin-top: 13px;
  z-index: 5;
}


/**/
.processo-botoes-envolvidos .btn{
  min-width: 340px;
  margin-top: 1rem;
  text-align:left;
}


/* Ínicio Tab Archive*/

.tab-archive{
  display: inline-block;
  padding: 5px 15px;
  border-bottom:1px solid #a78151;
  box-shadow:1px 1px 1px #7b7b7b;
  border-radius: 5px 5px 0 0;
  font-size:24px;
  float:left;
}

.tab-nivel-2{  
  margin-top: 4px;
  padding: 3px 10px;  
  color: rgba(0,0,0,0.87);
}

.tab-nivel-2-l{
  border-radius: 5px 0 0 0;
}

.tab-nivel-2-r{
  margin-left: 1px;
  border-radius: 0 5px 0 0;
}


.card{
  background: #faf2e3; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #faf2e3 0%, #ffffff 50%, #ffedc4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #faf2e3 0%,#ffffff 50%,#ffedc4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #faf2e3 0%,#ffffff 50%,#ffedc4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2e3', endColorstr='#ffedc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.card .card:nth(even){
  background:#fff;
}

.card .card:nth(odd){
  background: #faf2e3; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #faf2e3 0%, #ffffff 50%, #ffedc4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #faf2e3 0%,#ffffff 50%,#ffedc4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #faf2e3 0%,#ffffff 50%,#ffedc4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2e3', endColorstr='#ffedc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.card.archive{
  margin: 0;
  padding: 10px;
  border-radius:0 5px 5px 5px;
  display: inline-block;
  width: 100%;
}


.white{
  background: #fff;
}

.cadastro-processo .archive-cover-image img{
  width: 100%;
  max-width: 600px;
}

.cadastro-processo-titulo{
  margin-top: -10%;
  padding-left: 8.6666666667%;
  font-size: 18pt;
  font-weight: 500;
  margin-bottom: 20px;
}

.radio_posicao_cliente {
  display:inline-block;
  border-radius:5px;
  box-shadow:2px 2px 2px #757575;
  color:#fff;
  font-size:14pt;
  cursor:pointer;
}

.radio_posicao_cliente:hover{
  background: #fff;
  /*color:#4a3214;*/
  color: rgb(66,25,31);
}


.radio_posicao_cliente input{
  visibility: hidden;
  position: absolute;
}

.radio_posicao_cliente .radio_posicao_image{
  margin: 3px 3px 0;
  border-radius: 5px;
}

.radio_posicao_cliente .radio_posicao_image img{
  max-width: 100%;
  display: block;
}

.cadastro-button-group{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 10px;
}

/*.cadastro-processo .archive-cover-image{
  background-image:url('/assetsward/imgs/cover-cadastro-processo.png');
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow:1px 1px 5px inset #252525;
  width: 100%;
  }*/



  .select-field{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .collapsible-header .fixed-action-btn {
    position: relative;
    right: 0;
    bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    z-index: 997;
    height: 8px;
    width: 8px;
    display: inline;
  }
  .collapsible-header .fixed-action-btn ul {
    margin: 0 -15px;
  }
  .collapsible-header .fixed-action-btn ul li {
    margin: 0 !important;
    position: relative !important;
    top: -15px !important;
  }
  .collapsible-header .fixed-action-btn ul li i {
    margin: auto;
  }
  .ar {position: absolute;right: 0;}
  .al {position: absolute;left: 0;}
  .txshadow{text-shadow: 0px 1px 0px rgb(8, 8, 8);}
  .text-send {position: absolute;bottom: 1%;width: 100%;}
  .image-perfil{
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-top: 5px;
    box-shadow: inset 0px 0px 10px 0px black;
  }
  .image-perfil.db {
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 15px;
  }
  .collection .collection-item.avatar {min-height: auto;}
  .relative{position: relative;}
  .word-wrap {word-wrap: break-word;}
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
  }
  .close-button:hover i,
  .close-button:hover {
    color: #000 !important;
    background-color: #fff !important;
  }
  #sidenav-overlay{z-index: 2}
  .grafico {max-width: 100%;}
  .nav-wrapper #big-nav > a,
  .nav-wrapper #big-nav > ul > li {
    width: 100% !important;
    display: block !important;
    position: relative !important;
    border-bottom: 0px solid;
  }
  .nav-wrapper #big-nav > ul > li a {
    transition: 0.5s;
    background-size: 201% 100%;
    background-image: linear-gradient(to right, #ad1457 50%, #f8bbd0 50%);
  }
  .nav-wrapper #big-nav > ul > li:hover a {
    background-position: -99% 0;
    color: #000;
  }
  .nav-wrapper .edit-button {
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .nav-wrapper .edit-button:hover {
    font-size: 2em;
  }
  .nav-wrapper #small-nav > ul > li > a {
    font-size: 2em;
  }
  .nav-wrapper #small-nav > a,
  .nav-wrapper #small-nav > ul > li {
    width: 100% !important;
    position: relative !important;
    text-align: center;
  }
  nav {
    box-shadow: 0 0 black;
    height: 100%;
    background-color: transparent;
  }
  .none {display: none;}

  .center-all th,
  .center-all td {
    text-align: center;
  }
  ul > li > ul.sub-menu {
    border-radius: 4px;
    transition: 0.5s;
    position: absolute;
    left: -100%;
    padding: 0 15px;
    top: 0;
    opacity: 0;
    width: 0;
    height: 0;
    white-space: nowrap;
  }
  ul > li > ul.sub-menu:before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-bottom: 31px solid transparent;
    border-right: 31px solid #4051bd;
    left: -30px;
    margin-top: 1px;
  }
  ul > li:hover > ul.sub-menu {
    z-index: 3;
    opacity: 1;
    display: block;
    background-color: rgb(64, 81, 189);
    left: 170px;
    width: 170px;
    height: auto;
    padding: 0 5px;
    text-align: left;
  }
  #small-nav ul > li:hover > ul.sub-menu {
    left: 105px;
  }
  ul > li:hover > ul.sub-menu:before {
    z-index: 3;
    opacity: 1;
    content: "";
    position: absolute;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-bottom: 31px solid transparent;
    border-right: 31px solid #4051bd;
    left: -30px;
  }
  ul > li:hover > ul.sub-menu > li > a {
    transition: 0.2s;
    padding: 0;
  }
  ul > li:hover > ul.sub-menu > li > a:hover {
    background-color: #4051bd;
    text-shadow: 1px 1px black;
  }
  .modal-mount {
    cursor: pointer;
  }
  .dropdown-content {
    overflow: hidden;
    min-width: 195px;
    left: 70% !important;
  }
  #modaldeletar {
    z-index: 1007 !important;
  }
  .error {
    position: absolute;
    bottom: -20px;
    right: 0px;
    background-color: #f44336;
    color: white;
    padding: 0 10px;
    max-width: 100px;
    border-radius: 0 15px;
    box-shadow: 0px 3px 2px -3px black;
  }
  /* Estilos do site */

  /* Estilos do sistema */
  .fa-home {
    font-size: 1.2em;
  }
  .loader {
    position: fixed;
    background-color: rgba(232, 232, 232, 0.59);
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .loader i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
  }
  .change-bar {
    position: absolute;
    right: -85px;
  }
  nav .nav-wrapper .change-bar i {
    height: auto;
    line-height: normal;
  }
  .change-bar:not(.ativo) button {
    transition: 0.3s;
    display: none;
  }
  .change-bar:not(.ativo) button:first-child {
    display: block;
  }

  /*Ínicio do Localizar Processo*/
  .row_processo_interno.selecionado{
    background:#c7c7c7;
  }
  /*Fim do Localizar Processo*/

  .mini-nav > .change-bar.ativo button {
    transition: 0.3s;
    display: block;
  }
  .mini-nav > .change-bar.ativo button:first-child {
    display: none;
  }
  .tarefa_controle {
    max-height: 150px;
    max-width: 200px;
    position: fixed;
    top: 0;
    right: -200px;
    color: #fff;
    background-color: #1976d2;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    transition: 1s;
    z-index: 2;
    text-align: center;
  }
  .tarefa_controle.active {
    right: 0px;
  }


  .preview-sac{
    width: 100%;
    min-height: 650px;
    background: url(/assetsward/imgs/preview_sac.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .preview-tarefas{
    width: 100%;
    min-height: 650px;
    background: url(/assetsward/imgs/preview_tarefas.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }





  #toast-container {
    text-align: center;
  }
  #toast-container .toast.rounded {
    background-color: #388e3c;
    font-weight: bold;
  }
  .table-box {
    height: 400px;
    overflow: scroll;
    border: 1px solid rgba(155,155,155,0.3);
    box-shadow: 0px 2px 8px -3px black;
  }
  .caixa_mes > div {
    margin-bottom: 20px;
  }
  .caixa_mes > div > div {
    cursor: pointer;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
  }
  .caixa_mes > div > div:hover {
    box-shadow: 0 2px 5px -2px black;
  }
  table td {
    border-radius: 0 !important;
  }

  .fixed-action-btn {
    bottom: 12%;
  }

  /*ESPECIFICO*/
  .collapsible .position{position: relative;}
  .collapsible .right-position {position: absolute;right: 1%;top: 50%;margin-top: -12px;cursor: pointer;}
  .collapsible .right-position i {transition: 0.5s;}
  .collapsible .right-position i:hover {color: #000 !important;}

  .tarefas li i {
    cursor: pointer;
    padding: 10px;
  }

  .chats .collection-item {
    transition: 0.5s;
    cursor: pointer;
  }
  .chats .collection-item:hover {
    background-color: #efefef;
  }
  .chat-conteudo {
    position: absolute;
    top: 0;
    width: 83%;
    z-index: -1;
    height: 100%;
  }
  .chat-conteudo .voce {
    padding: 15px;
    text-align: left;
    background-color: #e3f5e2;
    margin: 10px;
    border-radius: 0 35px 35px 35px;
  }
  .chat-conteudo .eu {
    padding: 15px;
    text-align: right;
    background-color: #ececec;
    margin: 10px;
    border-radius: 35px 0 35px  35px;
  }
  .enviar-mensagem {
    position: absolute;
    width: 100%;
    bottom: 4%;
  }
  .enviar-mensagem i {
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 21px;
    background-color: #3576ec;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
  }
  .btn.blue.darken-2:hover,
  .btn-large.blue.darken-2:hover {
    background-color: #fff !important;
  }
  .btn.blue.darken-2:hover,
  .btn.blue.darken-2:hover i,
  .btn-large.blue.darken-2:hover,
  .btn-large.blue.darken-2:hover i {
    color: #000 !important;
  }
  .error_ajax {
    position: fixed;
    z-index: 9999;
    color: #fff;
    background-color: #d00000;
    border-radius: 9px 0 9px 9px;
    padding: 5px;
    right: 0;
  }
  .edit-image {
    font-size: 2em;
    position: absolute;
    bottom: -10px;
    right: 0;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
  }
  .edit-image:hover {
    color: #000;
    text-shadow: 0px 0px 3px #fff;
  }

  /*STYLES BOX*/



  #dashboard_menu .icon-square{
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 6px 3px;
    height: 200px;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    box-shadow: 1px 2px 2px #171717;
    border: 1px solid rgb(247, 231, 196);
  }

  #dashboard_menu .icon-square:hover {
    background-color: rgba(175, 175, 175, 0.25);
  }

  #dashboard_menu .icon-square.criar{
    border:1px solid rgb(247, 231, 196);
  }

  #dashboard_menu .icon-square img{
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #dashboard_menu .icon-square:hover img{
    width: 110%;
  }

  #dashboard_menu .icon-square a span{
    position: absolute;
    bottom: 0px;
    font-weight: bold;
    color: #fdfdc5;
    width: 100%;
    text-align: center;
  }

  #dashboard_menu .tab-inicio-container{
    width: 100%;
  }

  #dashboard_menu .tab-inicio{
    display:inline-block;
    font-size: 24px;
  }

  #dashboard_menu .tab-inicio .golden-line-top{
    height: 2px;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(224,208,172,0) 0%, rgba(237,222,189,1) 25%, rgba(250,236,205,1) 50%, rgba(237,217,171,1) 75%, rgba(224,198,137,0) 100%);
    background: -webkit-linear-gradient(left, rgba(224,208,172,0) 0%,rgba(237,222,189,1) 25%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 75%,rgba(224,198,137,0) 100%);
    background: linear-gradient(to right, rgba(224,208,172,0) 0%,rgba(237,222,189,1) 25%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 75%,rgba(224,198,137,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0d0ac', endColorstr='#00e0c689',GradientType=1 );
  }

  #dashboard_menu .tab-inicio .tab-inicio-span{
    padding: 5px 15px;
    position: relative;
    background: rgb(224,208,172);
    background: -moz-linear-gradient(-45deg, rgba(224,208,172,1) 0%, rgba(250,236,205,1) 50%, rgba(224,198,137,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,208,172,1)), color-stop(50%,rgba(250,236,205,1)), color-stop(100%,rgba(224,198,137,1)));
    background: -webkit-linear-gradient(-45deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%);
    background: linear-gradient(135deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0d0ac', endColorstr='#e0c689',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }  

  #dashboard_menu .tab-inicio .golden-line-right {
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: -moz-linear-gradient(left, rgba(224,208,172,0) 25%, rgba(237,222,189,1) 75%, rgba(250,236,205,1) 50%, rgba(237,217,171,1) 25%, rgba(224,198,137,0) 0%);
    background: -webkit-linear-gradient(left, rgba(224,208,172,0) 25%,rgba(237,222,189,1) 75%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 25%,rgba(224,198,137,0) 0%);
    background: linear-gradient(to right, rgba(224,208,172,0) 25%,rgba(237,222,189,1) 75%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 25%,rgba(224,198,137,0) 0%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0d0ac', endColorstr='#00e0c689',GradientType=1 );
  }






  /* line 7, ../sass/main.scss */
  #dashboard i {
    font-size: 1.2em !important;
    cursor: pointer;
  }
  /* line 11, ../sass/main.scss */
  #dashboard .col.p5 {
    width: 19%;
    margin-left: 0.6%;
  }
  /* line 15, ../sass/main.scss */
  #dashboard .col.p25 {
    width: 9.5%;
    margin-left: 0.3%;
  }
  /* line 19, ../sass/main.scss */
  #dashboard .m0 {
    margin: 0;
  }
  /* line 25, ../sass/main.scss */
  #dashboard .folder {
    transition: 0.5s;
    height: 160px;
    border-radius: 0 5px 5px;
    position: relative;
  }
  /* line 29, ../sass/main.scss */
  #dashboard .folder img {
    max-width: 56%;
    height: 90px;
  }
  /* line 33, ../sass/main.scss */
  #dashboard .folder > div {
    width: 100%;
  }
  #dashboard .folder.orange::before{
    background-color: #ff9800;
  }
  #dashboard .folder.green::before{
    background-color: #4CAF50;
  }
  #dashboard .folder.blue::before{
    background-color: #2196F3;
  }
  #dashboard .folder label {
    transition: 0.5s;
    position: absolute;
    border-radius: 5px 5px 0 0;
    top: -9%;
    top: -14px;
    left: 0;
    height: 10%;
    height: 15px;
    width: 35%;
    background-color: #262626;
  }
/*  #dashboard .folder::before {
    transition: 0.5s;
    position: absolute;
    border-radius: 5px 5px 0 0;
    top: -9%;
    top: -14px;
    left: 0;
    height: 10%;
    height: 15px;
    width: 35%;
    background-color: #262626;
    }*/
    /* line 36, ../sass/main.scss */
    #dashboard .folder:hover:not(.no),
    #dashboard .folder:hover::before {
      /*box-shadow: 0px 0px 10px black;*/
    }
    #dashboard .folder:hover label {
      box-shadow: 0 -5px 5px black;
    }
    /* line 42, ../sass/main.scss */
    #dashboard p {
      margin: 0;
    }

    /* MEDIA QUERY */


    .ui-widget-content{
      z-index: 9999!important;
    }
