		<div class="col s12">
			<h5 class="center">Andamentos do Processo</h5>
			
			<div class="col s12 valign-wrapper">
				<div class="input-field input-group-control col s12 m6">
					<label for="andamento_data">Data</label>
					<input class="data_sem_hora data_hoje" type="text" name="andamento_data" maxlength="10" value="<%= data.tempo[0].hoje%>">
				</div>
				<div class="select-field input-group-control col s12 m6" data-href="#modalinfo" data-link="/processos/andamento_financeiro_dados_para_calculo/<%= data.detalhes_processo[0].id%>">
					<label>Tipo do Andamento</label>
					<select class="browser-default" name="andamento_tipo">
						<option value="0">Jurídico</option>
						<option value="1">Administrativo</option>
						<option value="2">Financeiro</option>
						<option value="3">Outro</option>
					</select>
				</div>
				<div class="input-field input-group-control col s12">
					<label for="andamento_descricao">Descrição</label>
					<textarea name="andamento_descricao" class="validate"></textarea>
				</div>				
			</div>

			<button data-href="/sistema/processos/andamentos_cadastrar" class="btn waves-effect waves-light bordo ajax-submit-container-reload right" data-container="#container_tabela_andamentos_reload">Salvar Novo Andamento</button>



		</div>



		<div class="col s12">
			<div class="card white padding-a-15" id="container_tabela_andamentos_reload">
				<%- include('tabela_andamentos_only'); %>
			</div>

		</div>