<div class="col s12 card white" style='margin-top:30px;'>
	<div class="close_container_load">
		<a class="btn btn-floating btn-medium grey darken-1 tooltipped" data-position="left" data-tooltip="Clique aqui para ocultar este bloco">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>	
		</a>
	</div>
	<div class="row">

		<h5 class="center">Dados Para o Cálculo</h5>

		<div class="input-field input-group-control col s12 m4">
			<label for="data_sentenca_acordo">Data da sentença ou do acordo</label>
			<input id="data_sentenca_acordo" type="text" class="datepicker data_sem_hora" name="data_sentenca_acordo" required="true">
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="porc_honorario_escritorio">Honorário do Escritório</label>
			<input value="20" name="porc_honorario_escritorio" type="number"> %
		</div>

		<div class="input-field input-group-control col s6 m3">
			<label for="porc_honorario_escritorio">Honorário do Perito</label>
			<input value="0" name="porc_honorario_perito" type="number"> %
		</div>

		<div class="input-field input-group-control col s6 m2">
			<label for="porc_imposto_renda">Imposto de Renda</label>
			<input value="0" name="porc_imposto_renda" type="number"> %
		</div>

		<div class="col s12">
			<button data-href="/sistema/processos/cadastrar_dados_para_calculo_processo" class="btn bordo ajax-submit-container-reload" data-container=".container_andamento_financeiro" data-mensagem-sucesso="Dados para Cálculo Cadastrado!">Salvar Dados para Cálculo
			</button>
		</div>
		

	</div>
</div>