<div class="col s12 card white">

	<div class="close_container_load">
		<a class="btn btn-floating btn-medium grey darken-1 tooltipped" data-position="left" data-tooltip="Clique aqui para ocultar este bloco">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>  
		</a>
	</div>

	<div class="row">

		<div class="input-field input-group-control col s6 m3">
			<label for="numero_apenso">Número do Apenso</label>
			<input value="" id="numero_apenso" name="numero_apenso" type="text">
		</div>

		<div class="col s6">

			<button class="btn waves-effect waves-light bordo ajax-submit" data-href="/sistema/processos/cadastrar_apenso_simples" style="margin-top:40px;">
				Salvar
			</button>
		</div>

	</div>


</div>