<div class="row">
	<form method="POST" action="" enctype="multipart/form-data">

		<div class="input-field input-group-control col s12">
			<label for="data_sentenca_acordo">Data da sentença ou do acordo</label>
			<input id="data_sentenca_acordo" type="text" class="data_sem_hora" name="data">
		</div>

		<div class="input-field input-group-control col s6 m6">
			<label for="porc_honorario_escritorio">Honorário do Escritório</label>
			<input value="" name="porc_honorario_escritorio" type="number">
		</div>

			<div class="input-field input-group-control col s6 m6">
			<label for="porc_honorario_escritorio">Honorário do Perito</label>
			<input value="" name="porc_honorario_perito" type="number">
		</div>

		<div class="input-field input-group-control col s6 m6">
			<label for="porc_honorario_escritorio">Imposto de Renda</label>
			<input value="" name="porc_honorario_perito" type="number">
		</div>

		<div class="col s12">
			<button data-href="/sistema/processos/captacao_cadastrar" class="btn bordo ajax-submit modal-close">Salvar
				<i class="fa fa-floppy-o" aria-hidden="true"></i>
			</button>

			<a  class="btn grey darken-2 modal-close">Cancelar</a>
				

			</div>
		</form>

	</div>