 <a href="/sistema/processos/criar" class="ajax-load">
 	<div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-l">Criar Processo</div>
 </a>

 <a href="/sistema/processos/" class="ajax-load">
 	<div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Pesquisar/Editar</div>
 </a>

 <div class="card cream archive">
 	<div class="header row">

 		<a href="/sistema/processos/" class="ajax-load">
 			<div class="left valign-wrapper">
 				<div class="btn-floating btn-large waves-effect waves-light bordo ">
 					<i class="fa fa-file" aria-hidden="true"></i>            
 				</div>
 				<div class="black-text margin-l-5">Acessar Processos Ativos</div>  
 			</div>
 		</a>

 	</div>
 	<%- include('tabela_interna_index'); %>
 	<p><b>Observações:</b> Os processos nesta lista ficam por 5 anos.</p>
 </div>
