 <div class="cream tab-archive">Cruzamento</div>
 <div class="card cream archive">


 	<form method="POST" action="" data-link="/sistema/processos/pesquisarcruzamento">
 		<div class="row caixa_pesquisa">

 			<div class="input-field input-group-control col s12 m6">
 				<label for="numero">Número</label>					
 				<input id="numero" type="text" class="pesquisa" name="numero" data-container="#tabela_interna_processo">
 			</div>

 			<div class="input-field input-group-control col s12 m6">
 				<label for="cpf_cpjn">CPF/CNPJ do Cliente</label>					
 				<input id="cpf_cpjn" type="text" class="pesquisa" name="cpf_cpjn" data-container="#tabela_interna_processo">
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_cliente">Cliente</label>            
 				<input id="desc_cliente" type="text" class="pesquisa-remove-empty" data-container="#tabela_interna_processo" name="sub_c_nome" data-removempty="#id_cliente">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/clientes/selecionar-todos-modal" data-href="#modalinfo" data-anchor-id="#id_cliente" data-anchor-descricao="#desc_cliente">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_cliente" id="id_cliente" class="pesquisa-input" data-container="#tabela_interna_processo">
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_adverso">Adverso</label>            
 				<input id="desc_adverso" type="text" class="pesquisa-remove-empty" data-container="#tabela_interna_processo" name="sub_adve_nome" data-removempty="#id_adverso">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/adversos/selecionar-todos-modal" data-href="#modalinfo" data-anchor-id="#id_adverso" data-anchor-descricao="#desc_adverso">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_adverso" id="id_adverso" class="pesquisa-input" data-container="#tabela_interna_processo">
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_tipo_causa">Tipo da Causa</label>            
 				<input id="desc_tipo_causa" type="text" class="pesquisa-remove-empty" data-container="#tabela_interna_processo" name="sub_tc_descricao" data-removempty="#id_tipo_causa">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-tipo-causa" data-href="#modalinfo" data-anchor-id="#id_tipo_causa" data-anchor-descricao="#desc_tipo_causa">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_tipo_causa" id="id_tipo_causa" class="pesquisa-input" data-container="#tabela_interna_processo">
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_assunto">Assunto</label>
 				<input id="desc_assunto" type="text" class="pesquisa-remove-empty" data-container="#tabela_interna_processo" name="sub_assu_descricao"data-removempty="#id_assunto">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-assunto" data-href="#modalinfo" data-anchor-id="#id_assunto" data-anchor-descricao="#desc_assunto">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_assunto" id="id_assunto" class="pesquisa-input" data-container="#tabela_interna_processo">
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_comarca">Comarca</label>
 				<input type="text" id="desc_comarca" class="pesquisa-remove-empty" data-container="#tabela_interna_processo" name="sub_com_descricao" data-removempty="#id_comarca">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-comarca" data-href="#modalinfo" data-anchor-id="#id_comarca" data-anchor-descricao="#desc_comarca">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_comarca" id="id_comarca" class="pesquisa-input" data-container="#tabela_interna_processo">
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_tipo_acao_rito">Tipo da Ação/Rito</label>
 				<input id="desc_tipo_acao_rito" type="text" class="pesquisa-remove-empty" data-container="#tabela_interna_processo" name="sub_tar_descricao" data-removempty="#id_tipo_acao_rito">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-tipo-acao-rito" data-href="#modalinfo" data-anchor-id="#id_tipo_acao_rito" data-anchor-descricao="#desc_tipo_acao_rito">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_tipo_acao_rito" id="id_tipo_acao_rito" class="pesquisa-input" data-container="#tabela_interna_processo">   
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_vara">Vara</label>
 				<input id="desc_vara" type="text" class="pesquisa-remove-empty" data-container="#tabela_interna_processo" name="sub_var_descricao" data-removempty="#id_vara">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-vara" data-href="#modalinfo" data-anchor-id="#id_vara" data-anchor-descricao="#desc_vara">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_vara" id="id_vara" class="pesquisa-input" data-container="#tabela_interna_processo">         
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_categoria">Categoria</label>
 				<input id="desc_categoria" class="pesquisa-remove-empty" type="text" data-container="#tabela_interna_processo" name="sub_cat_descricao" data-removempty="#id_categoria">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-categoria" data-href="#modalinfo" data-anchor-id="#id_categoria" data-anchor-descricao="#desc_categoria">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_categoria" id="id_categoria" class="pesquisa-input" data-container="#tabela_interna_processo">   
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_fase">Fase</label>
 				<input id="desc_fase" class="pesquisa-remove-empty" type="text" data-container="#tabela_interna_processo" name="sub_fas_descricao" data-removempty="#id_fase">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-fase" data-href="#modalinfo" data-anchor-id="#id_fase" data-anchor-descricao="#desc_fase">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_fase" id="id_fase" class="pesquisa-input" data-container="#tabela_interna_processo">   
 			</div>

 			<div class="input-field input-group-control-with-search col s12 m4">
 				<label for="desc_advogado">Advogado Responsável</label>
 				<input id="desc_advogado" class="pesquisa-remove-empty" type="text" data-container="#tabela_interna_processo" name="sub_u_nome" data-removempty="#id_advogado">
 				<a class="btn bordo lighten-1 modal-mount-anchor-id" data-link="/processos/selecionar-todos-advogados" data-href="#modalinfo" data-anchor-id="#id_advogado" data-anchor-descricao="#desc_advogado">
 					<i class="fa fa-search"></i>
 				</a>
 				<input type="hidden" name="id_advogado" id="id_advogado" class="pesquisa-input" data-container="#tabela_interna_processo">
 			</div>

 			<div class="row">

 				<div class="col s6 offset-s5">
 					<div class="center valign-wrapper">
 						<a class="btn-floating btn-large waves-effect waves-light golden darken-2 gerar-relatorio" data-nome-provisorio="Processo" data-container-relatorio="#tabela_interna_processo">
 							<i class="fa fa-file-pdf-o bordo-text" aria-hidden="true"></i>
 						</a>
 						<div class="black-text margin-l-5">Gerar Relatório</div>

 					</div>
 				</div>
 			</div>

 		</div>
 	</form>

 	<%- include('tabela_interna_index'); %>

 </div>