<a href="#" id="back-to-top" title="Votar ao topo" style="background-color: rgba(0,0,0,0.5);"><i class="fa fa-chevron-up white-text"></i></a>
		<div class="container text-main">
		  <div class="row">
		  	<div class="col s2 dash-col">
		  		<div class="dashedline"></div>
		  	</div>
		  	<div class="col s12 m10" style="padding-top: 30px !important">
		  		<div class="grad-line in-home"></div>
		  		<p class="justified" style="padding: 0 !important; font-size: 1.3em;">A Young, Dias, Lauxen & Lima Advogados Associados, é um escritório de advocacia que tem como política de atuação, atender os clientes com o comprometimento necessário para solucionar demandas e satisfazer expectativas.</p>
		  		<div class="grad-line in-home"></div>
		  	</div>
		  </div>
	  </div>
	  <div id="whatsapp-btn" class="row center hide-on-large-only">
		  <div class="col s12">
		  	<a class="mjs-button-align " rel="" target="_blank" data-action="getURL" href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=555199254616&amp;text=Olá" data-url="http://api.whatsapp.com/send?1=pt_BR&amp;phone=555199254616&amp;text=Olá">
		  		<p>Toque aqui e fale conosco pelo Whatsapp agora mesmo.</p>
		  	</a>
			</div>
		</div>
		<style type="text/css">
			#whatsapp-btn {
				background-color: #311b00;
				box-shadow: 0px 0px 5px;
				font-size: 1.3em;
			}
			#whatsapp-btn a {
				color: #fff7e2;
				height: 100%;
			}
			#whatsapp-btn a p {
				margin: 0;
				padding: 1em;
			}
		</style>
	  <!-- <div style="background: rgba(92,75,0,1);
background: -moz-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,75,0,1)), color-stop(8%, rgba(92,75,0,1)), color-stop(28%, rgba(133,108,0,1)), color-stop(79%, rgba(133,108,0,1)), color-stop(92%, rgba(92,75,0,1)), color-stop(100%, rgba(92,75,0,1)));
background: -webkit-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: -o-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: -ms-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: linear-gradient(to bottom, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c4b00', endColorstr='#5c4b00', GradientType=0 );">
	  <div class="container-full center" style="background-color: #000 !important; margin: 50px 0 10px !important; padding: 10px 0 !important;">
	  	<h5 class="def-h5" style="margin: 0 !important">ÁREAS DE ATUAÇÃO</h5>
	  </div>
	  <div style="width: 95% !important; margin: auto; ">
		  <div class="container semi-full" style="margin-bottom: 100px">
		  	<div class="row areas-de-atuacao-home">
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Direito Civil: Familiar e Sucessões">
		  				<a href="/areasdeatuacao#direito-civil">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO CIVIL</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Direito dos Servidores Públicos, Federais, Estaduais e Municipais">
			  			<a href="/areasdeatuacao#direito-servidores-publicos">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO DOS SERVIDORES PÚBLICOS</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Previdência Pública e Privada, Regime Geral e Próprio, INSS e Previdência Complementar">
			  			<a href="/areasdeatuacao#direito-previdencia">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">PREVIDÊNCIA E INSS</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="DIREITO CÍVIL: INDENIZAÇÕES, DANOS, E DIREITO DO CONSUMIDOR">
			  			<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO DO CONSUMIDOR</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Mediação e Conciliação">
		  				<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5 big-text" style="text-align: center !important;">MEDIAÇÃO E CONCILIAÇÃO</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Planejamento Patrimonial">
			  			<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">PLANEJAMENTO PATRIMONIAL</h5>
				  			</div>
				  		</a>
			  		</div>
			  		<div class="area-img col s6 m4 offset-l3 l2 center" title="Direito de Seguros">
			  			<a href="/areasdeatuacao#" class="valign-wrapper">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO DE SEGUROS</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Direito Trabalhista">
			  			<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO TRABALHISTA</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Assessoria Sindical">
		  				<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">ASSESSORIA SINDICAL</h5>
			  				</div>
			  			</a>
			  		</div>
		  	</div>
		  </div>
	  </div>
	</div> -->
	<!-- ***************************** início novo menu *************************** -->
<!-- 	<div id="" class="container">
	  <div class="container-full center" style="background-color: #000 !important; margin: 50px 0 10px !important; padding: 10px 0 !important;">
	  	<h5 class="def-h5" style="margin: 0 !important">ÁREAS DE ATUAÇÃO</h5>
	  </div>
	  <div class="row" style="height: 325px; overflow: hidden;">
	  	<div class="col" style="width: 11.10%; margin: 0 !important; padding: 0 3px; overflow: hidden; transform: rotate(15deg);">
	  		<a href="">
	  			<div style="background: url(/assets/imgs/scale-bg.png) center; height: 350px"></div>
	  		</a>
	  	</div>
	  	<div class="col" style="width: 11.10%; margin: 0 !important; padding: 0 3px; overflow: hidden; transform: rotate(15deg);">
	  		<div style="background: url(/assets/imgs/scale-bg.png) center; height: 350px"></div>
	  	</div>
	  </div>
	</div> -->
	<!-- ****************************** fim novo menu *************************** -->

<!-- @@@@@@@@@@@@@@@@@@@@@@ leo's made begin @@@@@@@@@@@@@@@@@@@@@@@ -->
<div id="areashome" class="container-full hide-on-med-and-down">
	<div class="area-wrapper center" title="Direito Civil: Familiar e Sucessões">
		<a class="area-link white-text" href="/areasdeatuacao#direito-civil">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-user area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">DIREITO CIVIL</h5>
			</div>
			<div class="area-image img1"></div>
			<!-- <img class="area-imagem" src="/assets/imgs/areas-home/hammer-1.jpg"> -->
		</a>
	</div>
	<div class="area-wrapper center" title="Direito dos Servidores Públicos, Federais, Estaduais e Municipais">
		<a class="area-link white-text" href="/areasdeatuacao#direito-servidores-publicos">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-user-md area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">DIREITO DOS SERVIDORES PÚBLICOS</h5>
			</div>
			<div class="area-image img2"></div>
		</a>
	</div>
	<div class="area-wrapper center" title="Previdência Pública e Privada, Regime Geral e Próprio, INSS e Previdência Complementar">
		<a class="area-link white-text" href="/areasdeatuacao#direito-previdencia">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-id-card area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">PREVIDÊNCIA E INSS</h5>
			</div>
			<div class="area-image img3"></div>
		</a>
	</div>
	<div class="area-wrapper center" title="Direito Cívil: Indenizações, Danos, e Direito do Consumidor">
		<a class="area-link white-text" href="/areasdeatuacao#direito-civil-indenizacoes">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-money area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">DIREITO DO CONSUMIDOR</h5>
			</div>
			<div class="area-image img4"></div>
		</a>
	</div>
	<div class="area-wrapper center" title="Mediação e Conciliação">
		<a class="area-link white-text" href="/areasdeatuacao#direito-mediacao-e-conciliacao">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-balance-scale area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">MEDIAÇÃO E CONCILIAÇÃO</h5>
			</div>
			<div class="area-image img5"></div>
		</a>
	</div>
	<div class="area-wrapper center" title="Planejamento Patrimonial">
		<a class="area-link white-text" href="/areasdeatuacao#direito-planejamento-patrimonial">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-university area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">PLANEJAMENTO PATRIMONIAL</h5>
			</div>
			<div class="area-image img6"></div>
		</a>
	</div>
	<div class="area-wrapper center" title="Direito de Seguros">
		<a class="area-link white-text" href="/areasdeatuacao#direito-de-seguros">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-handshake-o area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">DIREITO DE SEGUROS</h5>
			</div>
			<div class="area-image img7"></div>
		</a>
	</div>
	<div class="area-wrapper center" title="Direito Trabalhista">
		<a class="area-link white-text" href="/areasdeatuacao#direito-trabalhista">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-gavel area-icone" aria-hidden="true"></i>
				<!-- <i class="fa fa-suitcase area-icone" aria-hidden="true"></i> -->
				<h5 class="def-h5 area-nome">DIREITO TRABALHISTA</h5>
			</div>
			<div class="area-image img8"></div>
		</a>
	</div>
	<div class="area-wrapper center" title="Assessoria Sindical">
		<a class="area-link white-text" href="/areasdeatuacao#direito-sindical">
			<div class="area-preto"></div>
			<div class="area-texto">
				<i class="fa fa-users area-icone" aria-hidden="true"></i>
				<h5 class="def-h5 area-nome">ASSESSORIA SINDICAL</h5>
			</div>
			<div class="area-image img9"></div>
		</a>
	</div>
</div>
<!-- @@@@@@@@@@@@@@@@@@@@@@ leo's made ends @@@@@@@@@@@@@@@@@@@@@@@ -->

<!-- @@@@@@@@@@@@@@@@@@@@@@ mobile menu @@@@@@@@@@@@@@@@@@@@@@@@ -->
<div id="round-menu" class="container hide-on-large-only">
	<div class="row">
		<div class="col s6 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-civil">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-user white-text"></i>
  					<h5 class="def-h5 white-text">Direito Civil</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-servidores-publicos">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-user-md white-text"></i>
  					<h5 class="def-h5 white-text">Direito dos Servidores Públicos</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-previdencia">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-id-card white-text"></i>
  					<h5 class="def-h5 white-text">Previdência e INSS</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-civil-indenizacoes">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-money white-text"></i>
  					<h5 class="def-h5 white-text">Direito do Consumidor</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-mediacao-e-conciliacao">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-balance-scale white-text"></i>
  					<h5 class="def-h5 white-text">Mediação e Consiliação</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-planejamento-patrimonial">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-university white-text"></i>
  					<h5 class="def-h5 white-text">Planejamento Patrimonial</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 m4 l2 offset-l3 circ-wrapper">
			<a href="/areasdeatuacao#direito-de-seguros">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-handshake-o white-text"></i>
  					<h5 class="def-h5 white-text">Direito de Seguros</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-trabalhista">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-gavel white-text"></i>
  					<h5 class="def-h5 white-text">Direito Trabalhista</h5>
  				</div>
  			</div>
			</a>
		</div>
		<div class="col s6 offset-s3 m4 l2 circ-wrapper">
			<a href="/areasdeatuacao#direito-sindical">
  			<div class="round">
  				<div class="text-wrapper center">
  					<i class="fa fa-users white-text"></i>
  					<h5 class="def-h5 white-text">Assessoria Sindical</h5>
  				</div>
  			</div>
			</a>
		</div>
	</div>
</div>
<!-- @@@@@@@@@@@@@@@@@@@@@@ mobile menu end @@@@@@@@@@@@@@@@@@@@@@@@ -->

<!-- <div id="areas-home black" class="container-full" style="background: #000; position: relative; height: 500px;">
	<h5 class="def-h5 center" style="position: absolute; top: 10PX; left: 50%; transform: translate(-50%, 0);">ÁREAS DE ATUAÇÃO</h5>
  <div class="menu-bg container semi-full center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  	<div class="menu-wrapper row center"">
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  	</div>
  </div>
</div>

<style type="text/css">
	#areas-home {
		padding: 50px 0;
	}
	.menu-wrapper-img {
	  height: 400px;
	  margin: 0;
	  display: inline-block;
	  width: 10%;
		position: relative;
	  transform: rotate(15deg);
	}
	.menu-bg {
	  background: url("/assets/imgs/hammer-bg.png") no-repeat center;
	}
	.menu-title {
		text-align: left !important;
		margin: auto;
		text-align: center;
		font-style: italic;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-15deg);
		z-index: 3;
	}
	.menu-wrapper-img .menu-img {
		background-color: rgba(0, 0, 0, 0.5);
		/*filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);*/
	  height: 400px;
	  margin: 0;
	  display: inline-block;
	  width: 100%;
	  border: 2px solid #000000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.menu-wrapper-img:hover .menu-img {
		/*filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);*/
		background-color: rgba(0, 0, 0, 0);
	}


	.center {
	  margin: auto;
	}
</style> -->
<!-- ############################################################################ -->
	<!-- <div class="contaier">
		<div id="areas-home" class="row">
		  <h5 class="def-h5 center" style="margin: 0 !important;">ÁREAS DE ATUAÇÃO</h5>
			<div class="full-menu-wrapper" style="margin: 0 5%;">
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
			</div>
		</div>
	</div>

	<style type="text/css">
		#areas-home {
			overflow: hidden;
		}
		#areas-home .full-menu-wrapper {
			/*margin: 0 5%;*/
			top: 0;
			bottom: 0;
		}
		#areas-home .menu-title {
			font-style: italic;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-15deg);
			z-index: 10;
		}
		#areas-home .menu-img-wrapper {
			width: 11.10%;
			height: 400px;
			transform: rotate(15deg);
			overflow: hidden;
			position: relative;
			margin-bottom: -30px;
		}
		#areas-home .menu-img {
			background: url("/assets/imgs/hammer-bg.png") no-repeat center center fixed;
			background-size: cover;
			-webkit-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-ms-background-size: cover;
			width: 400px;
			height: 400px;
			margin: 0;
			display: inline-block;
			position: absolute;
			-webkit-transform: rotate(-15deg) translate(-50%, -50%);
			-ms-transform: rotate(-15deg) translate(-50%, -50%);
			-moz-transform: rotate(-15deg) translate(-50%, -50%);
			-o-transform: rotate(-15deg) translate(-50%, -50%);
			transform: rotate(-15deg) translate(-50%, -50%);
			top: 50%;
			left: 50%;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
		}
		#areas-home .menu-img-wrapper:hover .menu-img {
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			-ms-filter: grayscale(0%);
			-o-filter: grayscale(0%);
		}
	</style> -->
	<!-- ########################################################################### -->

	  <div class="video-container smaller" style="margin-top: 70px; margin-bottom: 70px !important;">
	  	<!-- <iframe src="https://player.vimeo.com/video/48714365?color=ffffff" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
	  	<iframe src="https://www.youtube.com/embed/XkoFSsvSqeA?ecver=2" width="640" height="360" frameborder="0" allow="encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  </div>
	  <div id="M-V-V" class="container semi-full">
	  	<div class="row">
	  		<div class="col s12 m6 l4 center">
	  			<div class="col s12" style="font-size: 4em;">
	  				<i class="fa fa-bullseye white-text"></i>
	  			</div>
	  			<h5 class="def-h5">MISSÃO</h5>
	  			<div class="col s12">
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</p>
	  			</div>
	  		</div>
	  		<div class="col s12 m6 l4 center">
	  			<div class="col s12" style="font-size: 4em;">
	  				<i class="fa fa-eye white-text"></i>
	  			</div>
	  			<h5 class="def-h5">VISÃO</h5>
	  			<div class="col s12">
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</p>
	  			</div>
	  		</div>
	  		<div class="col s12 m6 offset-m3 l4 center">
	  			<div class="col s12" style="font-size: 4em;">
	  				<i class="fa fa-balance-scale white-text"></i>
	  			</div>
	  			<h5 class="def-h5">VALORES</h5>
	  			<div class="col s12">
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</p>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <div class="container not-nov">
	  	<div id="noticias" class="row" style="margin-top: 100px;">
	  		<!-- <div class="col s12 m6" style="padding: 10px 1em !important;">
		  		<h5 class="def-h5 center" style="padding-bottom: 0; margin-top: 0;">NOTÍCIAS</h5>
		  		<div class="grad-line"></div>
			  	<p class="justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  		</div>
	  		<div class="col s12 m6" style="padding: 10px 1em !important;">
		  		<h5 class="def-h5 center" style="padding-bottom: 0; margin-top: 0;">NOVIDADES</h5>
		  		<div class="grad-line"></div>
			  	<p class="justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  		</div> -->
	  		<%
				if (typeof data.post != 'undefined' && data.post.length > 0) {
					for (var i = data.post.length - 1; i >= 0; i--) {
						if(data.post[i].id_categoria === 2) {
				%>
	  		<div class="col s12 m6" style="padding: 10px 1em !important;">
		  		<h5 class="def-h5 center" style="padding-bottom: 0; margin-top: 0;"><%= data.post[i].titulo_post %></h5>
		  		<div class="grad-line"></div>
		  		<div class="post-conteudo-index">
			  		<p class="justified"><%- data.post[i].conteudo %></p>
		  		</div>
	  		</div>
	  		<%
	  					i = -1;
	  				} else {}
	  			}
	  		} else {}
	  		%>
	  		<%
				if (typeof data.post != 'undefined' && data.post.length > 0) {
					for (var j = data.post.length - 1; j >= 0; j--) {
						if(data.post[j].id_categoria === 3) {
				%>
	  		<div class="col s12 m6" style="padding: 10px 1em !important;">
		  		<h5 class="def-h5 center" style="padding-bottom: 0; margin-top: 0;"><%= data.post[j].titulo_post %></h5>
		  		<div class="grad-line"></div>
		  		<div class="post-conteudo-index">
			  		<p class="justified"><%- data.post[j].conteudo %></p>
		  		</div>
	  		</div>
	  		<%
	  					j = -1;
	  				} else {}
	  			}
	  		} else {}
	  		%>
	  	</div>
	  </div>
<!--   </div> -->

	  <div class="parallax-container">
	  	<h5 class="def-h5 center" style="margin-top: 40px; margin-bottom: -5px;">DEPOIMENTOS</h5>
	  	<section id="testimonials" class="responsive" style="touch-action: pan-x pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 100%;">

            <div class="testim-ovl"></div>
            <div class="testimonials-wrapper" style="padding-top: 303px;">

             <ul class="testimonials-line" style="height: 93px;">

               <li class="customer">

                   <div class="testimonial-bubble" style="top: -50px;">
                       <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc,</p>
                   </div>

                   <div class="cus-profile">
                      <span class="cus-image"><img src="/assets/imgs/Tiago.jpg"></span>
                     <span class="cus-name" style="bottom: 75px;">
                         Tiago
                         <span class="cus-title">CEO da Pepsi</span>
                      </span>
                   </div>
                 
               </li>

               <li class="customer">

                   <div class="testimonial-bubble" style="top: -50px;">
                       <p> Lor separat existentie es un myth. Por scientie, musica, sport etc,</p>
                   </div>

                   <div class="cus-profile">
                      <span class="cus-image"><img src="/assets/imgs/Marta.jpg"></span>
                      <span class="cus-name">
                         Marta
                         <span class="cus-title">CEO da Toyota</span>
                      </span>
                   </div>
                 
               </li>

               <li class="customer">

                   <div class="testimonial-bubble" style="top: -50px;">
                       <p>Dedicação, humanismo e competência unidos de uma forma única. Muito bom ver que existem profissionais com esse nível de credibilidade. Indico sem dúvidas.</p>
                   </div>

                   <div class="cus-profile">
                      <span class="cus-image"><img src="/assets/imgs/Tiago.jpg"></span>
                      <span class="cus-name">
                         Tiago
                         <span class="cus-title">CEO da Pepsi</span>
                      </span>
                   </div>
                 
               </li>

               <li class="customer">

                   <div class="testimonial-bubble" style="top: -50px;">
                       <p>Melhor indicação que poderia fazer. Comprometimento e confiança sem igual e profissionais excelentes. Recomendo totalmente.</p>
                   </div>

                   <div class="cus-profile">
                      <span class="cus-image"><img src="/assets/imgs/Marta.jpg"></span>
                      <span class="cus-name">
                         Marta
                         <span class="cus-title">CEO da Toyota</span>
                      </span>
                 
               </div></li>

             <span id="prev"><i class="fa fa-chevron-left white-text" style="opacity: 0.8; font-size: 25px;"></i></span>
             <span id="next"><i class="fa fa-chevron-right white-text" style="opacity: 0.8; font-size: 25px;"></i></span>   

             </ul><!-- .testimonials-line -->

             </div><!-- .testimonials-wrapper -->
          
      </section><!-- .testimonials --> 
      <div class="parallax" style="opacity: 0.2"><img src="/assets/imgs/scale-bg.png"></div>
    </div>