
		<div class="container text-main">
		  <div class="row">
		  	<div class="col s2 dash-col">
		  		<div class="dashedline"></div>
		  	</div>
		  	<div class="col s12 m10" style="padding-top: 30px !important">
		  		<div class="grad-line in-home"></div>
		  		<p class="justified" style="padding: 0 !important; font-size: 1.3em;">A Young, Dias, Lauxen & Lima Advogados Associados, é um escritório de advocacia que tem como política de atuação, atender os clientes com o comprometimento necessário para solucionar demandas e satisfazer expectativas.</p>
		  		<div class="grad-line in-home"></div>
		  	</div>
		  </div>
	  </div>
	  <!-- <div style="background: rgba(92,75,0,1);
background: -moz-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,75,0,1)), color-stop(8%, rgba(92,75,0,1)), color-stop(28%, rgba(133,108,0,1)), color-stop(79%, rgba(133,108,0,1)), color-stop(92%, rgba(92,75,0,1)), color-stop(100%, rgba(92,75,0,1)));
background: -webkit-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: -o-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: -ms-linear-gradient(top, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
background: linear-gradient(to bottom, rgba(92,75,0,1) 0%, rgba(92,75,0,1) 8%, rgba(133,108,0,1) 28%, rgba(133,108,0,1) 79%, rgba(92,75,0,1) 92%, rgba(92,75,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c4b00', endColorstr='#5c4b00', GradientType=0 );">
	  <div class="container-full center" style="background-color: #000 !important; margin: 50px 0 10px !important; padding: 10px 0 !important;">
	  	<h5 class="def-h5" style="margin: 0 !important">ÁREAS DE ATUAÇÃO</h5>
	  </div>
	  <div style="width: 95% !important; margin: auto; ">
		  <div class="container semi-full" style="margin-bottom: 100px">
		  	<div class="row areas-de-atuacao-home">
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Direito Civil: Familiar e Sucessões">
		  				<a href="/areasdeatuacao#direito-civil">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO CIVIL</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Direito dos Servidores Públicos, Federais, Estaduais e Municipais">
			  			<a href="/areasdeatuacao#direito-servidores-publicos">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO DOS SERVIDORES PÚBLICOS</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Previdência Pública e Privada, Regime Geral e Próprio, INSS e Previdência Complementar">
			  			<a href="/areasdeatuacao#direito-previdencia">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">PREVIDÊNCIA E INSS</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="DIREITO CÍVIL: INDENIZAÇÕES, DANOS, E DIREITO DO CONSUMIDOR">
			  			<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO DO CONSUMIDOR</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Mediação e Conciliação">
		  				<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5 big-text" style="text-align: center !important;">MEDIAÇÃO E CONCILIAÇÃO</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Planejamento Patrimonial">
			  			<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">PLANEJAMENTO PATRIMONIAL</h5>
				  			</div>
				  		</a>
			  		</div>
			  		<div class="area-img col s6 m4 offset-l3 l2 center" title="Direito de Seguros">
			  			<a href="/areasdeatuacao#" class="valign-wrapper">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO DE SEGUROS</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Direito Trabalhista">
			  			<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">DIREITO TRABALHISTA</h5>
			  				</div>
			  			</a>
			  		</div>
			  		<div class="area-img col s6 m4 l2 valign-wrapper" title="Assessoria Sindical">
		  				<a href="/areasdeatuacao#">
			  				<img class="logo-img" style="max-width: 100% !important; width: 100% !important; height: 100% !important;">
			  				<div class="overlay-preto"></div>
			  				<div class="faixa-nome">
			  					<i class="fa fa-user" style="font-size: 3.5em; padding-top: 10px"></i>
			  					<h5 class="def-h5" style="text-align: center !important;">ASSESSORIA SINDICAL</h5>
			  				</div>
			  			</a>
			  		</div>
		  	</div>
		  </div>
	  </div>
	</div> -->
	<!-- ***************************** início novo menu *************************** -->
<!-- 	<div id="" class="container">
	  <div class="container-full center" style="background-color: #000 !important; margin: 50px 0 10px !important; padding: 10px 0 !important;">
	  	<h5 class="def-h5" style="margin: 0 !important">ÁREAS DE ATUAÇÃO</h5>
	  </div>
	  <div class="row" style="height: 325px; overflow: hidden;">
	  	<div class="col" style="width: 11.10%; margin: 0 !important; padding: 0 3px; overflow: hidden; transform: rotate(15deg);">
	  		<a href="">
	  			<div style="background: url(/assets/imgs/scale-bg.png) center; height: 350px"></div>
	  		</a>
	  	</div>
	  	<div class="col" style="width: 11.10%; margin: 0 !important; padding: 0 3px; overflow: hidden; transform: rotate(15deg);">
	  		<div style="background: url(/assets/imgs/scale-bg.png) center; height: 350px"></div>
	  	</div>
	  </div>
	</div> -->
	<!-- ****************************** fim novo menu *************************** -->

<!-- @@@@@@@@@@@@@@@@@@@@@@ leo's made begin @@@@@@@@@@@@@@@@@@@@@@@ -->
<div id="menu-tiras">
	<ul class="tamanho linha">
		<li class="bloco inicial">
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="coluna-9">
			<div class="centralizeaqui">
				<h5 class="def-h5">DIREITO CIVIL</h5>
			</div>
		</li>
		<li class="bloco final">
		</li>
	</ul>
</div>
<style type="text/css">
	#menu-tiras img {
		max-width: 100%;
	}
	#menu-tiras li {
		list-style: none;
	}
	#menu-tiras .tamanho {
		background: url("/assets/imgs/hammer-bg.png") no-repeat center;
		background-size: cover;
		background-position: center;
		position: relative;
		max-width: 100%;
		height: 400px;
		width: 100%;
		overflow: hidden;
		display: flex;
	}
	#menu-tiras .coluna-9 {
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
    /*background-color: rgba(155,155,155,0.4);*/
    background-color: rgba(47,47,47,0.6);
    transform: rotate(17deg);
    height: 120%;
    width: 10%;
    text-align: left;
    top: -10%;
    position: relative;
    margin-left: 6px;
    border: 1px solid #000;
    border-left: 0;
	}
	#menu-tiras .coluna-9:hover {
		background-color: #000000d4;
	}
	#menu-tiras .bloco {
    height: 450px;
    width: 12%;
    background-color: #000;
    transform: rotate(17deg);
    position: absolute;
    top: 0;
	}
	#menu-tiras .inicial {
		left: -8.5%;
	  top: -50px;
	}
	#menu-tiras .final {
		right: -5.83%;
	  top: 2px;
	}
	#menu-tiras .centralizeaqui {
		margin-left: 10px;
		height: 100%;
  	padding-top: 200px;
    transform: rotate(-17deg);
	}
	#menu-tiras h5 {
		font-style: italic;
	}
	#menu-tiras {
		background-color: #000;
	}
</style>
<!-- @@@@@@@@@@@@@@@@@@@@@@ leo's made ends @@@@@@@@@@@@@@@@@@@@@@@ -->

<div id="areas-home black" class="container-full" style="background: #000; position: relative; height: 500px;">
	<h5 class="def-h5 center" style="position: absolute; top: 10PX; left: 50%; transform: translate(-50%, 0);">ÁREAS DE ATUAÇÃO</h5>
  <div class="menu-bg container semi-full center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  	<div class="menu-wrapper row center"">
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  		<div class="menu-wrapper-img">
    		<h5 class="def-h5 menu-title">Direito Civil</h5>
        <div class="menu-img"></div>
      </div>
  	</div>
  </div>
</div>

<style type="text/css">
	#areas-home {
		padding: 50px 0;
	}
	.menu-wrapper-img {
	  height: 400px;
	  margin: 0;
	  display: inline-block;
	  width: 10%;
		position: relative;
	  transform: rotate(15deg);
	}
	.menu-bg {
	  background: url("/assets/imgs/hammer-bg.png") no-repeat center;
	}
	.menu-title {
		text-align: left !important;
		margin: auto;
		text-align: center;
		font-style: italic;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-15deg);
		z-index: 3;
	}
	.menu-wrapper-img .menu-img {
		background-color: rgba(0, 0, 0, 0.5);
		/*filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);*/
	  height: 400px;
	  margin: 0;
	  display: inline-block;
	  width: 100%;
	  border: 2px solid #000000;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.menu-wrapper-img:hover .menu-img {
		/*filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);*/
		background-color: rgba(0, 0, 0, 0);
	}


	.center {
	  margin: auto;
	}
</style>
<!-- ############################################################################ -->
	<!-- <div class="contaier">
		<div id="areas-home" class="row">
		  <h5 class="def-h5 center" style="margin: 0 !important;">ÁREAS DE ATUAÇÃO</h5>
			<div class="full-menu-wrapper" style="margin: 0 5%;">
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
				<div class="col menu-img-wrapper">
					<h5 class="def-h5 menu-title center">DIREITO CIVIL</h5>
					<div class="menu-img"></div>
				</div>
			</div>
		</div>
	</div>

	<style type="text/css">
		#areas-home {
			overflow: hidden;
		}
		#areas-home .full-menu-wrapper {
			/*margin: 0 5%;*/
			top: 0;
			bottom: 0;
		}
		#areas-home .menu-title {
			font-style: italic;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-15deg);
			z-index: 10;
		}
		#areas-home .menu-img-wrapper {
			width: 11.10%;
			height: 400px;
			transform: rotate(15deg);
			overflow: hidden;
			position: relative;
			margin-bottom: -30px;
		}
		#areas-home .menu-img {
			background: url("/assets/imgs/hammer-bg.png") no-repeat center center fixed;
			background-size: cover;
			-webkit-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-ms-background-size: cover;
			width: 400px;
			height: 400px;
			margin: 0;
			display: inline-block;
			position: absolute;
			-webkit-transform: rotate(-15deg) translate(-50%, -50%);
			-ms-transform: rotate(-15deg) translate(-50%, -50%);
			-moz-transform: rotate(-15deg) translate(-50%, -50%);
			-o-transform: rotate(-15deg) translate(-50%, -50%);
			transform: rotate(-15deg) translate(-50%, -50%);
			top: 50%;
			left: 50%;
			filter: grayscale(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
		}
		#areas-home .menu-img-wrapper:hover .menu-img {
			filter: grayscale(0%);
			-webkit-filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			-ms-filter: grayscale(0%);
			-o-filter: grayscale(0%);
		}
	</style> -->
	<!-- ########################################################################### -->



<!--   <div class="parallax-container">
    <div class="parallax"><img id="middle-parall" src="/assets/imgs/parallax-logo.png"></div> -->
	  <div class="video-container smaller" style="margin-top: 70px; margin-bottom: 70px !important;">
	  	<!-- <iframe src="https://player.vimeo.com/video/48714365?color=ffffff" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
	  	<iframe src="https://www.youtube.com/embed/XkoFSsvSqeA?ecver=2" width="640" height="360" frameborder="0" allow="encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  </div>
	  <div id="M-V-V" class="container semi-full">
	  	<div class="row">
	  		<div class="col s12 m6 l4 center">
	  			<div class="col s12" style="font-size: 4em;">
	  				<i class="fa fa-bullseye white-text"></i>
	  			</div>
	  			<h5 class="def-h5">MISSÃO</h5>
	  			<div class="col s12">
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</p>
	  			</div>
	  		</div>
	  		<div class="col s12 m6 l4 center">
	  			<div class="col s12" style="font-size: 4em;">
	  				<i class="fa fa-eye white-text"></i>
	  			</div>
	  			<h5 class="def-h5">VISÃO</h5>
	  			<div class="col s12">
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</p>
	  			</div>
	  		</div>
	  		<div class="col s12 m6 offset-m3 l4 center">
	  			<div class="col s12" style="font-size: 4em;">
	  				<i class="fa fa-balance-scale white-text"></i>
	  			</div>
	  			<h5 class="def-h5">VALORES</h5>
	  			<div class="col s12">
	  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula.</p>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <div class="container not-nov">
	  	<div class="row" style="margin-bottom: 0; margin-top: 100px">
	  	</div>
	  	<div class="row">
	  		<div class="col s12 m6" style="padding: 10px 1em !important;">
		  		<h5 class="def-h5 center" style="padding-bottom: 0; margin-top: 0;">NOTÍCIAS</h5>
		  		<div class="grad-line"></div>
			  	<p class="justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  		</div>
	  		<div class="col s12 m6" style="padding: 10px 1em !important;">
		  		<h5 class="def-h5 center" style="padding-bottom: 0; margin-top: 0;">NOVIDADES</h5>
		  		<div class="grad-line"></div>
			  	<p class="justified">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  		</div>
	  	</div>
	  </div>
<!--   </div> -->
  <div class="container depo-ebook">
	  <div class="row" style="margin-top: 60px;">
	  	<div class="col s12 m6 no-pad-depo">
			  <div class="center" style="width: 100%;position: relative;/*top: -20px;*/">
			  	<h5 class="def-h5">DEPOIMENTOS</h5>
			  </div>
			  <!-- <div id="testimonial-slider" class="testimonial_slider"></div> --> <!-- antigo testimonial -->
			   <section id="testimonials">

            <div class="testim-ovl"></div>

            <div class="testimonials-wrapper">

             <ul class="testimonials-line">

               <li class="customer">

                   <div class="testimonial-bubble">
                       <p> Dedicação, humanismo e competência unidos de uma forma única. Muito bom ver que existem profissionais com esse nível de credibilidade. Indico sem dúvidas.</p>
                   </div>

                   <div class="cus-profile">
                      <span class="cus-image"><img src="/assets/imgs/scale-bg.png"></span>
                     <span class="cus-name">
                         Renato
                         <span class="cus-title">CEO da Pepsi</span>
                      </span>  
                   </div>
                 
               </li>

               <li class="customer">

                   <div class="testimonial-bubble">
                       <p> Melhor indicação que poderia fazer. Comprometimento e confiança sem igual e profissionais excelentes. Recomendo totalmente. </p>
                   </div>

                   <div class="cus-profile">
                      <span class="cus-image"><img src="/assets/imgs/lawyer-bg.png"></span>
                      <span class="cus-name">
                         Marta
                         <span class="cus-title">CEO da Coca-Cola</span>
                      </span>   
                   </div>
                 
               </li>


               <span id="prev"></span>
               <span id="next"></span>   

             </ul><!-- .testimonials-line -->

          </div><!-- .testimonials-wrapper -->
          
      </section><!-- .testimonials --> 
	  	</div>
	  	<div class="col s12 m5 l6 center">
	  		<div class="container-full" style="padding-bottom: 60px !important">
	  			<h5 class="def-h5 center" style="padding-bottom: 20px;">BAIXE UM GUIA PRÁTICO SOBRE SEUS DIREITOS</h5>
	  			<a target="_blank" href="http://www.editoraage.com.br/produto/1865/casa-das-mil-janelas,-a-(prevenda)">
  					<img src="/assets/imgs/pseudo-book.jpg" style="width: auto !important; height: auto !important; max-height: 200px !important;">
	  			</a>
	  		</div>
	  		<!-- <a id="ebook" class="waves-effect waves-light yellow darken-1 black-text btn-large" style="width: 50%"><i class="fa fa-book"></i></a> -->
<!-- 		  		<img src="/assets/imgs/scale-bg.png" class="circle responsive-img" style="max-width: 100%; max-height: 150px;"> -->
	  	</div>
	  </div>
  </div>
  <div id="low-parall" class="parallax-container">
    <div class="parallax"><img src="assets/imgs/scale-bg.png"></div>
  </div>