<div class="chats">
  <ul id="slide-out" class="sidenav datas">
    <ul class="collection white" style="margin: 0; height: 100%; padding: 0; transition: 1s;right: 0;">
      <%- include('chats_usuarios'); %>
    </ul>
    <div class="chat-conteudo">
    </div>
  </ul>
</div>
