 <a href="/sistema/adversos/criar" class="ajax-load">
	<div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-l">Criar Adverso</div>
</a>
 <div class="cream tab-archive">Pesquisar/Editar</div>

 <div class="card cream archive">
  
  <div class="header row">
   <div class="right valign-wrapper">
    <div class="black-text margin-r-5">Criar Adverso</div>
      <a class="btn-floating btn-large waves-effect waves-light bordo lighten-1 right ajax-load" href="/sistema/adversos/criar"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </div>
  <%- include('adversos_pesquisa'); %>
  <ul class="collapsible popout" data-collapsible="accordion, expandable" id="tabela_interna">
    <%- include('adversos_interna_index') %>
  </ul>
</div>
