.docBody {
	SCROLLBAR-FACE-COLOR: #39495A; 
	FONT-SIZE: 10pt; 
	SCROLLBAR-HIGHLIGHT-COLOR: #636d7b; 
	COLOR: #c6c6c6; 
	SCROLLBAR-ARROW-COLOR: #c5c5c5; 
	FONT-FAMILY: Verdana,Arial,Helvetica; 
	SCROLLBAR-BASE-COLOR: #253546; 
	BACKGROUND-COLOR: #253546
}
BODY.docMenu {
	SCROLLBAR-FACE-COLOR: #39495A; 
	FONT-SIZE: 8pt; 
	SCROLLBAR-HIGHLIGHT-COLOR: #636d7b; 
	COLOR: #c6c6c6; 
	SCROLLBAR-ARROW-COLOR: #c5c5c5; 
	FONT-FAMILY: Verdana,Arial,Helvetica; 
	SCROLLBAR-BASE-COLOR: #253546; 
	BACKGROUND-COLOR: #39495A
}

.docBody A:active, .docBody A:link, .docBody A:visited {
	COLOR: #c6c6c6; 
	BACKGROUND-COLOR: #253546; 
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.docBody A:hover {
	COLOR: #253546; 
	BACKGROUND-COLOR: #c6c6c6; 
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}

INPUT#CancelBtn {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #636d7b; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #39495a; PADDING-BOTTOM: 2px; CURSOR: hand; COLOR: #c6c6c6; BORDER-TOP-COLOR: #636d7b; PADDING-TOP: 2px; BACKGROUND-COLOR: #39495a; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #39495a
}
INPUT#SaveBtn {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #636d7b; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #39495a; PADDING-BOTTOM: 2px; CURSOR: hand; COLOR: #c6c6c6; BORDER-TOP-COLOR: #636d7b; PADDING-TOP: 2px; BACKGROUND-COLOR: #39495a; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #39495a
}
.BackPath {
	FONT: 8pt arial,helvetica
}
.BodyText {
	FONT-SIZE: 10pt; COLOR: #c6c6c6; FONT-FAMILY: Verdana,Arial,Helvetica
}
.GroupTitle {
	FONT-SIZE: 12pt; 
	COLOR: #c6c6c6; 
	FONT-FAMILY: Verdana,Arial,Helvetica; 
	FONT-WEIGHT: bold;
}
.BlockTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #c6c6c6; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #39495a; TEXT-ALIGN: center
}

.CmdSyntax {
	FONT-SIZE: 10pt; 
	COLOR: #c6c6c6; 
	FONT-FAMILY: courier new, courier;
	FONT-WEIGHT: bold;
	margin-top: 35px;
	margin-bottom: 5px;
}

.Code {
	FONT-SIZE: 10pt; COLOR: #c6c6c6; FONT-FAMILY: courier new, courier
}

.ErrorMessage {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #a00000
}
.footer {
	FONT: 8pt Verdana,arial,helvetica; COLOR: #c6c6c6
}
.footer A:active, .footer A:link, .footer A:visited {
	COLOR: #c6c6c6; 
	BACKGROUND-COLOR: #39495a; 
	TEXT-DECORATION: none
}
.footer A:hover {
	COLOR: #253546; 
	BACKGROUND-COLOR: #c6c6c6; 
	TEXT-DECORATION: none
}

.MenuText {
	FONT-SIZE: 8pt; 
	COLOR: #c6c6c6; 
	FONT-FAMILY: Verdana,Arial,Helvetica
}
.MenuText A:active, .MenuText A:link, .MenuText A:visited {
	COLOR: #ffffff; 
	BACKGROUND-COLOR: #39495a; 
	TEXT-DECORATION: none
}
.MenuText A:hover {
	COLOR: #253546; 
	BACKGROUND-COLOR: #c6c6c6; 
	TEXT-DECORATION: none
}

.MenuBar {
	FONT-SIZE: 10pt; COLOR: #c6c6c6; FONT-FAMILY: Verdana,Arial,Helvetica
}
.MenuBar A:active {
	FONT-SIZE: 10pt; COLOR: #c6c6c6; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #39495a; TEXT-DECORATION: none
}
.MenuBar A:hover {
	FONT-SIZE: 10pt; COLOR: #253546; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #c6c6c6; TEXT-DECORATION: none
}
.PageMenu {
	FONT-SIZE: 8pt; COLOR: #c6c6c6; FONT-FAMILY: Verdana,Arial,Helvetica
}
.Title {
	FONT: bold 18pt Verdana,arial,helvetica; COLOR: #c6c6c6
}
TABLE.frmTable {
	MARGIN-TOP: 5px; WIDTH: auto
}
TD.frmLabel {
	PADDING-RIGHT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; COLOR: #c6c6c6; PADDING-TOP: 1px; FONT-FAMILY: Verdana,Arial,Helvetica; BACKGROUND-COLOR: #39495a; TEXT-ALIGN: right
}
TD.frmField {
	PADDING-LEFT: 3px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; COLOR: #c6c6c6; PADDING-TOP: 1px; FONT-FAMILY: Verdana,Arial, Helvetica; BACKGROUND-COLOR: #1f2f3d
}
TABLE.grdTable {
	MARGIN-TOP: 5px; WIDTH: auto
}
TR.grdHeaderRow {
	BACKGROUND-COLOR: #39495a
}
TD.grdHeaderText {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #c6c6c6; PADDING-TOP: 2px; FONT-FAMILY: Verdana,Arial,Helvetica
}
TD.grdHeaderNumeric {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; COLOR: #c6c6c6; PADDING-TOP: 2px; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-ALIGN: right
}
TR.grdRow {
	BACKGROUND-COLOR: #1f2f3d
}
TD.grdText {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #c6c6c6; FONT-FAMILY: Verdana,Arial,Helvetica
}
TD.grdNumeric {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; COLOR: #c6c6c6; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-ALIGN: right
}
