html,body,main{min-height: 100%;}
body > div.row .col {
  padding: 0;
}
body {
  position: relative !important;
  max-width: 1920px !important;
  margin: auto !important;
}
/*.select-field{
  position: relative;
  margin-top: 0rem;
}
.collapsible-header .fixed-action-btn {
  position: relative;
    right: 0;
    bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    z-index: 997;
    height: 8px;
    width: 8px;
    display: inline;
}
  .collapsible-header .fixed-action-btn ul {
    margin: 0 -15px;
  }
    .collapsible-header .fixed-action-btn ul li {
      margin: 0 !important;
      position: relative !important;
      top: -15px !important;
    }
      .collapsible-header .fixed-action-btn ul li i {
        margin: auto;
      }
.ar {position: absolute;right: 0;}
.al {position: absolute;left: 0;}
.txshadow{text-shadow: 0px 1px 0px rgb(8, 8, 8);}
.text-send {position: absolute;bottom: 1%;width: 100%;}
.image-perfil{
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: 5px;
  box-shadow: inset 0px 0px 10px 0px black;
}
.image-perfil.db {
  width: 128px;
  height: 128px;
  margin: auto;
  margin-bottom: 15px;
}
.collection .collection-item.avatar {min-height: auto;}
.relative{position: relative;}
.word-wrap {word-wrap: break-word;}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.5s;
}
  .close-button:hover i,
  .close-button:hover {
    color: #000 !important;
    background-color: #fff !important;
  }
#sidenav-overlay{z-index: 2}
.grafico {max-width: 100%;}
.nav-wrapper #big-nav > a,
.nav-wrapper #big-nav > ul > li {
  width: 100% !important;
  display: block !important;
  position: relative !important;
  border-bottom: 0px solid;
}
.nav-wrapper #big-nav > ul > li a {
  transition: 0.5s;
  background-size: 201% 100%;
  background-image: linear-gradient(to right, #ad1457 50%, #f8bbd0 50%);
}
  .nav-wrapper #big-nav > ul > li:hover a {
    background-position: -99% 0;
    color: #000;
  }
.nav-wrapper .edit-button {
  position: absolute;
  top: 0;
  cursor: pointer;
  transition: 0.5s;
}
  .nav-wrapper .edit-button:hover {
    font-size: 2em;
  }
.nav-wrapper #small-nav > ul > li > a {
  font-size: 2em;
}
.nav-wrapper #small-nav > a,
.nav-wrapper #small-nav > ul > li {
  width: 100% !important;
  position: relative !important;
  text-align: center;
}
nav {
  box-shadow: 0 0 black;
  height: 100%;
  background-color: transparent;
}
header {
  box-shadow: -2px 1px 5px 2px black;
  z-index: 2;
  height: 100%;
  min-height: 100%;
  position: fixed;
}
.none {display: none;}

.center-all th,
.center-all td {
  text-align: center;
}
ul > li > ul.sub-menu {
  border-radius: 4px;
  transition: 0.5s;
  position: absolute;
  left: -100%;
  padding: 0 15px;
  top: 0;
  opacity: 0;
  width: 0;
  height: 0;
  white-space: nowrap;
}
ul > li > ul.sub-menu:before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
  border-right: 31px solid #4051bd;
  left: -30px;
  margin-top: 1px;
}
  ul > li:hover > ul.sub-menu {
    z-index: 3;
    opacity: 1;
    display: block;
    background-color: rgb(64, 81, 189);
    left: 170px;
    width: 170px;
    height: auto;
    padding: 0 5px;
    text-align: left;
  }
  #small-nav ul > li:hover > ul.sub-menu {
    left: 105px;
  }
  ul > li:hover > ul.sub-menu:before {
    z-index: 3;
    opacity: 1;
    content: "";
    position: absolute;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-top: 31px solid transparent;
    border-bottom: 31px solid transparent;
    border-right: 31px solid #4051bd;
    left: -30px;
  }
    ul > li:hover > ul.sub-menu > li > a {
      transition: 0.2s;
      padding: 0;
    }
      ul > li:hover > ul.sub-menu > li > a:hover {
        background-color: #4051bd;
        text-shadow: 1px 1px black;
      }
.modal-mount {
  cursor: pointer;
}
.dropdown-content {
  overflow: hidden;
  min-width: 195px;
  left: 70% !important;
}
#modaldeletar {
  z-index: 1007 !important;
}
.error {
  position: absolute;
  bottom: -20px;
  right: 0px;
  background-color: #f44336;
  color: white;
  padding: 0 10px;
  max-width: 100px;
  border-radius: 0 15px;
  box-shadow: 0px 3px 2px -3px black;
}*/
/* Estilos do site */

/*MADE BY ME*/
.brown-bg {
  background-color: #1d1917 !important;
}
.no-margin {
  margin: 0 !important;
}
.container-full {
  width: 100%;
}
nav {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
nav.new-nav {
  padding: 10px 0 !important;
  z-index: 2 !important;
  position: absolute !important;
  top: 0 !important;
  line-height: 80px !important;
  height: 100px !important;
/*  overflow: hidden !important;*/
}
.trans-bg {
  background-color: transparent !important;
}
.fit-trans-bg {
  background-color: transparent !important;
}
#index-banner {
  overflow: hidden !important;
}
/*.bg-img {
  background-image: url("/assets/imgs/lawyer-bg.png");
  background-position: top;
  background-repeat:  no-repeat;
  background-size: contain;
  background-color: #000;
}*/
ul.large-info li a, ul.large-info li a i {
  font-size: 1.8em !important;
}
ul.large-info li a:hover {
  color: #ffd65e !important;
}
ul.large-info.right li a {
/*  float: right !important;*/
  font-family: "Bebas Neue", sans-serif;
}
.bg-img-n {
  background: url("/assets/imgs/office-bg.jpg");
/*  background-position: top;*/
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0px auto;
  height: 0;
  padding-top: 66.64%; /* (img-height / img-width * width) */
                /* (853 / 1280 * 100) */
}
.bg-ada {
  background: url("/assets/imgs/scale-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.bg-image {
  background: rgba(0, 0, 0, 0.5) url("/assets/imgs/office-bg.jpg");
/*  background-position: top;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}
/*.bg-img-n span { 
  background-color: black;
  color: #fff;
  display: inline;
  padding: 0.5rem;
  
   Needs prefixing
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}*/
.button-collapse {
  z-index: 99 !important;
}
.side-nav .divider {
  background: rgba(251,210,87,0);
  background: -moz-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,210,87,0)), color-stop(50%, rgba(251,210,87,1)), color-stop(100%, rgba(251,210,87,0)));
  background: -webkit-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: -o-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: -ms-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: linear-gradient(to right, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd257', endColorstr='#fbd257', GradientType=1 );
}
ul#slide-header > li#side-nav-nome {
  border-bottom: none !important;
}
ul#slide-header > li#side-nav-nome > .user-view > .background > img {
  max-width: 100%;
  opacity: 0.2;
}
ul#slide-header > li#side-nav-nome > .user-view > a > span {
  margin-left: -16px;
  margin-right: -16px;
  background-color: #00000036;
}
ul#slide-header > li#side-nav-nome > .user-view > a > span.email {
  padding-bottom: 0;
/*  margin-bottom: 16px;*/
  margin-bottom: 0;
}
ul#slide-header:not(.browser-default)>li {
  border-bottom: 1px solid #000;
}
#slide-header.side-nav {
  background-color: #2d2d2d;
}
#slide-header.side-nav > li a {
  color: #fff;
}
#nav-mobile li > a > h5 {
  margin: .60rem 0 0 0;
  font-size: 1.64em;
}
#blog-post .post-texto a {
  color: #fbd256;
}
#blog-post blockquote {
  border-left: 5px solid #d6b24c;
}
#blog-section .post-rodape a {
  color: #d6b24c;
}
#nav-mobile li > a:hover > h5 {
/*  background: linear-gradient(rgba(251,210,87,1), #eee);
  background: -webkit-linear-gradient(rgba(251,210,87,1), #eee);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;*/
  opacity: 0.9 !important;
  background: rgba(251,210,87,1) !important;
  background: -moz-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(251,210,87,1)), color-stop(30%, rgba(255,239,189,1)), color-stop(100%, rgba(235,217,14,1))) !important;
  background: -webkit-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -o-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -ms-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: linear-gradient(135deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd257', endColorstr='#ebd90e', GradientType=1 ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
  transition: 0.5s ease;
}
.facebot {
  overflow: hidden !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}
#fale-conosco {
  float: right !important;
  border: 2px dashed #fbd257 !important;
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  font-size: 1.5em !important;
  line-height: 1.5em !important;
  height: 1.6em !important;
  right: -0.4em !important;
}
.maybe:before {
  width: 0 !important;
  height: 0 !important;
  content: '' !important;
  border-width: 100px !important;
  border-style: solid !important;
  border-color: #000 transparent transparent #000 !important;
  display: inline-block !important;
  vertical-align: middle !important;
  position: absolute !important;
}
.areas-de-atuacao-home .area {
  margin: 2px 0 !important;
  background-color: #000 !important; /*------------TEST-----------*/
  background-clip: content-box !important; /*------------TEST-----------*/
  border-radius: 2px 2px 2px 2px; /*------------TEST-----------*/
  padding-top: 5px; /*------------TEST-----------*/
/*  height: 200px !important;*/
}
.areas-de-atuacao-home .area-img {
  height: auto !important;
  max-width: 100% !important;
  line-height: 0.1 !important; /*------------TEST-----------*/
}
.areas-de-atuacao-home .area-img img {
  /*margin: -1% 0 !important;*/
}
.areas-de-atuacao-home .areas-texto {
  text-align: justify !important;
  margin: 0 !important;
  padding: 10px !important;
/*  background-color: #000 !important;*/
  position: relative !important;
  max-height: 100% !important;
}
/* styles for '...' */ 
.areas-de-atuacao-home p {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  right: 1em;
  padding-left: 1em;
}
/* create the ... */
.areas-de-atuacao-home p:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.areas-de-atuacao-home p:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 1em;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: #000;
}
/*.areas-de-atuacao-home .areas-texto-left {
  text-align: justify !important;
  text-align-last: left !important;
}
.areas-de-atuacao-home .areas-texto-right {
  text-align: justify !important;
  text-align-last: right !important;
}*/
.areas-de-atuacao-home .area-img {
  position: relative;
  padding: 5px;
}
.areas-de-atuacao-home/* > .areas-grupo >*/ .area-img > a,
.areas-de-atuacao-home/* > .areas-grupo >*/ .area-img > i {
  color: #fff;
}
.areas-de-atuacao-home/* > .areas-grupo >*/ .area-img > a > .faixa-nome {
  position: absolute;
  text-align: center;
  width: 100%;
/*  background-color: rgba(0, 0, 0, 0.6);*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.areas-de-atuacao-home/* > .areas-grupo >*/ .area-img > a:hover > .faixa-nome {
  background-color: transparent;
  transition: .5s ease;
  color: #000;
}
.areas-de-atuacao-home/* > .areas-grupo >*/ .area-img > a:hover > .overlay-preto {
  position: absolute;
  left: -5px;
  top: -5px;
  bottom: -5px;
  right: -5px;
  /*background-color: #00000099 !important;*/
  transition: .5s ease;
}
.areas-de-atuacao-home .area-img > a > img.logo-img:after {
  content:url("/assets/imgs/logo_areas1.png");
}
.areas-de-atuacao-home .area-img > a > img.logo-img:before {
  content: '';
  background-image: url("/assets/imgs/logo_areas1.png");
}
.areas-de-atuacao-home .area-img > a > img.logo-img {
  content:url("/assets/imgs/logo_areas1.png");
  -webkit-transition: -webkit-transform 0.25s ease 0s;
  -moz-transition: -moz-transform 0.25s ease 0s;
  -o-transition: -o-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.areas-de-atuacao-home .area-img > a:hover > img.logo-img:after {
  content:url("/assets/imgs/logo_areas4.png");
}
.areas-de-atuacao-home .area-img > a:hover > img.logo-img {
  content:url("/assets/imgs/logo_areas4.png");
  -webkit-transition: -webkit-transform 0.25s ease 0s;
  -moz-transition: -moz-transform 0.25s ease 0s;
  -o-transition: -o-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  -webkit-transform: scale3d(1.08, 1.08, 1.08);
  transform: scale3d(1.08, 1.08, 1.08);
}
/*@media only screen and (max-width: 992px) {
  .areas-de-atuacao-home #areas-full-img {
    display: block !important;
  }
  .areas-de-atuacao-home .area-img {
    display: none !important;
  }
}*/
#equipe-section .card, #escritorio-section .card {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
#equipe-section .card:hover, #escritorio-section .card:hover {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1); /*deixa imagem com blur no 1.1 e 1.11 (why!?)*/
}
#equipe-section .card .card-content {
  padding: 15px !important;
}
#M-V-V i {
  background: rgba(251,210,87,1) !important;
  background: -moz-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(251,210,87,1)), color-stop(30%, rgba(255,239,189,1)), color-stop(100%, rgba(235,217,14,1))) !important;
  background: -webkit-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -o-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -ms-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: linear-gradient(135deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd257', endColorstr='#ebd90e', GradientType=1 ) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}
.section.no-pad-bot {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.container.semi-full {
  width: 90% !important;
}
.page-footer.transparent {
  background-color: transparent !important;
}
.grad-line {
  background: rgba(251,210,87,0);
  background: -moz-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,210,87,0)), color-stop(50%, rgba(251,210,87,1)), color-stop(100%, rgba(251,210,87,0)));
  background: -webkit-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: -o-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: -ms-linear-gradient(left, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  background: linear-gradient(to right, rgba(251,210,87,0) 0%, rgba(251,210,87,1) 50%, rgba(251,210,87,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd257', endColorstr='#fbd257', GradientType=1 );
  height: 3px;
/*  width: 110%;
  left: -5%;
  position: relative;*/
  /*margin-top: 1em !important;*/
}
nav.main-nav {
  height: 3em !important;
  line-height: 3em !important;
  /*adicionado depois*/
  position: relative !important;
/*  width: 134% !important;
  left: -17% !important;*/
}
.justified {
  text-align: justify;
}
.video-container {
  width: 70% !important;
  margin-left: 15% !important;
  margin-right: 15% !important;
}
.container.not-nov, .container.depo-ebook {
  width: 90%;
}
.card {
  background-color: #000 !important;
}
.parallax-container {
  /*height: auto !important;*/
}
.parallax-container .parallax img#middle-parall {
  width: 65% !important;
  height: 65% !important;
  min-width: 65% !important;
  min-height: 65% !important;
  opacity: 0.2 !important;
  bottom: -100px !important;
}
#low-parall.parallax-container .parallax img {
  opacity: 0.3 !important;
}
#low-parall.parallax-container {
  bottom: 0 !important;
  position: absolute !important;
  z-index: -1 !important;
  /* min-height: 300px !important; */
  /* height: 100% !important; */
  width: 100% !important;
  height: -moz-available !important;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available !important;  /* Mozilla-based browsers will ignore this. */
  height: fill-available !important;
}
nav.nav-center ul {
  text-align: center !important;
}
nav.nav-center ul li {
  display: inline !important;
  float: none !important;
}
nav.nav-center ul li a {
  display: inline-block !important;
}
.container {
  max-width: 1900px !important;
}
.PARALLAX-PRA-ARRUMAR-E-TALS {
  position: absolute;
  width: 100%;
  min-width: 500px;
}
#btn-contato {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,ffe8aa+51,ffd65e+100 */
  background: rgb(255,214,94); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(255,214,94,1) 0%, rgba(255,232,170,1) 51%, rgba(255,214,94,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#ffd65e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #000 !important;
  font-size: 1.4em !important;
  font-family: "Bebas Neue", sans-serif !important;
}
.dashedline {
  /*height is just to be sure ^^ */
  height: 100% !important;
  border-bottom: 3px dashed #fff !important;
  border-left: 3px dashed #fff !important;
  width: 50% !important;
  margin-left: 50% !important;
/*  padding-bottom: 50% !important;*/
  padding-bottom: 5.5rem !important;
}

/*---------------------- BLOG ---------------------*/
#blog-section .card .card-content {
  padding: 15px;
}
#blog-section .posts {
  margin-top: 40px;
}
#blog-section .posts .post > .col {
  padding: 20px !important;
}
#blog-section .posts .post .post-imagem img {
  border-radius: 4px;
  transition: .25s ease;
  padding: 5px 5px 5px 0;
}
#blog-section .posts .post .post-imagem .card-image a div.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(251,210,87,1) !important;
  background: -moz-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(251,210,87,1)), color-stop(30%, rgba(255,239,189,1)), color-stop(100%, rgba(235,217,14,1))) !important;
  background: -webkit-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -o-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: -ms-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  background: linear-gradient(135deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd257', endColorstr='#ebd90e', GradientType=1 ) !important;
  /*background: #000000 !important;*/
  opacity: 0;
  transition: 0.25s ease;
}
#blog-section .posts .post a:hover div.overlay {
  opacity: 0.1 !important;
}
#blog-section .posts .post .post-conteudo .post-titulo a,
#blog-post #post-head h5.post-titulo {
  color: #d6b24c !important;
}
#blog-section .posts .post .post-conteudo .post-texto p,
#blog-post #post-head .post .post-conteudo .post-texto p {
  text-align: justify;
}
#blog-post #post-head .post .post-conteudo .post-texto * {
  font-size: 1em !important;
}
#blog-post #post-head .post .post-conteudo .post-texto a * {
  color: #fff !important;
}
#blog-section .posts .post .post-conteudo .post-texto {
  max-height: 4.5em;
  overflow: hidden;
}
#blog-post #post-head .post .post-conteudo .post-texto a {
  color: #ffedbd !important;
}
#blog-section .posts .post .post-conteudo .post-texto a.leia-mais {
  color: #f4d59a;
}
#blog-section .posts .post .post-conteudo .post-autor-data a,
#blog-post #post-head .post-autor-data a {
  color: #fff !important;
}
#blog-section a {
  color: #d2a72e;
}
#blog-section .posts .post .post-conteudo .post-autor-data a .post-autor,
#blog-post #post-head .post-autor-data a .post-autor {
  color: #d6b24c !important;
}
#blog-section .ultimos-posts, #blog-section .categorias-posts {
  margin: 30px 0;
}
#blog-section .ultimos-posts ul li, #blog-section .categorias-posts ul li {
  margin: 10px 0 10px 20px;
}
#blog-section .ultimos-posts li, #blog-section .categorias-posts li {
  margin-left: 20px;
}
#blog-section #blog-sidebar {
  padding-left: 40px;
}
#blog-section .pagination li.active {
  background: rgba(251,210,87,1) !important;
background: -moz-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(251,210,87,1)), color-stop(30%, rgba(255,239,189,1)), color-stop(100%, rgba(235,217,14,1))) !important;
background: -webkit-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
background: -o-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
background: -ms-linear-gradient(-45deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
background: linear-gradient(135deg, rgba(251,210,87,1) 0%, rgba(255,239,189,1) 30%, rgba(235,217,14,1) 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd257', endColorstr='#ebd90e', GradientType=1 ) !important;
}
#blog-section .pagination li.active a {
  color: #000;
}
#blog-section .pagination li.disabled a {
  color: #797979;
}
#blog-section .pagination li a {
  color: #d6d6d6;
}
/*-----estilo blog-----*/
.blog-pesquisa {
  margin-top: 50px;
}
.chip {
  border-radius: 5px;
  background-color: #fbd256;
}
.chip > i {
  margin-left: 5px;
  font-size: 13px;
}
/*---------------------- BLOG ---------------------*/

/*@media only screen and (max-width: 1400px) {
  nav.nav-center ul li a h5 {
    font-size: 0.8em;
  }
}*/
/*with rgba = background behind image
with linear-background = overlay on image, then the rest*/
/*  background: rgba(255, 42, 83, 0.25), url("/assets/imgs/lawyer-bg.png");*/
/*  background: linear-gradient(rgba(255, 42, 83, 0.25), rgba(255, 42, 83, 0.25)), url("/assets/imgs/lawyer-bg.png");*/
/*.depo-ebook .slider .slides {
  background-color: transparent !important;
}
.depo-ebook .slider .slides li .caption {
  width: 90% !important;
  left: 5% !important;
  top: 0 !important;
}
.depo-ebook .slider ul.indicators {
  display: none !important;
}
#testimonial-slider {
  width: 100% !important;
  margin-right: 0 !important;
}
.testimonial_slide .content .avatar {
  display: none !important;
}
.testimonial_slide .content .text {
  width: 100% !important;
  margin-top: 0 !important;
  padding: 2em 0 2em 0 !important;
}*/
#testimonial-slider .main_container, #testimonial-slider .main_container .testimonial_slide, #testimonial-slider .main_container .testimonial_slide .content .text .quote {
  width: 100% !important;
}
#testimonial-slider .main_container .testimonial_slide .content .text .signature .author a {
  color: #fff !important;
  text-shadow: 1px 1px 3px #bf9004 !important;
}
#testimonial-slider .main_container .testimonial_slide .content .text .signature {
  color: #bf9004 !important;
}
#testimonial-slider, #testimonial-slider .main_container .testimonial_slide {
  min-width: auto !important;
}
.testimonial_slider .main_container {
  margin: 0 !important;
}
#testimonial-slider .next_slide {
  opacity: 0.5 !important;
  background-size: 20px 50px !important;
  width: 20px !important;
  min-width: 20px !important;
}
@media only screen and (min-width: 993px) {
  #testimonial-slider {
    width: 692px !important;
    margin: 5em auto 0 !important;
  }
  #testimonial-slider .main-container {
    width: 100% !important;
  }
}
@media only screen and (max-width: 992px) {
  #testimonial-slider .main_container .testimonial_slide .content .text {
    width: 100% !important;
    margin: 0 auto 10px !important;
  }
  #testimonial-slider .main_container .testimonial_slide .content .avatar {
    width: 100% !important;
    margin: 0 auto !important;
  }
  #testimonial-slider {
    width: 100% !important;
    margin-bottom: 30px !important;
  }
}
.no-pad-depo {
  padding: 0 !important;
}
.depo-ebook>.row {
  margin-bottom: 0 !important;
}
#logo-footer {
  padding-top: 3em !important;
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  #logo-footer>img {
    width: 70% !important;
  }
}
@media only screen and (max-width: 500px) {
  #logo-footer>img {
    width: 80% !important;
  }
}
h5.def-h5 {
/*  font-size: 1.2em;*/
  font-family: "Bebas Neue", sans-serif !important;
}

/*---------------Dados do Contato---------------*/
 /* label color */
.input-field label {
  color: #f0f0f0 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ffd65e !important;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  -webkit-box-shadow: 0 1px 0 0 #ffd65e !important;
  box-shadow: 0 1px 0 0 #ffd65e !important;
  border-bottom: 1px solid #ffd65e !important;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #ffd65e;
}
input[type=password]:not(.browser-default):focus:not([readonly]) ,
input[type=password].valid:not(.browser-default),
input[type=password].valid:not(.browser-default):focus,
input[type=password].valid:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]) {
  -webkit-box-shadow: 0 1px 0 0 #ffd65e !important;
  box-shadow: 0 1px 0 0 #ffd65e !important;
  border-bottom: 1px solid #ffd65e !important;
}
input[type=email]:not(.browser-default):focus:not([readonly])+label {
  color: #ffd65e !important;
}
input[type=email].valid:not(.browser-default) {
  border-bottom: 1px solid #bf9004 !important;
  box-shadow: 0 1px 0 0 #bf9004 !important;
}
.input-field label.active{
  color: #ffd65e !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffd65e !important;
  box-shadow: 0 1px 0 0 #ffd65e !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #bf9004 !important;
  box-shadow: 0 1px 0 0 #bf9004 !important;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ffd65e !important;
  box-shadow: 0 1px 0 0 #ffd65e !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #ffd65e !important;
}
/*mudar cores do select*/
select:focus {
  outline: 1px solid #ffd65e !important;
}
select option:hover {
  background: #000 !important;
}
select {
  background: #000 !important;
  border: 1px solid #bf9004 !important;
}
/*---------------Fim Dados do Contato---------------*/
.card .card-title {
  position: relative !important;
  top: 15px !important;
  left: 15px !important;
}
table.highlight>tbody>tr {
  border-bottom: 1px solid #000 !important;
}
#top-mob .top-num a {
  color: #f0f0f0 !important;
  font-size: 1.7em !important;
  line-height: 1.1em;
  font-family: "Bebas Neue", sans-serif;
}
#top-mob .top-num a i {
  display: inline-flex !important;
  padding-bottom: 2px !important;
}
#top-mob .top-num a {
  height: 50px !important;
  display: inline-flex !important;
}
#top-mob .row {
  margin-bottom: 0 !important;
  height: 50px !important;
}
/*----------------mudanças facebook----------------*/
/*#fb-messenger-widget-7606 {
  position: absolute !important;
}*/
/*--------------fim mudanças facebook--------------*/


/*----------------mudanças blog----------------*/
/*#cke_editor span#cke_1_top {
  background-color: #2d2d2d;
}
#cke_1_bottom {
  background-color: #2d2d2d;
}
#cke_1_bottom > #cke_1_resizer {
}*/
#cke_26 {
  display: none !important;
}
.file-field .anexo-container {
  background: rgb(255,214,94);
  background: -moz-linear-gradient(45deg, rgba(255,214,94,1) 0%, rgba(255,232,170,1) 51%, rgba(255,214,94,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%);
  background: linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%);
  color: #000 !important;
}
#btn-gerenciar {
    background: rgb(255,214,94);
    background: -moz-linear-gradient(45deg, rgba(255,214,94,1) 0%, rgba(255,232,170,1) 51%, rgba(255,214,94,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%);
    background: linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#ffd65e',GradientType=1 );
}
/*--------------mudanças blog fim--------------*/

/*==================MEDIA QUERYS==================*/
@media only screen and (max-width: 600px) {
  h1#text-lutamos {
    font-size: 3em !important;
  }
  .dash-col {
    display: none !important;
  }
  .video-container.smaller {
    padding-bottom: 45% !important;
  }
}
@media only screen and (min-width: 601px) {
  .video-container.smaller {
    padding-bottom: 35%;
  }
  .container.menus {
    width: 95% !important;
  }
  .grad-line.in-home {
    display: none !important;
  }
  .img-logo {
    padding-left: 10px !important;
    width: 30% !important;
    display: inline-block !important;
  }
}
@media only screen and (max-width: 920px) {
  .container-full.bg-image {
    align-self: center !important;
    background-size: 150% !important;
    right: 100%;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1160px) {
  .container-full.bg-image {
    align-self: center !important;
    background-size: 120% !important;
    right: 10%;
  }
}
@media only screen and (max-width: 1160px) {
  ul.large-info li a, ul.large-info li a i {
    font-size: 0.4em;
  }
}
@media only screen and (min-width: 1280px) {
  #index-banner .bg-image {
    background-position: center !important;
  }
}
@media only screen and (max-width: 992px) {
  .main-nav ul li a {
    padding: 0 5px !important;
  }
  .areas-de-atuacao-home h5 {
    font-size: 1.4rem !important;
  }
  nav.new-nav {
    margin-top: 50px !important;
  }
}
@media only screen and (min-width: 993px) {
  .main-nav ul li a {
    padding: 0 10px !important;
  }
  .areas-de-atuacao-home h5 {
    font-size: 1.6rem !important;
  }
  ul.large-info li a, ul.large-info li a i {
    font-size: 2em;
  }
  #top-mob {
    display: none !important;
  }
/*  .areas-de-atuacao-home #areas-full-img {
    display: none !important;
  }
  .areas-de-atuacao-home .area-img {
    display: block !important;
  }*/
}
.areas-de-atuacao-home #areas-full-img {
  display: none !important;
}
@media only screen and (max-width: 600px) {
  footer.page-footer {
    margin-top: 50px !important;
    padding-top: 0 !important;
  }
}
@media only screen and (min-width: 601px) {
  footer.page-footer {
    margin-top: 60px !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .container.text-main {
    width: 80% !important;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1280px) {
  .areas-de-atuacao-home h5.big-text {
    font-size: 1.3rem !important;
  }
}
@media only screen and (min-width: 801px) {
  #nav-mobile h5.def-h5 {
    font-size: 2em !important;
  }
}
@media only screen and (min-width: 601px) and (max-width: 610px) {
  #nav-mobile h5.def-h5 {
    font-size: 1.5em !important;
  }
}