<section id="areas-de-atuacao">
  <div class="row">
  	<div class="col s12 areas-title">
	  	<div class="container-full center" style="background-color: #000 !important; margin: 50px 0 30px !important; padding: 10px 0 !important;">
		  	<h5 class="def-h5" style="margin: 0 !important">ÁREAS DE ATUAÇÃO</h5>
		  </div>
  	</div>
  </div>
  <div id="direito-civil" class="row">
  	<div class="col s12 areas-titulo">
  		<div class="grad-line"></div>
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; padding: 10px 0 !important;">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO CIVIL: FAMILIA E SUCESSÕES</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full">
	  	<div class="col s12 m9 justified">
	  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  	</div>
	  	<div class="col s6 offset-s3 m3">
	  		<img class="circle" src="/assets/imgs/scale-bg.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
  <div id="direito-servidores-publicos" class="row">
  	<div class="col s12 areas-titulo">
  		<div class="grad-line"></div>
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; padding: 10px 0 !important;">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO DOS SERVIDORES PÚBLICOS, FEDERAIS, ESTADUAIS E MUNICIPAIS</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full">
	  	<div class="col s6 offset-s3 m3">
	  		<img class="circle" src="/assets/imgs/scale-bg.png" style="max-width: 100%;">
	  	</div>
	  	<div class="col s12 m9 justified">
	  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  	</div>
  	</div>
  </div>
  <div id="direito-previdencia" class="row">
  	<div class="col s12 areas-titulo">
  		<div class="grad-line"></div>
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; padding: 10px 0 !important;">
		  	<h5 class="def-h5" style="margin: 0 !important">PREVIDÊNCIA PÚBLICA E PRIVADA, REGIME GERAL E PRÓPRIO, INSS E PREVIDÊNCIA COMPLEMENTAR</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full">
	  	<div class="col s12 m9 justified">
	  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  	</div>
	  	<div class="col s6 offset-s3 m3">
	  		<img class="circle" src="/assets/imgs/scale-bg.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
  <div id="direito-civil-indenizacoes" class="row">
  	<div class="col s12 areas-titulo">
  		<div class="grad-line"></div>
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; padding: 10px 0 !important;">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO CÍVIL: INDENIZAÇÕES, DANOS, E DIREITO DO CONSUMIDOR</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full">
	  	<div class="col s6 offset-s3 m3">
	  		<img class="circle" src="/assets/imgs/scale-bg.png" style="max-width: 100%;">
	  	</div>
	  	<div class="col s12 m9 justified">
	  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  	</div>
  	</div>
  </div>
  <div id="direito-contratos" class="row">
  	<div class="col s12 areas-titulo">
  		<div class="grad-line"></div>
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; padding: 10px 0 !important;">
		  	<h5 class="def-h5" style="margin: 0 !important">CONTRATOS: ELABORAÇÃO E REVISÃO DE CONTRATOS NO ÂMBITO CIVIL, DIREITO DIGITAL (CYBER SECURITY E DATA PRIVACY), PROPRIEDADE INTELECTUAL, MARCAS E PPATENTES E DIREITO IMOBILIÁRIO</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full">
	  	<div class="col s12 m9 justified">
	  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  	</div>
	  	<div class="col s6 offset-s3 m3">
	  		<img class="circle" src="/assets/imgs/scale-bg.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
  <div id="direito-de-concorrencia" class="row">
  	<div class="col s12 areas-titulo">
  		<div class="grad-line"></div>
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; padding: 10px 0 !important;">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO DE CONCORRÊNCIA: FUSÕES E AQUISIÇÕES, MEDIAÇÃO E CONCILIAÇÃO, NEGÓCIOS IMOBILIÁRIOS, PLANEJAMENTO PATRIMONIAL, DIREITO TRIBUTÁRIO, REESTRUTURAÇÃOE RECUPERAÇÃO DE EMPRESAS, DIREITO DE SEGUROS, ARBITRAGEM: NEGOCIAÇÃO ENTRE DOIS</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full">
	  	<div class="col s6 offset-s3 m3">
	  		<img class="circle" src="/assets/imgs/scale-bg.png" style="max-width: 100%;">
	  	</div>
	  	<div class="col s12 m9 justified">
	  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et massa a nisi ullamcorper vehicula. Sed id leo ut nulla hendrerit imperdiet. Aenean tincidunt posuere posuere. Aenean in ullamcorper velit, ut elementum dui. Etiam felis augue, venenatis id tincidunt dignissim, maximus non sem. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla. Sed tincidunt enim vel est dictum consectetur. Nunc at urna vitae dolor placerat fringilla.</p>
	  	</div>
  	</div>
  </div>
</section>