<section id="areas-de-atuacao">
  <div class="row" style="margin-bottom: 50px;">
  	<div class="col s12 areas-title">
	  	<!-- <div class="container-full center" style="background-color: #000 !important; margin: 50px 0 30px !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">ÁREAS DE ATUAÇÃO</h5>
		  </div> -->
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-civil" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO CIVIL: FAMILIA E SUCESSÕES</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s12 m9 justified">
	  		<p>Família:</p>
	  		<p>Atuamos no ramo do Direito Civil que advoga nas causas concernentes à família – conjunto de pessoas que se mantém unidas por meio de um vínculo afetivo e são ligadas entre si por meio de casamento, de união estável ou de um parentesco.</p>
	  		<br>
	  		<p>Sucessões:</p>
	  		<p>Ajuizamos causas relacionadas às transferências de patrimônio – ativo e passivo - de pessoas falecidas a herdeiros. As sucessões podem ser feitas legitimamente, seguindo a lei, ou por meio de um testamento.</p>
	  	</div>
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_direito-civil-familia.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-servidores-publicos" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO DOS SERVIDORES PÚBLICOS, FEDERAIS, ESTADUAIS E MUNICIPAIS</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_servidores-publicos.png" style="max-width: 100%;">
	  	</div>
	  	<div class="col s12 m9 justified">
	  		<p>Buscamos, nas causas pertinentes aos servidores públicos, nos manter atentos à manutenção dos direitos da classe trabalhadora. Acompanhamos o cotidiano das ações do Estado, atuando de maneira crítica na construção de uma sociedade mais igualitária. São denominados servidores públicos – ou agentes públicos - as pessoas físicas que mantém vínculo de emprego estatutário ou contratual, de caráter permanente ou eventual, com o Estado, seja em âmbito federal, estadual ou municipal.</p>
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-previdencia" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">PREVIDÊNCIA PÚBLICA E PRIVADA, REGIME GERAL E PRÓPRIO, INSS E PREVIDÊNCIA COMPLEMENTAR</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s12 m9 justified">
	  		<p>Previdência Pública e Privada:</p>
	  		<p>Atendemos os contribuintes da Previdência controlada pelo Governo Federal, ou seja, a pública, e também os cidadãos que possuem planos privados. Trabalhamos para garantir ao trabalhador a continuidade da sua renda em caso de aposentadoria, gravidez, acidente ou doença.</p>
	  		<p>INSS:</p>
	  		<p>Cuidamos das ações ajuizadas contra o Instituto Nacional do Seguro Social (INSS), que é o órgão responsável por executar as políticas elaboradas para o trabalhador regido pela Consolidação das Leis do Trabalho (CLT).</p>
	  		<p>Regime Geral e Próprio:</p>
	  		<p>Organizamos ações previdenciárias dos dois regimes que vigoram no Brasil: o Geral, que é operado pelo INSS e atende os trabalhadores regidos pela CTL, e o Próprio, dos institutos de Previdência ou Fundos Previdenciários, que regulamenta a Previdência dos servidores públicos titulares de cargos efetivos da União, dos Estados, do Distrito Federal e dos Municípios.</p>
	  		<p>Previdência Complementar:</p>
	  		<p>Atendemos clientes que possuem direito à Previdência Complementar, que foi criada com o objetivo de equilibrar a aposentadoria do serviço público e oferecer aos servidores planos de benefícios relacionados à faixa de contribuição definida.</p>
	  	</div>
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_previdencia.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-civil-indenizacoes" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO CÍVIL: INDENIZAÇÕES, DANOS, E DIREITO DO CONSUMIDOR</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_direito-consumidor.png" style="max-width: 100%;">
	  	</div>
	  	<div class="col s12 m9 justified">
	  		<p>Indenizações:</p>
	  		<p>Ajuizamos ações cíveis de caráter indenizatório, originadas pelo descumprimento de obrigações contratuais ou pela violação de um direito absoluto.</p>
	  		<p>Danos:</p>
	  		<p>Sentiu-se lesado por pessoa física ou jurídica? Você pode ter direito a receber ressarcimento a fim de reduzir um dano de natureza moral ou material.</p>
	  		<p>Direito do Consumidor:</p>
	  		<p>Além dos casos advindos dos direitos civis, trabalhistas e administrativos, defendemos nossos clientes com pedidos de indenização e danos relacionados aos direitos do consumidor.</p>
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-mediacao-e-conciliacao" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">MEDIAÇÃO E CONCILIAÇÃO</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s12 m9 justified">
	  		<p>Em algumas oportunidades, precisamos buscar meios alternativos ao processo jurídico tradicional. Mediar e conciliar, em muitos casos, é a melhor solução. </p>
	  	</div>
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_mediacao.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-planejamento-patrimonial" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">PLANEJAMENTO PATRIMONIAL</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_patrimonial.png" style="max-width: 100%;">
	  	</div>
	  	<div class="col s12 m9 justified">
	  		<p>As dificuldades que podem acontecer nos relacionamentos entre sócios e proprietários de uma empresa devem ser resolvidas no ambiente jurídico. Temos uma equipe pronta para ajudar você a superar esses obstáculos.</p>
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-de-seguros" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO DE SEGUROS</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s12 m9 justified">
	  		<p>A ordem jurídico-econômica regula a distribuição dos riscos patrimoniais e de vida, permitindo aos cidadãos uma segurança em caso de perda, roubo, morte, acidentes, etc. Representamos e defendemos nossos clientes nas causas concernentes ao Direito de seguros.</p>
	  	</div>
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_direito-seguros.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-trabalhista" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">DIREITO TRABALHISTA</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_trabalhista.png" style="max-width: 100%;">
	  	</div>
	  	<div class="col s12 m9 justified">
	  		<p>A atuação na área trabalhista, compreende ajuizamento de demandas em favor de empregados, bem como em ações coletivas envolvendo substituição e/ou representação processual. Nosso escritório é especializado em ações trabalhistas visando o reconhecimento de vínculos de emprego, inclusive para vendedores, adicionais de insalubridade e periculosidade, horas extras, equiparação e enquadramento salarial, entre outros; indenizatórias envolvendo danos materiais e morais, em face de acidentes de trabalho, doença profissionais, assédio moral; ações visando reconhecimento de nexo, reintegrações ao emprego, cautelares, mandados de segurança, entre outros.</p>
	  	</div>
  	</div>
  </div>
  <div style="margin-bottom: 50px" id="direito-sindical" class="row">
  	<div class="col s12 areas-titulo">
	  	<div class="container-full center" style="background-color: transparent !important; margin: 0 !important; /*padding: 10px 0 !important;*/">
		  	<h5 class="def-h5" style="margin: 0 !important">ASSESSORIA SINDICAL</h5>
		  </div>
		  <div class="grad-line"></div>
  	</div>
  	<div class="container semi-full pattern-bg">
	  	<div class="col s12 m9 justified">
	  		<p>Nossa atuação em assessorias Sindicais, compreende uma diferenciada assessoria aos diretores das entidades sindicais, bem como à categoria profissional representada, visando sempre a elaboração de políticas e estratégias negociais, para estabelecer melhorias das condições de trabalho, seja por meio de acordos ou convenções coletivas de trabalho. Busca, ainda, dar formação técnica aos dirigentes sindicais, a partir da realização de cursos e palestras de formação, de modo a manter o dirigente sindical e a sua categoria atualizados frente às novas normas legais, súmulas, jurisprudência, doutrina, garantindo, desta forma, um senso de realidade e a conquista de resultados úteis e fecundos.</p>
	  	</div>
	  	<div class="col s6 offset-s3 m3 center">
	  		<img src="/assets/imgs/areasdeatuacao/icon_area_acessoria-sindical.png" style="max-width: 100%;">
	  	</div>
  	</div>
  </div>
</section>

<style type="text/css">
	#areas-de-atuacao img {
		padding-top: 30px;
	}
	#areas-de-atuacao p {
		font-size: 1.5em;
	}
	#areas-de-atuacao h5.def-h5 {
		font-size: 2em;
	}
	#areas-de-atuacao .pattern-bg {
		background-image: url(/assets/imgs//areasdeatuacao/areas-small-bg.jpg);
    background-repeat: repeat;
    width: 100% !important;
    height: 120% !important;
	}
</style>