<section class="container" style="position: relative; top: 100px; padding: 20px">
  <div class="row">
  	<div class="col s12">
  		<div class="container-full bg-image"></div>
  	</div>
  </div>
</section>