<div class="card-panel white">
  <h4>Editar Setor</h4>
  <form method="POST" action="" enctype="multipart/form-data">
    <div class="right-align">
      <a href="/sistema/setores/" class="btn-floating btn-large waves-effect waves-light blue darken-2 left ajax-load"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <%
    if (typeof data != 'undefined' && data.length > 0) {
      for (var i = data.length - 1; i >= 0; i--) {
    %>
      <button data-href="/sistema/setores/atualizar/" data-action="/sistema/setores/" class="btn-floating btn-large waves-effect waves-light blue darken-2 ajax-submit">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
    </div>
    <input type="hidden" value="<%= data[i].id %>" name="id">
    <div class="row">
      <div class="input-field col s12">
        <input required="true" class="validate" type="text" name="nome" value="<%= data[i].nome %>">
        <label for="nome">Nome</label>
      </div>
    </div>
    <div class="right-align">
      <button data-href="/sistema/setores/atualizar/" data-action="/sistema/setores/" class="btn waves-effect waves-light blue darken-2 ajax-submit">
        Salvar <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
    </div>
    <%
      }
    }
    %>
  </form>
</div>
