


    <div class="card cream archive">
      <div class="row">

        <div class="col s12">
          <h5>Requisições</h5>
          <ul>
            <li><strong>Chamadas Novas:</strong>2</li>
            <li><strong>Contactar:</strong>3</li>
            <li><strong>Re-Contactar:</strong>5</li>
            <li><strong>Concluídas:</strong>30</li>
          </ul>
        </div>

        <div class="col s12">

          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <i class="fa fa-user" aria-hidden="true"></i>Pablo
              </div>
              <div class="collapsible-body">

                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">
                      <strong>Contactar:</strong>1
                    </div>
                    <div class="collapsible-body">
                      
                      <ul class="collapsible">

                        <li>
                          <div class="collapsible-header">
                            <div class="col s4"><b>Data:</b>01/11/2018</div>
                            <div class="col s4"><b>Nome:</b>Leandro Abreu</div>
                            <div class="col s4"><b>Número do Processo:</b></div>
                          </div>

                          <div class="collapsible-body" style="padding:0;">

                          <div class="list-card white">
                          <div class="card-content">
                            <ul>
                              <li><b>Data:</b>01/11/2018</li>
                              <li><b>Nome:</b>Leandro Abreu</li>
                              <li><b>Número do Processo:</b></li>
                              <li><b>Email:</b>leandrodem.abreu@gmail.com</li>
                              <li><b>CPF:</b>945877010-68</li>
                              <li><b>Tipo de Cliente:</b>Novo</li>
                              <li><b>Telefone:</b>(51) 99173-1091</li>
                              <li><b>Mensagem:</b></li>
                            </ul>               
                            Ação correção FGTS, Não lembro se entrei com a ação no mutirão promovido pelo SINDIPOLO, se não gostaria de entrar com o processo Att Leandro Abreu CPF 945877010-68

                            <p class="center"><b>Histórico</b></p>
                            <div class="historico-list-card">

                              <table class="bordered responsive-table">
                                <tr>
                                  <td>12:00</td>
                                  <td>Requisição Está sendo Contatada por <b>Pablo</b>
                                  </td>
                                </tr>

                              </table>

                            </div>
                          </div>

                        </div>
                            
                          </div>

                        </li>

                        
                      </ul>
                      


                    </div>
                  </li>
                </ul>

                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">
                      <strong>Re-Contactar:</strong>2
                    </div>
                  </li>
                </ul>

                 <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">
                      <strong>Concluído:</strong>6
                    </div>
                  </li>
                </ul>

              </div>
            </li>
          </ul>
          


        </div>



    </div>
