  	<div class="cream tab-archive">Início</div>

    <a href="/sistema/tarefas/tarefas" class="ajax-load">
      <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Tarefas</div>
    </a>

    <a href="/sistema/tarefas/criar" class="ajax-load">
      <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Criar Tarefas</div>
    </a>
    
    <a href="/sistema/tarefas/sac" class="ajax-load">
      <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">SAC</div>
    </a>



    <div class="card cream archive">
      <div class="row">
        <div class="col s12 m6">
          <a href="/sistema/tarefas/sac" class="ajax-load black-text">
            <h5 class="center">Requisições do SAC</h5>
            <div class="center">
              <div class="preview-sac"></div>
            </div>
          </a>


        </div>
        <div class="col s12 m6">
          <a href="/sistema/tarefas/tarefas" class="ajax-load black-text">
            <h5 class="center">Tarefas Programadas pela Coordenação</h5>
            <div class="center">
              <div class="preview-tarefas"></div>
            </div>
          </a>          
        </div>
      </div>

      <div class="col s12" style="text-align: center;">
        
        <a href="/sistema/tarefas/administracao" class="ajax-load black-text">
          <button style="width:70%;height: 50px; margin:0 auto;" class="btn-large waves-effect waves-light bordo">Acessar Admnistração</button>
        </a>

      </div>


    </div>
