<div class="row pai">
	<div class="col s12 m10">
		<input type="text" name="tarefa_topico[texto][]" placeholder="Tópico">
	</div>
	<div class="col s12 m2 center-align">
		  <a class="btn-floating btn-large waves-effect waves-light red darken-2 remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
	</div>
</div>
