<div class="cream tab-archive">Estatísticas de Desempenho</div>

<a href="/sistema/estatisticas/setor" class="ajax-load">
  <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Estatísticas de Setor</div>
</a>

<a href="/sistema/estatisticas/individual" class="ajax-load">
  <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Estatísticas Individual</div>
</a>

<a href="/sistema/estatisticas/" class="ajax-load">
  <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Estatísticas de Marketing</div>
</a>

<div class="card cream archive">
	<div class="row">

		<h5 class="center">Você ainda não possui números suficientes para computar as estatísticas! </h5>


<!-- 		<div class="col s12 m6">
			<div class="col s12 center">
				<h5>Como os clientes pesquisam sua empresa</h5>
			</div>
			<div class="col s12 m6 center">
				<canvas id="pie-nova"></canvas>
				<strong style="margin-top:10px;"><h5>Total:932</h5></strong>
			</div>
			<div class="col s12 m6">
				<div class="col s12" style="background:rgb(52, 168, 83);">
					<p><strong>Diretas</strong></p>
					<p>Clientes que encontram sua ficha ao pesquisar o nome ou o endereço da sua empresa</p>
				</div>

				<div class="col s12" style="background:rgb(66, 133, 244)">
					<p><strong>Descoberta</strong></p>
					<p>Clientes que encontram sua ficha ao pesquisar uma categoria, um produto ou um serviço
					</p>
				</div>

				<div class="col s12" style="background:rgb(251,188,4);">
					<p><strong>Pela Marca</strong></p>
					<p>Clientes que encontram sua ficha ao pesquisar uma marca relacionada à sua empresa
					</p>
				</div>
			</div>

		</div> -->

<!-- 		<div class="col s12 m6">
			<div class="col s12 center">
				<h5>Onde os clientes veem sua empresa no Google</h5>
				Os serviços do Google que os clientes usam para encontrar sua empresa
			</div>
			<canvas id="bar-peticao"></canvas>
		</div> -->



	</div>
<!-- 	<div class="row">

		<div class="col s12 m6">
			<canvas id="radar-comarca"></canvas>
		</div>
		<div class="col s12 m6">

		</div>
	</div> -->
</div>


<!-- <script>

	var ptx = document.getElementById('pie-nova').getContext('2d');

	var pie = new Chart(ptx,{
		type:'doughnut',
		data:{
			datasets:[{
				data: [312,617,0],
				backgroundColor: [
				'rgb(52, 168, 83)',
				'rgb(66, 133, 244)',
				'rgb(251,188,4)'
				],
				label:'Como os clientes pesquisam sua empresa'
				
			}],
			labels:['Diretas','Descoberta','Pela Marca'],
		},
		options:{
			responsive:true
		}

	});



	var ctx = document.getElementById('bar-peticao').getContext('2d');
	var chart = new Chart(ctx, {
				// The type of chart we want to create
				type: 'line',

				// The data for our dataset
				data: {
					
					datasets: [
					{
						data: [5,56,26,52,6,32,13,5,69,36,50,37,26,1,5,34,34,38,43,16],						
						backgroundColor: 'rgb(232, 113, 10)',			
						label: "Pesquisa Google",
						fill:false

						
					},
					{
						data: [2,9,18,11,0,13,0,0,4,14,17,13,7,0,4,3,10,0,0,5],						
						backgroundColor:'rgb(245,189,142)',
						label: "Google Maps",
						fill:'end'


					}

					],


					labels: ['11 nov de 2018','12 nov de 2018','13 nov de 2018','14 nov de 2018','15 nov de 2018','16 nov de 2018','17 nov de 2018','18 nov de 2018','19 nov de 2018','20 nov de 2018','21 nov de 2018','22 nov de 2018','23 nov de 2018','24 nov de 2018','25 nov de 2018','26 nov de 2018','27 nov de 2018','28 nov de 2018','29 nov de 2018','30 nov de 2018'],
				},

				// Configuration options go here
				options: {
					responsive:true
				}
			});



		</script> -->