<div class="cream tab-archive">Compromissos</div>
<div class="card cream archive">

	<div class="row">

		<div class="col s12">
			<div class="right-align">
				<a class="btn-floating btn-large waves-effect waves-light bordo right tooltipped abrir_compromissos_criacao" data-position="top" data-tooltip="Cadastrar Compromisso" data-link="/sistema/compromissos/criar" data-href="#modalinfo" data-back="/sistema/compromissos"><i class="fa fa-plus" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="compromissos_container_criacao"></div>		
	</div>

	<div id='calendar'></div>
</div>
