<div id="dashboard">
	<div id="dashboard_menu" class="col s12 l7 xl8">

		<div class="tab-inicio-container">
			<div class="tab-inicio">
				<div class="golden-line-top"></div>
				<div class="tab-inicio-span">
					Cadastrar
					<div class="golden-line-right"></div>
				</div>
				
				
			</div>
			<div class="golden-line"></div>
		</div>

		<div class="row">

			<div class="col s12 m4">
				<div class="icon-square criar">
					<a class="ajax-load" href="/sistema/clientes/criar">
						<img src="/assetsward/imgs/golden/14.png">
						<span>Cliente</span>
					</a>

				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square criar">
					<a class="ajax-load" href="/sistema/processos/criar">
						<img src="/assetsward/imgs/golden/15.png">
						<span>Processo</span>
					</a>

				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square criar">
					<a class="ajax-load" href="/sistema/adversos/criar">
						<img src="/assetsward/imgs/golden/17.png">
						<span>Adverso</span>
					</a>
				</div>
			</div>




<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link"  href="/sistema/clientes/criar">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/14.png">
								<p>Cliente</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link"  href="/sistema/processos/criar">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/15.png">
								<p>Processo</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link"  href="/sistema/contatos/criar">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/16.png">
								<p>Contato</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->

<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/adversos/criar">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/17.png">
								<p>Adverso</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->

		</div>
		<div class="tab-inicio-container">
			<div class="tab-inicio">
				<div class="golden-line-top"></div>
				<div class="tab-inicio-span">
					Localizar
					<div class="golden-line-right"></div>
				</div>
				
				
			</div>
			<div class="golden-line"></div>
		</div>

		
		
		<div class="row domeio">

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/processos">
						<img src="/assetsward/imgs/golden/1.png">
						<span>Processos</span>
					</a>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/documentos">
						<img src="/assetsward/imgs/golden/2.png">
						<span>Documentos</span>
					</a>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/processos/cruzamento">
						<img src="/assetsward/imgs/golden/3.png">
						<span>Processos Principais por Cruzamento</span>
					</a>
				</div>
			</div>



<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/processos">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/1.png">
								<p>Processos</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/documentos">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/2.png">
								<p>Documentos</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/processos/cruzamento">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/3.png">
								<p>Processos Principais<br>
								por Cruzamento</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/processos/">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/4.png">
								<p>Processos Vinculados<br>
								e Grupos</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
		</div>
		<div class="tab-inicio-container">
			<div class="tab-inicio">
				<div class="golden-line-top"></div>
				<div class="tab-inicio-span">
					Visualizar
					<div class="golden-line-right"></div>
				</div>
				
				
			</div>
			<div class="golden-line"></div>
		</div>
		<div class="row">

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/estatisticas">
						<img src="/assetsward/imgs/golden/8.png">
						<span>Estatisticas e Aberturas de Pastas</span>
					</a>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/processos/mortos">
						<img src="/assetsward/imgs/golden/10.png">
						<span>Arquivo Morto</span>
					</a>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/compromissos/controle_distribuicao">
						<img src="/assetsward/imgs/golden/11.png">
						<span>Controle de Distribuição</span>
					</a>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/estatisticas">
						<img src="/assetsward/imgs/golden/12.png">
						<span>Relatórios Financeiros</span>
					</a>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-square">
					<a class="ajax-load" href="/sistema/contatos">
						<img src="/assetsward/imgs/golden/13.png">
						<span>Agenda do Escritório</span>
					</a>
				</div>
			</div>


<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/compromissos">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/6.png">
								<p>Compromissos<br>
								Cadastrados</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/compromissos/">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/7.png">
								<p>Processos<br>
								(por período)</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
			<!-- <div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/estatisticas">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/8.png">
								<p>Estatisticas e<br>
								Aberturas de Pastas</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
	<!-- 		<div class="col s6 m4 l3">
				<a class="folder-link" href="http://www.pje.jus.br/navegador/" target="_blank">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/9.png">
								<p>Andamentos<br>
								dos Tribunais</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/processos/mortos">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/10.png">
								<p>Arquivo Morto</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/compromissos/pauta">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/11.png">
								<p>Pauta de<br>
								Compromissos</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/estatisticas">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/12.png">
								<p>Relatórios<br>
								por Financeiros</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
<!-- 			<div class="col s6 m4 l3">
				<a class="ajax-load folder-link" href="/sistema/contatos/">
					<div class="folder-wrapper center-align white-text">
						<label class="tab"></label>
						<div class="folder">
							<div>
								<img src="/assetsward/imgs/13.png">
								<p>Agenda<br>
								do Escritório</p>
							</div>
						</div>
					</div>
				</a>
			</div> -->
		</div>
	</div>
	<div id="tasks" class="col s12 l5 xl4">
		<div class="col s12 graphic">
			<div class="grafico-inicio">

				<canvas id="myChart"></canvas>

				<script>

					var ctx = document.getElementById('myChart').getContext('2d');
					var chart = new Chart(ctx, {
				// The type of chart we want to create
				type: 'bar',

				// The data for our dataset
				data: {
					labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Julho", "Junho"],
					datasets: [{
						label: "Petições por Mês",
						backgroundColor: 'rgba(173,79,93,1)',
						borderColor: 'rgb(67, 167, 216)',
						data: [3, 10, 5, 8, 12, 20, 15],
					}]
				},

				// Configuration options go here
				options: {}
			});

		</script>
	</div>
</div>
<div class="col s12 task">
	<div class="tarefas-inicio">

		<div class="cabecalho-tarefas row">
			<div class="col s3 center">A fazer</div>
			<div class="col s3 center">Fazendo</div>
			<div class="col s3 center">Impedimento</div>
			<div class="col s3 center">Concluído</div>
		</div>

		<div class="corpo-tarefas">
			<div class="col s3" ondrop="drop(event)" ondragover="allowDrop(event)">
				<div class="card ui-draggable" id="drag1" draggable="true" ondragstart="drag(event)">
					Ver Processo N°0000001
				</div>
			</div>
			<div class="col s3" ondrop="drop(event)" ondragover="allowDrop(event)">
				
			</div>
			<div class="col s3" ondrop="drop(event)" ondragover="allowDrop(event)">		
			</div>
			<div class="col s3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
		</div>

		<div class="rodape-tarefas center">
			<a href="/sistema/tarefas/" class="ajax-load">
				Adicionar tarefa 
				<i class="fa fa-plus"></i>
			</a>
		</div>


		<script>
			function allowDrop(ev) {
				ev.preventDefault();
			}	

			function drag(ev) {
				ev.dataTransfer.setData("text", ev.target.id);
			}

			function drop(ev) {
				ev.preventDefault();
				var data = ev.dataTransfer.getData("text");
				ev.target.appendChild(document.getElementById(data));
			}

		</script>

		<style>

		.tarefas-inicio{
			min-height: 200px;
			/*background: linear-gradient(to left, #034580, #106ab9);*/
			height:100%;
			background: rgb(173,79,93); /* Old browsers */
			background: -moz-linear-gradient(-45deg, rgba(173,79,93,1) 1%, rgba(66,25,31,1) 71%, rgba(66,25,31,1) 100%); /* FF3.6-15 */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,rgba(173,79,93,1)), color-stop(71%,rgba(66,25,31,1)), color-stop(100%,rgba(66,25,31,1))); /* Chrome4-9,Safari4-5 */
			background: -webkit-linear-gradient(-45deg, rgba(173,79,93,1) 1%,rgba(66,25,31,1) 71%,rgba(66,25,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: -o-linear-gradient(-45deg, rgba(173,79,93,1) 1%,rgba(66,25,31,1) 71%,rgba(66,25,31,1) 100%); /* Opera 11.10-11.50 */
			background: -ms-linear-gradient(-45deg, rgba(173,79,93,1) 1%,rgba(66,25,31,1) 71%,rgba(66,25,31,1) 100%); /* IE10 preview */
			background: linear-gradient(135deg, rgba(173,79,93,1) 1%,rgba(66,25,31,1) 71%,rgba(66,25,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad4f5d', endColorstr='#42191f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}

		.cabecalho-tarefas.row{
			margin-bottom:0
		}

		.cabecalho-tarefas .col{
			color:#fff;
			padding:10px 0px;
		}

		.cabecalho-tarefas .col:nth-child(1){
			border-bottom:1px solid #ffcc33;
		}

		.cabecalho-tarefas .col:nth-child(2){
			border-bottom:1px solid #fbe194;
		}

		.cabecalho-tarefas .col:nth-child(3){
			border-bottom:1px solid #ef473a;
		}

		.cabecalho-tarefas .col:nth-child(4){
			border-bottom:1px solid #56ab2f;
		}
		
		.corpo-tarefas{
			min-height: 100px;
			height: calc(100% - 86px);
		}

		.corpo-tarefas .col{
			/*border-right: 1px solid rgba(0, 0, 0, 0.4);*/
			border-right: 1px solid rgba(222, 209, 178, 0.5);
			height: 100%;
		}

		.corpo-tarefas .col:last-child{
			border:0;
		}

		.corpo-tarefas .card{
			padding:3px;
			cursor:move;
			font-size: 14px;
			word-wrap: break-word;
		}

		.corpo-tarefas .col:nth-child(1) .card{
			border-left:2px solid #ffcc33;
		}
		.corpo-tarefas .col:nth-child(2) .card{
			border-left:2px solid #fbe194;
		}

		.corpo-tarefas .col:nth-child(3) .card{
			border-left:2px solid #ef473a;
		}

		.corpo-tarefas .col:nth-child(4) .card{
			border-left:2px solid #56ab2f;
		}

		.tarefas-inicio .rodape-tarefas{
			width: 100%;			
			background: #ffffff; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #ffffff 19%, #e5e5e5 84%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, #ffffff 19%,#e5e5e5 84%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, #ffffff 19%,#e5e5e5 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			box-shadow: 2px 2px 5px #4c4c4c69;
			border: 1px solid rgba(228, 206, 154, 0.23);
		}

		.tarefas-inicio .rodape-tarefas a{
			width: 100%;
			height:100%;
			padding:10px 0;
			color:#000000;
			display: block;	
		}


	</style>
</div>
</div>
<div class="col s12 schedule">
	<div class="calendario-inicio">
		<a class="ajax-load" href='/sistema/compromissos'><h4 class="center black-text">Agenda</h4></a>
		<div id="calendar2">			
		</div>

		<style>
		.fc-left h2{
			font-size: 24px;
		}
		.fc-list-item{
			cursor: pointer;
		}

	</style>


	<script>
		$('#calendar2').fullCalendar({
			defaultView: 'listWeek',
			events: {
				url:'/sistema/compromissos/eventos/',
				method:"GET",
				async:true,
				beforeSend:function(request){
					request.setRequestHeader("Authority-Optima-hash", $('input[name="hash_usuario_sessao"]').val());
					request.setRequestHeader("Authority-Optima-nivel", $('input[name="nivel_usuario_sessao"]').val());
					request.setRequestHeader("Authority-Optima-id", $('input[name="id_usuario_sessao"]').val());
				}
			},
			timezone:'UTC-3',
			eventClick: function(event, jsEvent, view) {
				window.location.replace('/sistema/compromissos');
			}

		});
	</script>


</div>
</div>
</div>
<style type="text/css">
main, footer {
	margin-left: 0 !important;
}
main {
	padding: 50px 0 0 !important;
}

.golden-title {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0d0ac+0,faeccd+50,e0c689+100 */
	background: rgb(224,208,172); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(224,208,172,1) 0%, rgba(250,236,205,1) 50%, rgba(224,198,137,1) 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,208,172,1)), color-stop(50%,rgba(250,236,205,1)), color-stop(100%,rgba(224,198,137,1))); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(-45deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(-45deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(-45deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%); /* IE10 preview */
	background: linear-gradient(135deg, rgba(224,208,172,1) 0%,rgba(250,236,205,1) 50%,rgba(224,198,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0d0ac', endColorstr='#e0c689',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.golden-line {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0d0ac+0,faeccd+50,e0c689+100&amp;0+0,1+25,1+75,0+100 */
	background: -moz-linear-gradient(left, rgba(224,208,172,0) 0%, rgba(237,222,189,1) 25%, rgba(250,236,205,1) 50%, rgba(237,217,171,1) 75%, rgba(224,198,137,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(224,208,172,0) 0%,rgba(237,222,189,1) 25%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 75%,rgba(224,198,137,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(224,208,172,0) 0%,rgba(237,222,189,1) 25%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 75%,rgba(224,198,137,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0d0ac', endColorstr='#00e0c689',GradientType=1 ); /* IE6-9 */
	height: 2px;
	margin-bottom: 30px;
	/*box-shadow: 0 1px 2px #000;*/
}


#slide-header {
	display: none;
}

#buttons_header{
	display: none;
}
#dashboard {
	display: -webkit-box;
	display: flex;
}
#dashboard p {
	padding: 0 5px 5px;
}
#dashboard #dashboard_menu {
	/*width: 60%;*/
	margin: 0;
	padding: .75rem;
}
#dashboard .folder-link .folder-wrapper {
	margin: 5px 0 5px 0.6%;
}
#dashboard .folder-link .folder-wrapper {
	height: 176px;
	/*width: 24%;*/
	position: relative;
	padding: 0;
}
#dashboard .folder-link .folder-wrapper .tab{
	transition: 0.5s;
	position: absolute;
	border-radius: 5px 5px 0 0;
	top: -14px;
	left: 0;
	height: 15px;
	width: 35%;
	z-index: 1;
	cursor: inherit;
	background: #FFF6E8;
}
#dashboard .folder-link .folder-wrapper .folder p {
	text-shadow: 1px 1px 10px #000;
}
#dashboard .folder-link .folder-wrapper .folder{
	border-radius: 0 5px 5px;
	height: 160px;
	margin-top: 15px;
	z-index: 2;
	background: rgba(255,246,232,1);
	background: -moz-linear-gradient(top, rgba(255,246,232,1) 0%, rgba(230,197,150,1) 50%, rgba(224,184,123,1) 51%, rgba(255,240,219,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,246,232,1)), color-stop(50%, rgba(230,197,150,1)), color-stop(51%, rgba(224,184,123,1)), color-stop(100%, rgba(255,240,219,1)));
	background: -webkit-linear-gradient(top, rgba(255,246,232,1) 0%, rgba(230,197,150,1) 50%, rgba(224,184,123,1) 51%, rgba(255,240,219,1) 100%);
	background: -o-linear-gradient(top, rgba(255,246,232,1) 0%, rgba(230,197,150,1) 50%, rgba(224,184,123,1) 51%, rgba(255,240,219,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,246,232,1) 0%, rgba(230,197,150,1) 50%, rgba(224,184,123,1) 51%, rgba(255,240,219,1) 100%);
	background: linear-gradient(to bottom, rgba(255,246,232,1) 0%, rgba(230,197,150,1) 50%, rgba(224,184,123,1) 51%, rgba(255,240,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6e8', endColorstr='#fff0db', GradientType=0 );
}
#dashboard .folder-link .folder {
	background: rgba(193,158,114,1);
	background: -moz-linear-gradient(-45deg, rgba(193,158,114,1) 0%, rgba(193,158,114,1) 41%, rgba(221,192,155,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(193,158,114,1)), color-stop(41%, rgba(193,158,114,1)), color-stop(100%, rgba(221,192,155,1)));
	background: -webkit-linear-gradient(-45deg, rgba(193,158,114,1) 0%, rgba(193,158,114,1) 41%, rgba(221,192,155,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(193,158,114,1) 0%, rgba(193,158,114,1) 41%, rgba(221,192,155,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(193,158,114,1) 0%, rgba(193,158,114,1) 41%, rgba(221,192,155,1) 100%);
	background: linear-gradient(135deg, rgba(193,158,114,1) 0%, rgba(193,158,114,1) 41%, rgba(221,192,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19e72', endColorstr='#ddc09b', GradientType=1 );
}
#dashboard .folder-link .tab {
	background: rgba(221,192,155,1);
	background: -moz-linear-gradient(top, rgba(221,192,155,1) 0%, rgba(193,158,114,1) 61%, rgba(193,158,114,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221,192,155,1)), color-stop(61%, rgba(193,158,114,1)), color-stop(100%, rgba(193,158,114,1)));
	background: -webkit-linear-gradient(top, rgba(221,192,155,1) 0%, rgba(193,158,114,1) 61%, rgba(193,158,114,1) 100%);
	background: -o-linear-gradient(top, rgba(221,192,155,1) 0%, rgba(193,158,114,1) 61%, rgba(193,158,114,1) 100%);
	background: -ms-linear-gradient(top, rgba(221,192,155,1) 0%, rgba(193,158,114,1) 61%, rgba(193,158,114,1) 100%);
	background: linear-gradient(to bottom, rgba(221,192,155,1) 0%, rgba(193,158,114,1) 61%, rgba(193,158,114,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddc09b', endColorstr='#c19e72', GradientType=0 );
}
#dashboard .folder-link:hover .tab,
#dashboard .folder-link:hover .folder {
	/*          box-shadow: 0 5px 5px #000;*/
	transition: 0.5s ease;
	/*transform: translateY(10px);*/
	transform: translate(3px, 15px);
}
#dashboard .folder-link:hover .tab {
	/*box-shadow: inset 0px 3px 1px 0 rgba(0,0,0,0.3);*/
}
#dashboard .folder-link:hover .folder {
	box-shadow: inset -4px -4px 1px 0 rgba(0,0,0,0.3);
}
#tasks {
	position: fixed;
	top: 50px;
	right: 0;
	/*width: 40%;*/
	/*background-color: #fff1e0;*/
	height: calc(100vh - 50px);
	margin: 0;
	overflow: auto;
	background: rgba(250,242,227,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,242,227,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,237,196,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
	background: radial-gradient(ellipse at center, rgba(250,242,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,237,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf2e3', endColorstr='#ffedc4', GradientType=1 );
}
#tasks .graphic,
#tasks .task,
#tasks .schedule {
	border-radius: 5px;
	position: relative;
  	/*border-top: inset 3px #000;
  	border-bottom: inset 3px #000;
  	border-left: inset 6px #000;
  	border-right: inset 6px #000;*/
  	padding: 0;
  	/*background-color: #1e1b2b;*/
  	margin: 5px;
  	width: calc(100% - 10px);
  	/* 	height: calc(33% - 10px);*/
  }
  #tasks .col.task {
  	height: 33%;
  }
/*  #tasks .col.task {
  	height: 44%;
  	}*/
  	.domeio .folder {
  		background: rgb(255,231,193) !important; /* Old browsers */
  		background: -moz-linear-gradient(top, rgba(255,231,193,1) 0%, rgba(224,183,126,1) 50%, rgba(219,172,101,1) 51%, rgba(255,224,181,1) 100%) !important; /* FF3.6-15 */
  		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,231,193,1)), color-stop(50%,rgba(224,183,126,1)), color-stop(51%,rgba(219,172,101,1)), color-stop(100%,rgba(255,224,181,1))) !important; /* Chrome4-9,Safari4-5 */
  		background: -webkit-linear-gradient(top, rgba(255,231,193,1) 0%,rgba(224,183,126,1) 50%,rgba(219,172,101,1) 51%,rgba(255,224,181,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  		background: -o-linear-gradient(top, rgba(255,231,193,1) 0%,rgba(224,183,126,1) 50%,rgba(219,172,101,1) 51%,rgba(255,224,181,1) 100%) !important; /* Opera 11.10-11.50 */
  		background: -ms-linear-gradient(top, rgba(255,231,193,1) 0%,rgba(224,183,126,1) 50%,rgba(219,172,101,1) 51%,rgba(255,224,181,1) 100%) !important; /* IE10 preview */
  		background: linear-gradient(to bottom, rgba(255,231,193,1) 0%,rgba(224,183,126,1) 50%,rgba(219,172,101,1) 51%,rgba(255,224,181,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe7c1', endColorstr='#ffe0b5',GradientType=0 ) !important; /* IE6-9 */
  	}
  	.domeio .tab {
  		background: rgb(255,238,211) !important; /* Old browsers */
  		background: -moz-linear-gradient(top, rgba(255,238,211,1) 0%, rgba(227,189,137,1) 50%, rgba(222,178,112,1) 51%, rgba(255,233,201,1) 100%) !important; /* FF3.6-15 */
  		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,238,211,1)), color-stop(50%,rgba(227,189,137,1)), color-stop(51%,rgba(222,178,112,1)), color-stop(100%,rgba(255,233,201,1))) !important; /* Chrome4-9,Safari4-5 */
  		background: -webkit-linear-gradient(top, rgba(255,238,211,1) 0%,rgba(227,189,137,1) 50%,rgba(222,178,112,1) 51%,rgba(255,233,201,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  		background: -o-linear-gradient(top, rgba(255,238,211,1) 0%,rgba(227,189,137,1) 50%,rgba(222,178,112,1) 51%,rgba(255,233,201,1) 100%) !important; /* Opera 11.10-11.50 */
  		background: -ms-linear-gradient(top, rgba(255,238,211,1) 0%,rgba(227,189,137,1) 50%,rgba(222,178,112,1) 51%,rgba(255,233,201,1) 100%) !important; /* IE10 preview */
  		background: linear-gradient(to bottom, rgba(255,238,211,1) 0%,rgba(227,189,137,1) 50%,rgba(222,178,112,1) 51%,rgba(255,233,201,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeed3', endColorstr='#ffe9c9',GradientType=0 ) !important; /* IE6-9 */
  	}
  	.golden-line {
  		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0d0ac+0,faeccd+50,e0c689+100&amp;0+0,1+25,1+75,0+100 */
  		background: -moz-linear-gradient(left, rgba(224,208,172,0) 0%, rgba(237,222,189,1) 25%, rgba(250,236,205,1) 50%, rgba(237,217,171,1) 75%, rgba(224,198,137,0) 100%); /* FF3.6-15 */
  		background: -webkit-linear-gradient(left, rgba(224,208,172,0) 0%,rgba(237,222,189,1) 25%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 75%,rgba(224,198,137,0) 100%); /* Chrome10-25,Safari5.1-6 */
  		background: linear-gradient(to right, rgba(224,208,172,0) 0%,rgba(237,222,189,1) 25%,rgba(250,236,205,1) 50%,rgba(237,217,171,1) 75%,rgba(224,198,137,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e0d0ac', endColorstr='#00e0c689',GradientType=1 ); /* IE6-9 */
  		height: 2px;
  		
  		/*box-shadow: 0 1px 2px #000;*/
  	}
  	.golden-line.no-m {
  		margin:auto;
  	}
  	.fixed-action-btn{
  		display:none;
  	}
  	@media only screen and (max-width: 992px){
  		#dashboard {
  			width: 100% !important;
  			display: block;
  		}
  		#tasks {
  			position: relative;
  			width: 100% !important;
  			/*height: inherit;*/
  			top: auto;
  		}
  	}

  	.domeio .col{
  		margin-top:20px;
  	} 




  	@media only screen and (min-width: 993px){
  		#tasks{
  			height: calc(100vh - 50px);
  		}

  		#tasks .col.graphic,
  		#tasks .col.schedule{
  			height: 33%;
  		}


  		#dashboard .folder-link{
  			height: 13vw;
  			width: 13vw;
  			display: block;
  			max-width: 200px;
  			max-height: 200px;		
  		}

  		#dashboard .folder-link .folder-wrapper {
  			height: 100%;
  			width: 100%;
  			margin: 5px 0 5px 0.6%;
  		}

  		#dashboard .folder-link .folder-wrapper .folder{
  			height: 100%;
  			height: calc(100% - 15px);
  		}


  	}

  </style>

<!-- <div style="margin: 0; padding: 5px 10px; background-color: #fff;">
	
</div> -->