  <div class="cream tab-archive">Criar Cliente</div>
  <a href="/sistema/clientes/" class="ajax-load">
    <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Pesquisar/Editar</div>
  </a>

  <div class="card cream archive">
    <form method="POST" action="" enctype="multipart/form-data">


      <div class="right-align row">
        <a href="/sistema/clientes/" class="ajax-load">
          <div class="left valign-wrapper">
            <div class="btn-floating btn-large waves-effect waves-light bordo ">
              <i class="fa fa-pencil" aria-hidden="true"></i>            
            </div>
            <div class="black-text margin-l-5">Editar Clientes</div>  
          </div>
          
        </a>



        <div class="right valign-wrapper">
          <div class="black-text margin-r-5">Salvar Cliente</div>
          <button data-href="/sistema/clientes/cadastrar/" class="btn-floating btn-large waves-effect waves-light bordo ajax-submit" data-action="/sistema/clientes/">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>          
          </button>

        </div>

      </div>
      
      <div class="row">

        <div class="row">
          <h4>Cadastro de Cliente</h4>

          <div class="col s12">

            <div class="input-field input-group-control col s12 m4 l3">
              <label for="cpf_cnpj_cliente_pesquisa">CPF/CNPJ Cliente</label>
              <input type="text" name="cpf_cnpj_cliente_pesquisa" id="cpf_cnpj_cliente_pesquisa" required="true">
            </div>
            <div class="col s12 m4 l3">
              <a class="btn waves-effect waves-light brass ajax-search" style="margin-top:38px;" data-href="/sistema/clientes/pesquisar-cliente-por-cpf-cnpj" data-container="container_cliente_load" data-search="cpf_cnpj_cliente_pesquisa">Avançar
                <i style="margin-left:5px" class="fa fa-search"></i>
              </a>
            </div>          

          </div>

          <div class="container_cliente_load">            
          </div>

        </div>


        <div class="row">
          <h4>Cadastro de Adverso</h4>

          <div class="col s12">

            <div class="input-field input-group-control col s12 m4 l3">
              <label for="cpf_cnpj_adverso_pesquisa">CPF/CNPJ Adverso</label>
              <input type="text" name="cpf_cnpj_adverso_pesquisa" id="cpf_cnpj_adverso_pesquisa" required="true">
            </div>
            <div class="col s12 m4 l3">
              <a class="btn waves-effect waves-light brass ajax-search" style="margin-top:38px;" data-href="/sistema/adversos/pesquisar-adverso-por-cpf-cnpj" data-container="container_adverso_load" data-search="cpf_cnpj_adverso_pesquisa">Avançar
                <i style="margin-left:5px" class="fa fa-search"></i>
              </a>
            </div>          

          </div>

          <div class="container_adverso_load">            
          </div>

        </div>



        <div class="row">
          <h4>Cadastro do Processo</h4>
          <b><span>Tipo do Cliente *</span></b>

          <div class="radio_posicao_cliente_container">

            <div class="col s12 m3 offset-m2">
              <label>
                <div class="radio_posicao_cliente bordo">
                  <div class="cream darken-1 radio_posicao_image">              
                    <input name="id_posicao_cadastro_cliente" type="radio" id="autorRadio" value="1" required>
                    <img src="/assetsward/imgs/icon_autor_v2.png">
                  </div>
                  <div class="center">Autor</div>
                </div>
              </label>
            </div>

            <div class="col s12 m3">            
              <label>
                <div class="radio_posicao_cliente bordo">
                  <div class="cream darken-1 radio_posicao_image">              
                    <input name="id_posicao_cadastro_cliente" type="radio" id="reuRadio" value="2" required>
                    <img src="/assetsward/imgs/icon_reu.png">
                  </div>
                  <div class="center">Réu</div>
                </div>
              </label>
            </div>

            <div class="col s12 m3">
              <label>
                <div class="radio_posicao_cliente bordo">
                  <div class="cream darken-1 radio_posicao_image">              
                    <input name="id_posicao_cadastro_cliente" type="radio" id="terceiroRadio" value="3" required> 
                    <img src="/assetsward/imgs/icon_terceiro_v2.png">
                  </div>
                  <div class="center">Terceiro</div>
                </div>
              </label>
            </div>

          </div>

          <div class="input-field input-group-control col s12">
           <b><label for="numero_processo" class="bordo-text">Número do Processo *</label></b>       
           <input required="true" type="text" name="numero_processo" id="numero_processo_cliente" class="numero_processo">
         </div>

         <div class="input-field input-group-control col s12">
          <label>
            <input type="checkbox" id="numero_processo_npadrao">
            <span for="numero_processo_npadrao">N° Fora do Padrão?</span>
          </label>
        </div>

      </div>

      <span> * Campos de preenchimento obrigatório</span>
      <div class="right-align">
        <button data-href="/sistema/clientes/cadastrar/" class="btn waves-effect waves-light bordo ajax-submit" data-action="/sistema/clientes/">
          Salvar <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
      </div>
    </form>
  </div>



