    <form method="POST" action="" enctype="multipart/form-data">
      <input type="hidden" name="id_cliente_nao_envolvido" value="<%= data.idClienteNaoEnvolvido%>">

      <input type="hidden" name="id_processo" value="<%= data.idProcesso %>">

      <div class="row">

        <h4>Informações Pessoais do Cliente</h4>
        <div class="input-field input-group-control col s12">
          <b><label for="nome">Nome *(Obrigatório)</label></b>
          <input required="true" class="validate" type="text" name="nome">
        </div>

        <div class="select-field input-group-control col s12">
          <b><label>Tipo de Pessoa *(Obrigatório)</label></b>
          <select required="true" class="browser-default validate" name="tipo">
            <option value="" disabled selected>Selecione</option>
            <option value="1">Pessoa Juridica</option>
            <option value="2">Pessoa Fisica</option>
          </select>
        </div>

        <div class="select-field input-group-control col s12">
          <label>Tipo de Cliente </label>
          <select required="true" class="browser-default validate" name="tipo_cliente">
            <option value="0" selected>Normal</option>
            <option value="1">Dirigente Sindical</option>
            <option value="2">Vip</option>
          </select>
        </div>

        <div class="select-field input-group-control col s12">
          <b><label>Categoria *(Obrigatório)</label></b>
          <select required="true" class="browser-default grupo validate" name="id_grupo">
            <option value="" disabled>Selecione o Grupo</option>
            <option>Criar Novo</option>
            <option value="0" selected>Nenhum</option>
            <%
            if (typeof data.grupos != 'undefined' && data.grupos.length > 0) {
              for (var i = data.grupos.length - 1; i >= 0; i--) {
                %>
                <option value="<%= data.grupos[i].id %>"><%= data.grupos[i].nome %></option>
                <%
              }
            }
            %>
          </select>
        </div>      
        <div class="input-field input-group-control col s12">
          <b><label for="cpf_cnpj">CPF/CNPJ *(Obrigatório)</label></b>
          <input required="true" class="validate cpf_cnpj" type="text" name="cpf_cnpj">
        </div>

        <div class="input-field input-group-control col s12">
         <label for="email">E-mail</label>
         <input class="validate" type="email" name="email">
       </div>


       <div class="input-field input-group-control col s12">
        <label for="rg">RG</label>
        <input class="validate rg" type="text" name="rg">
      </div>
      <div class="input-field input-group-control col s12">
        <label for="ctps">CTPS</label>
        <input type="text" name="ctps">
      </div>
      <div class="input-field input-group-control col s12">
        <label for="serie">Série</label>
        <input type="text" name="serie">
      </div>
      <div class="input-field input-group-control col s12">
        <label for="n_pis">Nº Pis</label>
        <input type="text" name="n_pis">
      </div>

      <div class="input-field input-group-control col s12">
        <label for="n_beneficio">Nº Beneficio</label>
        <input type="text" name="n_beneficio">
      </div>
      <div class="select-field input-group-control col s12">
        <label>Estado Civil</label>
        <select class="browser-default" name="estado_civil">
          <option value="" disabled selected>Selecione</option>
          <option value="1">Solteiro</option>
          <option value="2">Casado</option>
          <option value="3">Separado</option>
          <option value="4">Divorciado</option>
          <option value="5">Viúvo</option>
        </select>
      </div>
      <div class="input-field input-group-control col s12">
        <label for="profissao">Profissão</label>
        <input type="text" name="profissao">
      </div>
      <div class="input-field input-group-control col s12">
        <label for="nascimento">Nascimento</label>
        <input type="text" name="nascimento" class="data_sem_hora">
      </div>
      <div class="input-field input-group-control col s12">
        <label for="inscricao_estadual">Incrição Estadual</label>
        <input type="text" name="inscricao_estadual">
      </div>



      <div class="input-field input-group-control col s12">
        <label for="tel_pessoal">Telefone Pessoal</label>
        <input class="tel" type="tel" name="tel_pessoal">
      </div>

      <div class="input-field input-group-control col s12">
        <label for="tel_trabalho">Telefone do Trabalho</label>
        <input class="tel" type="tel" name="tel_trabalho">
      </div>

      <div class="input-field input-group-control col s12">
        <label for="tel_contato">Telefone de Contato</label>
        <input class="tel" type="tel" name="tel_contato">
      </div>

      <div class="input-field input-group-control col s12">
        <label for="tel_outro">Telefone Outro</label>
        <input class="tel" type="tel" name="tel_outro">
      </div>

      <div class="input-field input-group-control col s12">
        <label for="observacoes">Observações</label>
        <textarea type="text" name="observacoes"></textarea>
      </div>



    </div>
    <div class="row">
      <h5>Informações Bancárias</h5>
      <div class="input-field input-group-control col s12">
        <label for="banco">Banco</label>
        <input type="text" name="banco">
      </div>
      <div class="input-field input-group-control col s12">
        <label for="agencia">Agência</label>
        <input type="text" name="agencia">
      </div>
      <div class="input-field input-group-control col s12">
        <label for="n_conta_corrente">Nº Conta Corrente</label>
        <input type="text" name="n_conta_corrente">
      </div>
    </div>


    <div class="row">
      <h5>Informações do Endereço</h5>
      <div class="input-field input-group-control col s12">
        <label for="cep">CEP</label>
        <input required="true" class="cep" type="text" name="cep">
      </div>

      <div style="padding: 0;" class="col s12">
        <div class="input-field input-group-control input col s12">
          <label for="rua">Rua *(Obrigatório)</label>
          <input required="true" class="rua validate" type="text" name="rua">
        </div>

        <div class="input-field input-group-control col s12">
          <label for="bairro">Bairro *(Obrigatório)</label>
          <input required="true" class="bairro validate" type="text" name="bairro" id="bairro">
        </div>

        <div class="input-field input-group-control col s12 m6">
          <label for="numero" style="left:0">Número *</label>
          <input required="true" class="numero validate" type="text" name="numero">
        </div>

        <div class="input-field input-group-control col s12 m6">
          <label for="estado">Estado *</label>
          <input required="true" class="uf validate" type="text" name="estado">
        </div>

        <div class="input-field input-group-control col s12">
          <label for="cidade">Cidade *(Obrigatório)</label>
          <input required="true" class="cidade validate" type="text" name="cidade">
        </div>
      </div>

    </div>

    <div class="right-align">
      <button class="btn modal-close grey">Cancelar</button>


      <button data-href="/sistema/processos/cadastrar-cliente-simples/" class="btn waves-effect waves-light bordo ajax-submit-container-reload modal-close" title="Salvar Cliente" data-container="#modalinfo .modal-content" data-mensagem-sucesso="Cliente Cadastrado!">
        Salvar <i class="fa fa-floppy-o" aria-hidden="true"></i>
      </button>
    </div>
  </form>