    <a href="/sistema/clientes/criar" class="ajax-load">
      <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-l">Criar Cliente</div>
    </a>
    <a href="/sistema/clientes/" class="ajax-load">
      <div class="cream darken-3 tab-archive tab-nivel-2 tab-nivel-2-r">Pesquisar/Editar</div>
    </a>
    <div class="cream tab-archive">Editar Cliente</div>



    <div class="card cream archive">
      <form method="POST" action="" enctype="multipart/form-data">


        <div class="right-align row">
          <a href="/sistema/clientes/" class="ajax-load">
            <div class="left valign-wrapper">
              <div class="btn-floating btn-large waves-effect waves-light bordo lighten-1">
                <i class="fa fa-search" aria-hidden="true"></i>            
              </div>
              <div class="black-text margin-l-5">Pesquisar Clientes</div>  
            </div>

          </a>



          <div class="right valign-wrapper">
            <div class="black-text margin-r-5">Salvar Cliente</div>
            <button data-href="/sistema/clientes/atualizar/" class="btn-floating btn-large waves-effect waves-light bordo ajax-submit" data-action="/sistema/clientes/">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>          
            </button>

          </div>
        </div>

        <%- include('cliente_editar_no_cliente'); %>




        <div class="right-align">
          <button data-href="/sistema/clientes/atualizar/" data-action="/sistema/clientes/" class="btn waves-effect waves-light bordo ajax-submit">
            Salvar <i class="fa fa-floppy-o" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
