<h4>Criar Categoria</h4>
<form method="POST" action="" enctype="multipart/form-data">
  <div class="row">
    <div class="input-field input-group-control col s12">
      <label for="nome">Nome</label>
      <input required="true" class="validate" type="text" name="nome">
    </div>
  </div>
  <div class="right-align">
    <button data-href="/sistema/clientes/cadastrar/grupo" data-action="add_name" class="btn waves-effect waves-light bordo ajax-submit" data-ac>
      Salvar <i class="fa fa-floppy-o" aria-hidden="true"></i>
    </button>
  </div>
</form>
