<section id="equipe-section" class="container semi-full">
	<div class="row">
		<h5 class="def-h5 center" style="padding: 30px 0 30px 0;">Equipe</h5>
		<div class="container">
			<!-- <p><strong>ÉTICA:</strong> Atuar com lealdade, honestidade e justiça frente aos colegas de trabalho, clientes e todos com quem o escritório se relaciona<br><br><strong>RESPONSABILIDADE:</strong> Atuar com dedicação, qualidade e comprometimento no desempenho das atividades do escritório.<br><br><strong>HUMANIDADE:</strong> Atuar atento à condição humana, tanto nas ações cotidianas do trabalho como na busca da estratégia do escritório em busca dos direitos dos clientes.</p> -->
			<p>Mantemos uma equipe de profissionais aptos a atender às demandas judiciais e extrajudiciais, com eficiência e transparência nas diversas áreas de atuação.</p>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
		<div class="col s8 offset-s2 m4 l3">
			<div class="card">
				<div class="card-image valign-wrapper">
					<img src="/assets/imgs/scale-bg.png">
				</div>
				<div class="card-content">
					<p><strong>José Genovésio</strong></p>
					<p style="font-size: 0.9em !important;">OAB/RS - 55.555</p>
				</div>
			</div>
		</div>
	</div>
</section>