<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Quorp</title>
    <link rel='stylesheet' href='/assets/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/assets/css/materialize.min.css' />
    <link rel='stylesheet' href='/assets/css/style.css' />
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body class="row" style="background-color: #1d1917;">
  <main>
		<section>
			<div class="login white-text">
				<form method="POST" action="/login">
					<div class="icon center-align" style="padding: 15px 0;">
						<a href="/">
							<img style="max-height: 320px;" src="/assets/imgs/logo.png">
						</a>
					</div>
					<div class="box black arrow_box">
						<%
						console.log('--------------------- tipo_erro-----------------------------');
						console.log(tipo_erro);
						if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == '404') {
						%>
		        		<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
		        			<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
		        		</div>
						<%
						} else if (typeof erro != 'undefined' && typeof tipo_erro != 'undefined' && tipo_erro == 'login') {
						%>
		        		<div class="card-panel red darken-1 center-align" style="margin-bottom: 25px;">
		        			<span class="white-text">Usuário ou senha incorreto(s), tente novamente.</span>
		        		</div>
						<%
						}
						%>
						<div class="input-field">
							<i class="fa fa-user prefix" aria-hidden="true"></i>
							<input type="text" name="login" id="login" class="validate" autocomplete="off">
							<label for="login">Usuário</label>
						</div>
						<div class="input-field">
							<i class="fa fa-key prefix" aria-hidden="true"></i>
							<input type="password" name="senha" id="senha" class="validate" autocomplete="off">
							<label for="senha">Senha</label>
						</div>
						<small><a class="esqueceu-senha" href="#">Esqueceu sua senha?</a></small>
						<div class="center-align">
							<button class="btn-large acessar darken-2 waves-effect waves-teal waves-light">
								Acessar
							</button>
						</div>
					</div>
				</form>
			</div>
		</section>
		<style type="text/css">
			html {
				height: 100%;
		    	min-height: 100%;
			    background-color: #f5f5f5;
			}
			.login .icon {
				font-size: 6em;
			}
			.login .box {
			    width: 50%;
		    	margin: auto;
		    	padding: 20px;
		    	box-sizing: content-box;
			}
			.login small a.esqueceu-senha {
				color: #fff0c4;
			}
			.login button.acessar {
				color: #000000;
		    background: rgb(255,214,94);
		    background: -moz-linear-gradient(45deg, rgba(255,214,94,1) 0%, rgba(255,232,170,1) 51%, rgba(255,214,94,1) 100%);
		    background: -webkit-linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%);
		    background: linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(255,232,170,1) 51%,rgba(255,214,94,1) 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#ffd65e',GradientType=1 );
			}
	    footer {
        position: absolute;
        bottom: 0;
        min-width: 100%;
        background-color: rgba(178, 34, 34, 0.9);
	    }
		    .arrow_box {
				position: relative;
				background: #000000;
				border: 4px solid #fbd256;
			}
			.arrow_box:after, .arrow_box:before {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			.arrow_box:after {
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #000000;
				border-width: 10px;
				margin-left: -10px;
			}
			.arrow_box:before {
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: #fbd256;
				border-width: 16px;
				margin-left: -16px;
			}
			.input-field .prefix.active {
			    color: #1976D2 ;
			}
			img {
				width: 100%;
				max-width: 450px;
			}
			input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
			    border-bottom: 1px solid #1976D2 ;
		   		box-shadow: 0 1px 0 0 #1976D2 ;
			}
			input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
			    color: #1976D2 ;
			}
		</style>
  </main>
  </body>
</html>
