<section>
	<div class="row">
		<div class="col s12 m6 l4">
			<div style="max-height: 250px">
				<img src="/assets/imgs/scale-bg.png" style="width: 100%;">
			</div>
			<span class="categoria"></span>
			<h5 class="def-h5 blog-titulo"></h5>
			<p class="blog-noticia-conteudo"></p>
			<div class="blog-autor-bottom valign-wrapper">
				<img src="/assets/imgs/scale-bg.png" class="circle" style="width: 30px; height: 30px;">
				<span>NOME DO AUTOR</span>
			</div>
		</div>
	</div>
</section>