<h4>Seus Documentos</h4>
<div class="row">
  <%
  if (typeof data != 'undefined' && data.length > 0) {
    for (var i = data.length - 1; i >= 0; i--) {
  %>
	<div class="col s12 m6">
		<a class="arquivo-escolha" data-nome="<%= data[i].arquivo %>" href="">
			<div class="card-panel white valign-wrapper bordo-text" style="height: 120px; overflow: hidden;">
				<p class="word-wrap center-align" style="width: 100%;">
					Arquivo: <br> <b style="font-size: 0.8em;"><%= data[i].arquivo %></b>
				</p>
			</div>
		</a>
	</div>
	<%
		}
	}
	%>
</div>